/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

.jumbo-search-wrapper {
  padding: 6px 4px;
  display: inline-block;
  width: 800px;
  font-size: 19px;
  border-radius: $radius;
  background-color: rgba($colorWhite, 0.3);
  position: relative;

	.error {
		position: absolute;
		left: 10px;
    top: 110%;
    font-size: 13px;
	}

  &.desktop {
    display: inline-block;
  }

  &.mobile {
    display: none;
  }

  @mixin defaultInput() {
    padding: 16px 22px;
    border-radius: 0;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    vertical-align: top;
    display: inline-block;
  }

  margin-top: 15px;

  .form-control,
  .dropdown {
    display: inline-block;
    width: auto;
    vertical-align: top;
  }

  .dropdown {
    .dropdown-menu {
      .dropdown-item {
        &:hover,
        &:active,
        &:focus {
          background-color: darken($colorWhite, 4%);
        }
      }
    }
  }

  .btn {
    @include defaultInput();
    height: 55px;

    &.btn-secondary {
      background-color: $colorWhite !important;
      border: none !important;
      color: $colorBase;
      border-radius: 0;
    }

    &.btn-primary {
      min-width: 120px;
      border-radius: 0;
      border: none;
    }
  }

  .form-control {
    @include defaultInput();
    width: 55.3%;
    height: 55px;
  }

  @media (max-width: 992px) {
    &.desktop {
      display: none;
    }

    &.mobile {
      padding: 6px 6px;
      width: 100%;
      display: block;

      a {
        text-decoration: none;
        opacity: 0;
      }
      .input-illusion-wrapper {
        .input {
          display: block;
          width: 100%;
          height: 55px;
          background: $colorBackground;
          color: $colorBase;
          line-height: 55px;
          text-align: left;
          padding: 0 15px;
          font-size: 14.5px;
        }
      }
    }
  }

  @include clear();
}

.modal-jumbo-search {
  .modal-body {
    .form-control {
      margin: 15px 2px;
      padding: 10px;
    }

    .error {
      color: $colorPrimary;
    }
    .dropdown,
    > .btn.btn-primary {
      float: left;
      width: calc((100% / 2) - 66px);
      margin: 2px;

      .btn {
        width: 100%;
        display: inline-block;
      }

      &:first-child {
        margin-left: -2px;
      }
      &:last-child {
        margin-right: -2px;
      }

      @include clear();
    }

    .btn.btn-primary {
      margin: 2px;
      width: 120px;
    }
  }
}
