.map-container{
	margin: 80px 0;

	.map {
		position: relative;
		box-shadow: 0 0 70px 0 rgba(0,0,0,.1);
		height: 500px;
		
		iframe {
			width: 100%;
			height: 500px;
			position: absolute;
			left: 0;
			top: 0
		}
	}

	.nearby-places{
		position: absolute;
		z-index: 2;

		.accordion {
		    width: 300px;
		    margin: 10px;
		    
		    .header {
		    	border: none;
		    	border-bottom: 2px solid $colorTertiary;
		    }

		    .content {              
		    	padding: 0;

		        ul {
		            list-style-type: none;
		            margin: 0;
		            padding: 0;

		            li{
		                a {
		                    display: block;
		                    text-decoration: none;
		                    border-bottom: 1px solid $colorBorder;
		                    padding: 15px;
		                    color: $colorBase;
		                }
		            }
		        }
		    }
		}

	}

	@media(max-width: 576px) {
		.nearby-places{
			width: calc(100% - 30px);

			.accordion{
				width: 100%;
			}
		}
	}
}