.modal-account{
	ul.why-us{
		list-style-type: none;
		padding: 0;
		margin: 0;

		li{
			line-height: 28px;

			i {
				font-size: 27px;
				position: relative;
				top: 5px;
			}
		}
	}

	.content{
	}

	.alert{
		max-height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;

		&.slide-down {
			max-height: 400px;
			padding: 10px;
			padding-right: 3rem;
			margin-bottom: 20px;
			opacity: 1;
		}		
	}

	.alert-dismissible .close {
	    padding: 7px;
	}
		
}