/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

.our-offerings-container{
    @mixin content(){
        .content{
            background-color: rgba($colorWhite, 0.90);
            padding: 30px;
            @include shadowLite();
            border-radius: $radiusLG;

            h2 {
                font-weight: 300;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 30px;
            }
        }
    }

    .card {
        border: none;
        background-color: transparent;
        box-shadow: none;
        
        img {
            border-radius: $radiusLG;
            width: 250%;
            display: block;
            height: 380px;
            object-fit: cover;
            object-position: center center;

            @media(max-width: 992px) {
                width: 400%;
            }
        }

        @include content();
        
    }

    .special-card {
        @include content();
        background-image: url(../img/backgrounds/special-offering.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;
        overflow: hidden;
        border-radius: $radiusLG;
        @include shadowLite();

        .content {
            position: relative;
            padding-right: 250px;
            background-color: transparent;

            p{
                margin-bottom: 6px;
                font-size: 15px;
                letter-spacing: 1px;
            }

            p, h2 {
                color: $colorBase;
                position: relative;
                z-index: 1;
            }

            a.icon {
                position: absolute;
                height: 65px;
                background-color: $colorBackground;
                border-radius: 50px;
                text-align: center;
                z-index: 2;
                right: 30px;
                top: 0;
                bottom: 0;
                margin: auto;
                text-decoration: none;
                color: $colorSecondary;
                @include shadowLite();
                i {
                    line-height: 65px;
                    font-size: 53px;
                }

                span {
                    display: inline-block;
                    position: relative;
                    top: -18px;
                    font-size: 16px;
                    font-weight: 500;
                    left: -14px;
                }
            }

            @media(max-width: 768px) {
                padding-right: 30px;

                a.icon {
                    margin-top: 20px;
                    margin-left: 30px;
                    position: relative;
                    display: inline-block;
                }
            }
        }

        @include overlayWhiteSolid(); 
    }
}