.primary-filters{
	background-color: darken( $colorWhite, 0.5% );
	min-height: 50px;
	border-top:	1px solid darken( $colorBorder, 3% ); 
	border-bottom: 1px solid darken( $colorBorder, 3% ); 
	position: fixed;
	top: 65px;
	width: 100%;
	z-index: 2;

	.mobile-only{
		display: none;
	}
	
	ul.applied-filters {
		list-style-type: none;
		margin: 0;
		padding:0;
		font-size: 0;
		margin: 0 -10px; 
		position: static;
		padding-right: 85px;

		&::after {
			border-top: 1px solid darken( $colorBorder, 3% );
			content: '';
			position: absolute;
			left: 0px;
			right:0px;
			top: 1px;
		}

		li {
			margin: 10px 5px 0 5px;
			font-size: 12px;
			border: 1px solid $colorBorder;
			padding: 2px 14px;
			display: inline-block;
			border-radius: $radiusLG;
			position: relative;
			padding-right: 30px;
			font-weight: 500;

			span.close {
				padding-right: 2px;
				font-size: 10px;
				width: 20px;
				display: inline-block;
				float: none;
				background: $colorTertiary;
				text-align: center;
				height: calc(100% + 2px);
				opacity: 1;
				text-shadow: none;
				color: $colorWhite;
				position: absolute;
				right: -1px;
				top: -1px;
				border-radius: 0 $radiusLG $radiusLG 0;
				font-family: unset;
				line-height: 24px;
			}
		}

		li.reset {
			cursor: pointer;
			padding: 2px 14px;
			border-color: darken($colorPrimary, 5%);
			background-color: $colorPrimary;
			color: $colorWhite;
			margin-bottom: 10px;

			i {
				font-weight: 500;
			}
		}
	}
}

ul.filters {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	position: static;

	li {
		display: inline-block;			
		border-right: 1px solid darken( $colorBorder, 3% );
		vertical-align: top;
		
		&.search{
			width: 350px;
			position: relative;

			i {
				position: absolute;
				left: 5px;
				top: 13px;
				font-size: 26px;
				font-weight: 900;
				color: darken( $colorBorder, 5% );
			}

			.form-control {
				height: 50px; 
				padding-left: 36px;
				border: 0;
				border-radius: 0;
				background-color: transparent;
			}
		}

		&.dropdown{
			> .btn.btn-outline-normal {
				height: 50px;
				border: none;
				padding-left: 10px;
				padding-right: 10px;
				border-radius: 0 !important;
			}
			.dropdown-menu{
				left: -1px !important;
			}

			.range-wrapper{
				width: 300px;
				min-height: 100px;
				padding: 15px 15px 20px 15px; 

				.row {						
					margin: 0px -5px 20px -5px;
					
					.col, .col-auto{
						padding: 0 5px;

						.label {
							margin: 0;
							line-height: 0;
							font-weight: 500;
							padding-left: 2px;
						}

						.btn {
							position: relative;
							top: 24px;
						}
					}
				}
			}
		}

		&.dropdown.more-options{
			position: static;

			.dropdown-menu{
				width: 100% !important;
				left: 0px !important;
				top: auto !important;
				transform: none !important;
				border-right: none;
				border-left: none;
				padding: 20px 0;
			}
		}
	}

}

@media(max-width: 1200px) {
	.primary-filters{
		.btn {
			font-size: 13.5px;
		}
	}
}

@media(max-width: 1120px) {
	.primary-filters{
		.btn {
			font-size: 13.5px;
		}
		ul.filters {
			li.search{
				width: 280px;
				font-size: 13.5px;
			}
		}
	}
}

@media(max-width: 1050px) {
	.primary-filters{
		ul.filters {
			li.search{
				width: 200px;
			}
		}
	}
}

@media(max-width: 992px) {
	
	.add-filters-modal ul.filters {

		li {
			display: block;			
			border-right: none;
			border-bottom: 1px solid $colorBorder;
			margin-bottom: 25px;
			padding-bottom: 15px;

			&.search{
				width: 100%;
				padding-bottom: 0;
    			margin-bottom: 20px;
			}

			&.dropdown{
				> .btn.btn-outline-normal {
					width: 100%;
					text-align: left;
					background-color: $colorBackground !important;
					font-weight: 500;
					border-radius: $radius !important;
					border: 1px solid $colorBorder !important;

					.dropdown-toggle::after{
						display: none;
					}
				}

				.dropdown-menu{
					display: block !important;
					position: relative!important;
					float: none!important;
					transform: none !important;
					left: 0 !important;
					box-shadow: none;
					border:none;
					margin-top: 2px;
				}

				.range-wrapper{
					padding: 5px 15px 20px 15px; 
					.row {												
						.col, .col-auto{
							.btn {
								line-height: 28px;
							}
						}
					}
				}
			}

			&.dropdown.more-options{
				.container {
					padding: 0 10px;
					margin-top: -25px;
				}
			}
		}
	}

	.add-filters-modal .apply-button {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
		border-radius: 0;
		height: 50px;
	}

	.primary-filters{
		top: 52px;
		min-height: 0;

		.mobile-only{
			display: block;
		}

		.right-handle{
			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			padding:0 6px;
			text-align: center;
			justify-content: center !important;
			border-top: 2px solid darken($colorTertiary, 4%);
			background-color: rgba($colorTertiary, 0.95);
			@include transition($delay: 0.0s);
			opacity: 0;
			bottom: -60px;

			&.show {
				bottom: 0;
				opacity: 1;
				z-index: 9
			}

			ul.filters{
				.dropdown{
					border-right: 0;
					position: static;

					.dropdown-menu {
						width: calc(100% - 30px) !important;
						left: -1px !important;
						top: -7px !important;
						border-radius: $radius;
					}

					.dropdown-toggle::after {
						transform: rotate(-180deg);
					}
				} 
			}

			.btn-secondary{
				width: 94%;
				padding: 10px 10px;
				margin: 5px 10px !important;
				background: $colorBackground !important;
				border-color: $colorBorder !important;
				color: $colorBase !important;
				font-size: 14.5px;
			}
		}

		ul.applied-filters {
			overflow: hidden;
			overflow-x: auto;
			white-space: nowrap;
			margin-left: -20px;
			margin-right: -20px;
			position: relative;
			margin-top: -2px;
			@include scroll();
			
			&::after {
				top: 0px !important;
			}

			li {
				margin-bottom: 10px;
			}

			li.reset {
				position: fixed;
				right: 0;
				margin-right: 0;
				height: 32px;
				line-height: 21px;
				margin-top: 6px;
				margin-bottom: 0;
				margin-left: 0;
				border: 4px solid $colorBackground;
				border-radius: 6px;
			}
		}
	}
}