/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

.property-node-container{
    @include flexbox();
    align-items: stretch;    

    .slick-track{
        @include flexbox();
    }

    .property-node {
        width: 300px;
        min-height: 300px;
        margin: 12px;
        -moz-border-radius: $radius;
        border-radius: $radius;
        @include shadowDefault();
        outline: none !important;
        position: relative;
        height: auto;
        background-color: $colorWhite;

        a{
            display: block;
            text-decoration: none;
            color: $colorBase;            
            outline: none !important;
        } 

        .image-holder {            
            img {
                width: 100%;
                height: 230px;
                object-fit: cover;
                display: block;
                border-radius: $radius $radius 0 0 ;
            }

            .fav-icon, .quick-view{
                position: absolute;
                right: 12px;
                top: 12px;
                z-index: 1;
                background-color: $colorWhite;
                -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
                -moz-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
                box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
                border-radius: 100%;
                width: 40px;
                height: 40px;
                text-align: center;
                

                i {
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 41px;
                    color: $colorTertiary;
                }

            }

            &.hover-change{
            	min-height: 230px;

            	img {
            		display: none;
            	}

                .fav-icon, .quick-view{
                    z-index: 250;
                }
            }
        }

        .content {
            padding:15px 10px;

            h2 {
                font-size: 16px;
                margin-bottom: 20px;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 0px;
            }
        
            address{                  
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid $colorBorder;
                font-size: 13px;
                font-weight: 500;

                i {
                    font-size: 12px;
                    font-weight: 900;
                }
            }

            .price{
                text-align: right;

                .starts-from{
                    margin-top: 3px;
                    font-size: 10px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                var{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;   
                }
            }

            .available-in{
                font-weight: 500;
                line-height: normal;
            }            
        }

        @media(min-width: 769px) {
            .badge{
                float: right;
            }
        }
    }

    &:not( .map-view ) {
        padding: 10px 50px;

        .property-not-found{
            h4 {
                margin-top: 20px;
                margin-bottom: 0;
            }
            .form{
                padding: 20px 15px;
                margin-top: 20px;
                width: 400px;
                margin-left: auto;
                margin-right: auto;
            }   
        }
    }

    &.map-view {
        @include flex-direction(column);

        .property-node {
            width: auto;
            min-height: auto;
            margin: 15px 5px 10px 15px;
            position: relative;

            .image-holder { 
                width: 45%;   
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                img {
                    height:100%;
                    border-radius: $radius 0 0 $radius ;
                }

                .fav-icon, .quick-view{
                    right: 7px;
                    top: 7px;
                    width: 25px;
                    height: 25px;

                    i {
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 25px;
                    }

                }
            }


            .content {
                padding-left: calc(45% + 10px);
            }
        }   
    }

    .property-not-found{
        padding: 30px 30px 30px 30px;
        // @include flexbox();
        // height: 100%;
        // min-height: 300px;

        h4 {
            text-align: center;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .form{
            width: 100%;
            padding: 20px 10px 10px 10px;
            background-color: $colorWhite;
            @include shadowLite();
            border-radius: $radius; 
        }
    }
}