.questions-answer-container{
	.questions {
		position: relative;
		margin-top: 20px;

		span {
			margin-right: 10px;
			background: $colorTertiary;
			border-radius: $radius;
			color: $colorWhite;
			height: 30px;
			position: absolute;
			left: 0px;
			top: -8px;
			bottom: 0;
			margin: auto;
			width: 30px;
			line-height: 30px;
			text-align: center;
		}

		font-weight: 500;
		padding-left: 40px;
	}

	.answer{
		font-size: 14px;
	}
}	