


.static-nodes-container{

    .node{
        width: 100%;
        border: none;
        position: relative;
        padding-top: 60px;
        margin-top: 20px;

        .icon {
            position: absolute;
            left: 0;
            top: 0px;
            width: 50px;
            height: 50px;
            text-align:center;
            background-color: $colorSecondary;
            @include shadowDefault();
            border-radius: 100%;

            i{
                line-height: 50px;
                font-size: 22px;
                color: $colorWhite;
            }
        }

        h3 {
            font-weight: 300;
            font-size: 20px;
            position: absolute;
            top: 11px;
            left: 60px;
        }

        p{
            font-size: 14px;
        }

        &.node-style-2{
            padding-top: 0;

            .icon {
                width: 70px;
                height: 70px;
                background-color: $colorTertiary;
                border-radius: $radius;
                position: static;
                margin-bottom: 20px;

                i{
                    line-height: 70px;
                    font-size: 37px;
                }
            }

            h3 {
                font-size: 24px;
                position: static;
            }

            p {
                font-size: 15px;
            }
            
        }

        &.node-style-3{
            padding-top: 0;
            text-align: center;
            padding: 10px;

            .icon {
                width: 50px;
                height: 50px;
                background-color: $colorWhite;
                border-radius: 100%;
                position: static;
                margin-bottom: 20px;
                display: inline-block;

                i{
                    line-height: 50px;
                    font-size: 24px;
                    font-weight: 900;
                    color: $colorTertiary;
                }
            }

            h3 {
                font-size: 22px;
                position: static;
            }

            p {
                font-size: 13.5px;
            }
            
        }

        &.node-style-4{
            padding-top: 0;
            padding: 20px 0;
            margin: 0;

            .icon {
                width: 60px;
                height: 60px;
                background-color: $colorTertiary;
                border-radius: $radius;
                position: relative;

                i{
                    line-height: 60px;
                    font-size: 32px;
                }

                &::after{
                    content: '';
                    position: absolute;
                    height: 150%;
                    width: 2px;
                    background-color: $colorTertiary;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 60px;
                }
            }

            &:last-child .icon{
                    &::after{
                        display: none;
                    }
                }

            p {
                font-size: 16px;
                padding-left: 15px;
                position: static;
            }

            .icon, p{
                display: inline-block;                
                vertical-align: middle;
                margin: 0;
            }
            
            p {
                width: calc(100% - 65px);
            }
        }
    }

    .image {
        height: 100%;
        width: 100%;
        background-image: url('https://thumb9.shutterstock.com/display_pic_with_logo/176255474/680546005/stock-vector-young-man-sitting-and-resting-in-a-chair-vector-illustration-680546005.jpg');
        background-size: cover;
    }

    .btn {
        i {
            font-size: 18px;
            font-weight: 600;
            position: relative;
            top: 2px;
            left: -3px;
        }
    }

}