.step-wizad-container{
    overflow-x: hidden;

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
    
    .step-wizad-reel{
        overflow-x: hidden;
        display: block;
        white-space: nowrap;
        transition: all 0.5s cubic-bezier(0.13, 0.71, 0.41, 0.85);
        margin: 0 -10px;
        font-size: 0;

        > .step {
            font-size: 0;
            display: inline-block;
            padding: 0 10px;
            width: 100%;
            vertical-align: top;
        }

    }
    .btn {
        width: 33%;
    }

    .completed {
        
        h3 {
            font-weight: 300;
        }

        i {
            font-size: 62px;
            font-weight: 100;
            padding: 20px;
        }
    }
    
}