/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

.primary-footer{
    background-color: $colorBlackLG;
    color: $colorWhite;
    padding-bottom: 20px;
    margin-top: 80px;

    .cities {
        padding: 40px 0;
        background-color: $colorBlack;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: block;

                a {
                    display: inline-block;
                    padding: 3px 0;
                    color: darken($colorWhite, 5%);
                    font-size: 13px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                }
            }
        }
    }

    .heading {
        margin: 25px 0;
        color: darken($colorWhite, 50%);
        text-transform: uppercase;
        font-weight: 900;
    }

    .other {
        margin-top: 60px;

        .about {
            font-size: 15px;
            text-align: center;
            color: darken($colorWhite, 25%);
            margin:0; 
            letter-spacing: 0.5px;
            font-weight: 500;
        }

        .other-links{
            margin-top: 30px;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li{
                    display: block;

                    a {
                        display: inline-block;
                        padding: 3px 0;
                        color: darken($colorWhite, 5%);
                        font-size: 13px;
                        letter-spacing: 0.5px;
                        font-weight: 500;
                    }
                }
            }

            .tel, .email {
                a{ 
                    color: darken($colorWhite, 25%);
                    font-size: 20px;
                    font-weight: 600;
                    padding: 10px 0;
                    font-family: 'Roboto'; 
                }
            }
        }
    }

    .socil-media-link{
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 40px !important;

        li {
            width: 60px;
            display: inline-block !important;

            a {
                color: $colorWhite;
                display: inline-block;

                i {
                    font-size: 24px;
                }
            }
        } 
    }

    p.copyright{
        margin:0;
        color: darken($colorWhite, 25%);
        padding:5px 0;
    }
}
