/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

.hero-section {
  background-position: center center;
  background-size: cover;
  position: relative;

  &.hero-lg,
  .content {
    height: 100vh;
    width: 100%;

    @media (max-width: 999px) {
      height: calc(100vh - 55px);
    }
  }

  &.hero-lg {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &.hero-overlay-black {
    @include overlayBlack();
  }

  &.hero-static {
    height: 350px;
    margin-bottom: 40px;
    margin-top: 65px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }

    h2 {
      color: $colorWhite;
      margin: 0;
      font-weight: 300;
    }

    .container {
      z-index: 1;
      position: relative;
    }

    @media (max-width: 992px) {
      height: 0;
      min-height: 200px;
      margin-top: 0;

      h2 {
        padding: 10px;
      }
    }

    @media (max-width: 768px) {
      min-height: 150px;
      margin-bottom: 25px;
    }

    @include overlaySolidBlack();
  }

  &.hero-home {
    background-image: url("../img/hero-slider/1.jpeg");
    @include transition(
      $prop: background,
      $ease: linear,
      $time: 0.8s,
      $delay: 0s
    );
  }
  header.header {
    z-index: 1;
    position: relative;
    width: 100%;
    .head-lg {
      font-size: $fontSizeHeadLG;
      text-shadow: 1px 1px 7px #595959;
      margin: 0;

      color: $colorWhite;
      &::after {
        display: none;
      }
    }
    p {
      color: $colorWhite;
      margin: 0;
      font-size: 22px;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
    }
    @media (max-width: 992px) {
      .head-lg {
        font-size: 48px;
      }
      p {
        font-size: 20px;
      }
    }
    @media (max-width: 768px) {
      .head-lg {
        font-size: 44px;
      }
      p {
        font-size: 18px;
      }
    }
    @media (max-width: 578px) {
      .head-lg {
        font-size: 40px;
      }
    }
  }
  &.hero-desc {
    .img-wrapper {
      overflow-x: auto;
      white-space: nowrap;
      height: calc(100% + 15px);
      @include scroll2();
      img {
        width: auto;
        height: 100%;
        object-fit: cover;

        position: relative;
        display: inline-block;
      }
    }
    &.hero-lg,
    .content {
      height: 70vh;
      cursor: pointer;
    }
  }
}
