html {
    position: relative;
    overflow-x: hidden;
    
    &.nav-open{
        overflow: hidden;
    }
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $colorBase;
    background-color: $colorBackground;
    overflow-x: hidden;

    &.modal-open{
    	padding-right: 0 !important;
    }

    &.nav-open{
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            background-color: $colorBackground;
            opacity: 0.85;
            width: 100%;
            height: 100%;
        }
    }

    @media(max-width: 999px){
        padding-top: 55px;
    }
}


hr{
	border-top-color: $colorBorder; 
}

.link-secondary{
	color: $colorSecondary;
	text-decoration: underline;
	
	&:hover {
		color: darken($colorSecondary, 10%);
	}
}

a.link-modal-toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 1;
    background-color: rgba($colorTertiary, 0.95);
    text-align: center;
    line-height: 53px;
    color: $colorWhite;
    font-size: 18px;
    text-decoration: none;
    border-top: 2px solid darken($colorTertiary, 4%);

    @include transition($delay: 0.0s);
    opacity: 0;
    bottom: -55px;

    &.show {
        bottom: 0;
        opacity: 1;
        z-index: 9
    }
}