/* ---------------------------
	TRANSITIONS
------------------------------------------------------------------------------------------------------- */

@mixin transition ($prop: all, $time: 0.2s, $ease: linear, $delay: 0.1s) {
	-webkit-transition: $prop $time $ease $delay;
	-moz-transition: $prop $time $ease $delay;
	-o-transition: $prop $time $ease $delay;
	-ms-transition: $prop $time $ease $delay;
	transition: $prop $time $ease $delay;
}

@mixin transitionCubic( $prop : all ){
	-webkit-transition: $prop .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	-moz-transition: $prop .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	-o-transition: $prop .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	-ms-transition: $prop .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: $prop .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@mixin transitionAll(){
	-webkit-transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	-moz-transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	-o-transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	-ms-transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}