/* ---------------------------    
        
------------------------------------------------------------------------------------------------------- */

@mixin shadowDefault(){
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    -moz-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

@mixin shadowLite(){
    -webkit-box-shadow: 2px 4px 8px 0 rgba(225, 225, 225, 0.33);
    -moz-box-shadow: 2px 4px 8px 0 rgba(225, 225, 225, 0.33);
    box-shadow: 2px 4px 8px 0 rgba(225, 225, 225, 0.33);
}