/* ---------------------------
	CLEAR
------------------------------------------------------------------------------------------------------- */

@mixin clear() {
	&::after {
		clear: both;
		display: table;
		content: '';
		height: 0.1px;
	}
}