
/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

@mixin peIcon( $content ){
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content : $content;
}