@mixin scroll() {
    &::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: darken($colorBorder, 35);
    }
    &::-webkit-scrollbar-track {
        background: darken($colorBorder, 10);
    }
}


@mixin scroll2() {
    &::-webkit-scrollbar {
        width: 4px;
        height: 12px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: darken($colorBorder, 35);
    }
    &::-webkit-scrollbar-track {
        background: darken($colorBorder, 10);
    }
}