.btn {
	outline: none !important;
	box-shadow: none !important;
	font-size: 14.5px;
	padding-top: 9px; 
	padding-bottom: 9px; 
	border-radius: $radius;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.btn-xl {
		font-size: 17px;
		padding: 20px 40px;
	}

	&.btn-lg {
		font-size: 15px;
		padding: 15px;
	}

	&.btn-sm {
		font-size: 14.5px;
		padding: .375rem .75rem;
	}

	&.btn-xs {
		font-size: 12px;
		padding: 1px 5px;
	}

	&.btn-outline-white {
		border-color: $colorWhite !important;
		color: $colorWhite !important;
		background-color: transparent !important;
	}

	&.btn-outline-normal {
		border-color: $colorBorder !important;
		color: $colorBase !important;
		background-color: transparent !important;
	}

	&.btn-outline-secondary {
		border-color: $colorSecondary !important;
		color: $colorSecondary !important;
		background-color: transparent !important;
	}

	&.btn-outline-tertiary {
		border-color: $colorTertiary !important;
		color: $colorSecondary !important;
		background-color: transparent !important;
	}

	&.btn-primary {
		background-color: $colorPrimary;		
		border: 1px solid darken($colorPrimary, 5%);

		&:hover, &:active, &:focus, &:visited, 
		&:not([disabled]):not(.disabled).active, 
		&:not([disabled]):not(.disabled):active, 
		.show > &.dropdown-toggle{ 
			background-color: darken( $colorPrimary, 5% );
		}
	}

	&.btn-secondary {
		background-color: $colorSecondary;
		border: 1px solid darken($colorSecondary, 5%);

		&:hover, &:active, &:focus, &:visited, 
		&:not([disabled]):not(.disabled).active, 
		&:not([disabled]):not(.disabled):active, 
		.show > &.dropdown-toggle{ 
			background-color: darken( $colorSecondary, 5% );
		}
	}

	&.btn-tertiary {
		background-color: $colorTertiary;
		border: 1px solid darken($colorTertiary, 5%);
		color: $colorWhite;
		
		&:hover, &:active, &:focus, &:visited, 
		&:not([disabled]):not(.disabled).active, 
		&:not([disabled]):not(.disabled):active, 
		.show > &.dropdown-toggle{ 
			background-color: darken( $colorTertiary, 5% );
		}
	}

	

	&.btn-social {

		&.btn-facebook, &.btn-google {
			color: $colorWhite !important;
		}

		> :first-child {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 32px;
			line-height: 37px;
			font-size: 1.6em;
			text-align: center;
			border-right: 1px solid rgba(0,0,0,0.2);
		}
	}
}