.form-control{
	outline: none !important;
	box-shadow: none !important; 
	border-radius: $radius;
	border: 1px solid $colorBorder;
	font-size: 14.5px;
	line-height: 28px;

	overflow: hidden;  
    text-overflow:ellipsis;
    white-space: nowrap;
    
	@include transitionAll();
	
	&:hover, &:active, &:focus {
		border-color: darken($colorBorder, 15%);
	}

}

.form-group{
	label {
		margin: 0;
	    margin: 2px 0;
	    font-size: 14px;
	    font-weight: 500;
	    letter-spacing: 0.5px;
	    color: lighten( $colorBase, 20% );
	}

	.form-error{
		color: lighten( red, 20% );
		font-size: 13px;
		display: block;
		margin: 2px 0;
	}
}