/* ---------------------------
	
------------------------------------------------------------------------------------------------------- */

@mixin overlayGray(){
	&::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        content: '';
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba($colorSecondary, .98) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba($colorSecondary, .98) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(linear-gradient(to bottom, transparent 0%, rgba($colorSecondary, .98) 100%)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */ 
    }
}

@mixin overlayTertiarySolid(){
	&::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        content: '';
        background-color: rgba( $colorTertiary, 0.90 );    
    }
}

@mixin overlayWhiteSolid(){
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        content: '';
        background-color: rgba( $colorBackground, 0.90 );    
    }
}


@mixin overlayBlack(){
	&::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        content: '';
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0+100 */
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
}
@mixin overlaySolidBlack(){
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        content: '';
        background-color: rgba( $colorBlackLG, 0.45 );    
    }
}