$colorBase           : #1b1b1b;

$colorPrimary 		 : #a44033;

$colorSecondary 	 : #2c5668;

$colorTertiary 		 : #009688;

$colorBlack 		 : #232222; 

$colorBlackLG 		 : #141314;

$colorBackground 	 : #fafafa;

$colorWhite			 : #ffffff;

$colorBorder 		 : #efefef;