<% include ./common/header %>

<section class="hero-section hero-static">
	<img src="./assets/img/banners/aboutus.jpg">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col my-auto">
				<header class="header text-center">
					<h2 class="head-hero">Team Furnome</h2>
				</header>
			</div>
		</div>
	</div>
</section>

<section class="container about-us-container">
	<div class="row">
		<div class="col-12 margin-bottom-20">
			<article class="about">
				<header class="header">
					<h2 class="head-lg">Our <strong>Story</strong></h2>
				</header>
				<p>
					Furnome started with a vision to provide a better accommodation lifestyle to the migrating population only to realise later that the entire rental cycle needs an overhaul. The problem identified was that people moving to a new city tend to compromise on the lifstyle owing to uncertainity of the period of stay and lack of affordable options. Hence a product to provide brokerage free end to end property management to the house owners with affordable premium homes for tenants was created.
				</p>
				<p>
					The journey started mid 2015 in a room with an idea on a whiteboard, a belief among a bunch of people, and countless uncertainities outside the room. Two years down the line, with a bigger white board, more believers, a family of 2000+ tenants and 100+ house owners to support us, we proudly manage 800+ properties in Bangalore. The team strives to explore the markets potential, immprovise and keep on solving the problem even more efficiently. 
				</p>
				<p>
					The whiteboard thrives for your ideas and the family always awaits new members.<br>
					Come join the family and be a part of this amazing journey mailing on <a href="mailto:info@furnome.com">info@furnome.com</a>.						
				</p>
			</article>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-12">
			<header class="header">
				<h2 class="head-lg">Our <strong>Team</strong></h2>
			</header>
		</div>

		<div class="col-6 col-sm-4 col-md-3 margin-bottom-20">
			<img width="150" src="/assets/img/team/anurag.jpeg" class="m-auto d-block img-fluid rounded-circle">
			<h4 class="text-center margin-bottom-20 margin-top-20 text-weight-md">Anurag Dixit</h4>
		</div>
		<div class="col-6 col-sm-4 col-md-3 margin-bottom-20">
			<img width="150" src="/assets/img/team/anshul.jpeg" class="m-auto d-block img-fluid rounded-circle">
			<h4 class="text-center margin-bottom-20 margin-top-20 text-weight-md">Anshul Mishra</h4>
		</div>
		<div class="col-6 col-sm-4 col-md-3 margin-bottom-20">
			<img width="150" src="/assets/img/team/anmol.jpeg" class="m-auto d-block img-fluid rounded-circle">
			<h4 class="text-center margin-bottom-20 margin-top-20 text-weight-md">Anmol Dixit</h4>
		</div>
		<div class="col-6 col-sm-4 col-md-3 margin-bottom-20">
			<img width="150" src="/assets/img/team/yash.jpeg" class="m-auto d-block img-fluid rounded-circle">
			<h4 class="text-center margin-bottom-20 margin-top-20 text-weight-md">Yashwanth Jembige</h4>
		</div>
		<!-- <div class="col-6 col-sm-4 col-md-3 margin-bottom-20">
			<img width="150" src="/assets/img/team/anshul.jpeg" class="m-auto d-block img-fluid rounded-circle">
			<h4 class="text-center margin-bottom-20 margin-top-20 text-weight-md">Mr. John Doe Senior</h4>
		</div>
		<div class="col-6 col-sm-4 col-md-3 margin-bottom-20">
			<img width="150" src="/assets/img/team/anshul.jpeg" class="m-auto d-block img-fluid rounded-circle">
			<h4 class="text-center margin-bottom-20 margin-top-20 text-weight-md">Mr. John Doe Senior</h4>
		</div> -->
	</div>
</section>

<% include ./common/testimonials %>

<% include ./common/footer %>