<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_16x16.ico" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_32x32.ico" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_64x64.ico" sizes="64x64">

        <title>Merak</title>

        <!-- uikit -->
        <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

        <!-- altair admin -->
        <link rel="stylesheet" href="/assets/css/main.min.css" media="all">
        <link rel="stylesheet" href="/stylesheets/style.css" media="all">

        <!-- matchMedia polyfill for testing media queries in JS -->
        <!--[if lte IE 9]>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <![endif]-->
    </head>
    <body class="top_menu footer_active">
        <!-- main header -->
        <header id="header_main">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <div class="main_logo_top">
                        <a href="/"><img src="/landingpage/images/logo_top_white.png" alt="CloudBrew" style="height:65px;" /></a>
                    </div>

                    <!-- secondary sidebar switch -->
                    <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <div class="uk-navbar-flip">
                        <ul class="uk-navbar-nav user_actions">
                            <!-- <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li> -->
                            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="user_action_image"><img class="md-user-image" src="/assets/img/avatars/user.png" alt=""/></a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li><a href="/auth/signout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- main header end -->
        <div id="top_bar">
            <div class="md-top-bar">
                <ul id="menu_top" class="uk-clearfix">
                    <li title="Home" class="current_section">
                        <a href="/console">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">Home</span>
                        </a>
                    </li>
                    <li title="Add Organisation">
                        <a href="/console/add">
                            <span class="menu_icon"><i class="material-icons">&#xE8D3;</i></span>
                            <span class="menu_title">Add Organisation</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="page_content">
            <div id="page_content_inner">
                <%
                remainder = orgs.length%2
                quotient = parseInt((orgs.length) / 2)
                for(var i = 0; i < quotient; i++) {
                %>
                <%= quotient %>
                <div class="uk-grid uk-grid-width-1-2">
                    <div>
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <div class="md-card-toolbar-actions">
                                    <ul class="uk-tab" data-uk-tab="{connect:'#card_tabs',animation:'slide-horizontal'}">
                                        <li class="uk-active"><a href="#">Details</a></li>
                                        <li><a href="#">Categories</a></li>
                                        <li><a href="#">Item 2</a></li>
                                    </ul>
                                </div>
                                <h3 class="md-card-toolbar-heading-text">
                                    Card Heading
                                </h3>
                            </div>
                            <div class="md-card-content">
                                <ul id="card_tabs" class="uk-switcher uk-margin">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur dolore doloribus ducimus est ex facere fugiat impedit ipsum iure laborum magni minus nam nostrum optio pariatur quisquam, sapiente ut?</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi aspernatur dolore dolorem doloribus eius fugiat id impedit ipsum nam nemo, nisi nulla obcaecati odio officiis placeat quasi quia repellat tempore veritatis vero, voluptas? Facilis incidunt odit quam similique.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet atque beatae consequuntur delectus deleniti dolor eaque eligendi enim, et eum, exercitationem fugit, harum ipsam iure minus necessitatibus neque officiis optio quaerat quam quasi recusandae vitae voluptas voluptates? Ad aspernatur atque autem beatae, blanditiis cupiditate debitis doloribus et excepturi laborum magnam porro praesentium quae quaerat quisquam sapiente sint? Dicta, fugiat!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                }
                if(remainder == 1) {
                %>
                <div class="uk-grid uk-grid-width-1-1">
                    <div>
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <div class="md-card-toolbar-actions">
                                    <ul class="uk-tab" data-uk-tab="{connect:'#card_tabs',animation:'slide-horizontal'}">
                                        <li class="uk-active"><a href="#">Details</a></li>
                                        <li><a href="#">Product</a></li>
                                        <li><a href="#">User</a></li>
                                        <li><a href="#">Activity</a></li>
                                    </ul>
                                </div>
                                <h3 class="md-card-toolbar-heading-text">
                                    <%= orgs[i]['orgname'] %>
                                </h3>
                            </div>
                            <div class="md-card-content">
                                <ul id="card_tabs" class="uk-switcher uk-margin">
                                    <li>
                                        <strong>Key: </strong><%= orgs[i]['key'] %> 
                                        <br/>
                                        <strong>Salt: </strong><%= orgs[i]['salt'] %>
                                    </li>
                                    <li>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-2">
                                                <h3 class="heading_a">
                                                    Categories
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-2">
                                                <h3 class="heading_a">
                                                    Brand
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-2">
                                                <h3 class="heading_a">
                                                    Colors
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-2">
                                                <h3 class="heading_a">
                                                    Size
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-2">
                                                <h3 class="heading_a">
                                                    Gender
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-2">
                                                <h3 class="heading_a">
                                                    Age Range
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <h3 class="heading_a">
                                                    Acquisition Channel
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <h3 class="heading_a">
                                                    Activity Type
                                                </h3>
                                                <div class="uk-grid">
                                                    <div class="uk-width-1-1">
                                                        <div class="uk-form-file md-btn md-btn-primary">
                                                            Select
                                                            <input id="form-file" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                }
                %>
            </div>
        </div>

        <footer id="footer">
            &copy; Merak Software Solution <%= new Date().getFullYear() %>. All Rights Reserved.
        </footer>

        <div id="spinner_dialogue" class="uk-modal">
            <div style="position: fixed; top: 50%; right: 48%;">
                <img src="/assets/img/spinners/loading.gif" alt="" width="64" height="64" class="">
            </div>
        </div>

        <!-- google web fonts -->
        <script>
            WebFontConfig = {
                google: {
                    families: [
                        'Source+Code+Pro:400,700:latin',
                        'Roboto:400,300,500,700,400italic:latin'
                    ]
                }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();

        </script>

        <!-- common functions -->
        <script src="/assets/js/common.min.js"></script>
        <!-- uikit functions -->
        <script src="/assets/js/uikit_custom.min.js"></script>
        <!-- altair common functions/helpers -->
        <script src="/assets/js/altair_admin_common.js"></script>

        <!--  dropify -->
        <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>

        <!--  form file input functions -->
        <script src="/assets/js/pages/forms_file_input.min.js"></script>

        <script src="/javascripts/common.js"></script>
        <script>
            $(function() {
                // enable hires images
                altair_helpers.retina_images();
                // fastClick (touch devices)
                if(Modernizr.touch) {
                    FastClick.attach(document.body);
                }
            });
        </script>

    </body>
</html>