<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="shortcut icon" href="/assets/img/favicon.png" sizes="16x16">

        <!-- <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_16x16.ico" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_32x32.ico" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/cloudbrew_icon_64x64.ico" sizes="64x64">
 -->
        <title>Furnome | Property List</title>

        <!-- uikit -->
        <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

        <!-- altair admin -->
        <link rel="stylesheet" href="/assets/css/main.min.css" media="all">
        <link rel="stylesheet" href="/stylesheets/style.css" media="all">

        <!-- matchMedia polyfill for testing media queries in JS -->
        <!--[if lte IE 9]>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <![endif]-->
    </head>
    <body class="top_menu footer_active">
        <!-- main header -->
        <header id="header_main">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <div class="main_logo_top">
                        <a href="/console"><img src="/assets/img/favicon.png" alt="CloudBrew" style="height:40px;" /></a>
                    </div>

                    <!-- secondary sidebar switch -->
                    <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <div class="uk-navbar-flip">
                        <ul class="uk-navbar-nav user_actions">
                            <!-- <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li> -->
                            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="user_action_image"><img class="md-user-image" src="/assets/img/avatars/user.png" alt=""/></a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li><a href="/auth/signout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- main header end -->
        <div id="top_bar">
            <div class="md-top-bar">
                <ul id="menu_top" class="uk-clearfix">
                    <li title="Home" class="current_section">
                        <a href="/console">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">Home</span>
                        </a>
                    </li>
                    <li title="Add Organisation">
                        <a href="/console/add">
                            <span class="menu_icon"><i class="material-icons">&#xE8D3;</i></span>
                            <span class="menu_title">Add User</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="page_content">
            <div id="page_content_inner">
                <h4 class="heading_a uk-margin-bottom">Responsive Table</h4>
                <div class="md-card uk-margin-medium-bottom">
                    <div class="md-card-content">
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-nowrap table_check">
                                <thead>
                                <tr>
                                    <th class="uk-width-1-10">Username</th>
                                    <th class="uk-width-2-10">User Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                if(users.length > 0) {
                                    for(var index in users) {
                                %>
                                    <tr>
                                        <td>
                                            <%= users[index]['username']%>
                                        </td>
                                        <td>
                                            <%= users[index]['email'] %>
                                        </td>
                                    </tr>
                                <%
                                    }
                                } else {
                                %>
                                    <tr>
                                        <td class="uk-text-center" colspan="2">
                                            No Records Found
                                        </td>
                                    </tr>
                                <%
                                }
                                %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            &copy; Merak Software Solution <%= new Date().getFullYear() %>. All Rights Reserved.
        </footer>

        <div id="spinner_dialogue" class="uk-modal">
            <div style="position: fixed; top: 50%; right: 48%;">
                <img src="/assets/img/spinners/loading.gif" alt="" width="64" height="64" class="">
            </div>
        </div>

        <!-- google web fonts -->
        <script>
            WebFontConfig = {
                google: {
                    families: [
                        'Source+Code+Pro:400,700:latin',
                        'Roboto:400,300,500,700,400italic:latin'
                    ]
                }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();

        </script>

        <!-- common functions -->
        <script src="/assets/js/common.min.js"></script>
        <!-- uikit functions -->
        <script src="/assets/js/uikit_custom.min.js"></script>
        <!-- altair common functions/helpers -->
        <script src="/assets/js/altair_admin_common.js"></script>

        <!--  dropify -->
        <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>

        <!--  form file input functions -->
        <script src="/assets/js/pages/forms_file_input.min.js"></script>

        <script src="/javascripts/common.js"></script>
        <script>
            $(function() {
                // enable hires images
                altair_helpers.retina_images();
                // fastClick (touch devices)
                if(Modernizr.touch) {
                    FastClick.attach(document.body);
                }
            });
        </script>

    </body>
</html>