<% include ./common/header %>

<section class="hero-section hero-static">
	<img src="./assets/img/banners/contact-us.jpg">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col my-auto">
				<header class="header text-center">
					<h2 class="head-hero">At Furnome, You're not going to hit a ridiculously long phone menu when you call us. Your email isn't going to the inbox abyss, never to be seen or heard from again.</h2>
				</header>
			</div>
		</div>
	</div>
</section>

<section class="container contact-us-container">
	<div class="form" id="contact_form">															
		<div class="row">					
			<div class="col-sm-6 col-lg-7 contact-form">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="name">Name*</label>
							<input type="text" id="name" name="name" class="form-control" placeholder="Ex: John Doe">
							<div id="name_err" class="form-error" style="display: none">This field is required</div>
							<!-- <div class="form-error">This field is required</div> -->
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="phone">Phone*</label>
							<input type="number" id="number" name="number" class="form-control" placeholder="Ex +91 9964517679">
							<div id="number_err" class="form-error" style="display: none">Invalid number</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="email">Email*</label>
							<input type="email" id="email" name="email" class="form-control" placeholder="john.doe@gmail.com">
							<div id="email_err" class="form-error" style="display: none">This field is required</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="message">Message*</label>
							<textarea class="form-control" id="message" name="message" placeholder="Message Here" style="height: 120px"></textarea>
							<div id="message_err" class="form-error" style="display: none">This field is required</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<button class="btn btn-secondary btn-lg contact_us_submit" onclick="contact_us(); return false;">Submit Query</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-7 completed hide text-center" style="display:none; align-items: center;">
				<h2>Thank You!</h2>
				<h3><i class="color-tertiary pe-7s-smile"></i></h3>
				<h3>Our Executive will shortly get in touch with you</h3>				
			</div>

			<div class="col-sm-6 col-lg-5">
				<div class="address">
					<ul>
						<li>
							<h3>Address</h3>
							<p>#140 Furnome RB Koramangala 4th block, Bengaluru, Karnataka 560034</p>
						</li>
						<li>
							<h3>We Are Open</h3>
							<p>Open hours: 8.00 AM-8.00 PM Mon-Sat</p>
						</li>
						<!-- <li>
							<h3>Phone</h3>
							<p>+91 - 7259 411 717</p>
						</li> -->
						<li>
							<h3>Email</h3>
							<a href="mailto:info@furnome.com" target="_blank">info@furnome.com</a>
							<ul class="socil-media-link">
							    <li><a href="https://www.facebook.com/furnishedhome" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
							    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>					
		</div>
	</div>
</section>

<div class="container">
	<div class="map-container">
		<div class="row">
			<div class="col">
				<div class="map">

					
					<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=301%2C%20%23L204%20Furnome%20Picasso%20Furnome%20Picasso%20Santhosapuram%2C%20Venkatapura%2C%20HSR%20layout%20Sector%206%2C%20Bengaluru%2C%20Karnataka%20560034&key=AIzaSyCrUG-Sst-tkz4sgCls4DZ1aDlXoRrpvv4" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function contact_us(){
		if($('#name').val().trim() == "") {
			$('#name_err').show()
			setTimeout(function(){
				$('#name_err').hide()
			}, 3000)
			return false
		}
		if($('#number').val() == "" || $('#number').val().length != 10) {
			$('#number_err').show()
			setTimeout(function(){
				$('#number_err').hide()
			}, 3000)
			return false
		}
		if($('#email').val().trim() == "" || !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#email').val().trim()))) {
			$('#email_err').show()
			setTimeout(function(){
				$('#email_err').hide()
			}, 3000)
			return false
		}
		if($('#message').val().trim() == "") {
			$('#message_err').show()
			setTimeout(function(){
				$('#message_err').hide()
			}, 3000)
			return false
		}
		var data = new Array();
		var $btnFinish 	= $('.contact_us_submit');
		data.push({name: "name", value: $('#name').val().trim()});
		data.push({name: "number", value: $('#number').val()});
		data.push({name: "email", value: $('#email').val().trim()});
		data.push({name: "message", value: $('#message').val().trim()});

		console.log('data',data);
		dataSubmit('/contactus_submit', data, $btnFinish, function(json) {
			if(json.success === 1) {
				$('.contact-form')
					.css({ 'display' : 'none' });
				$('.completed')
					.css({ 'display' : 'grid' });
			} else {
				alert("Some error occured while saving information. Please try again later")
			}
		})

	}
</script>
<script src="/javascripts/common.js"></script>
<% include ./common/footer %>
