<% include ./common/header %>
<script language="javascript">
	function tweetCurrentPage()
	{ window.open("https://twitter.com/share?url="+escape(window.location.href)+"&text="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>
<section class="hero-section hero-lg hero-desc" id="open-gallery-lightbox">	
	<div class="img-wrapper">
		<%
		var himages = house["images"].toObject()
		for(index in himages) {
		%>
		<img src="/upload/<%= himages[index]%>">
		<%
		}
		%>
	</div>
</section>

<header class="container">
	<div class="brief-container">
		<div class="content">
			<div class="row">
				<div class="col">				
					<div class="row">
						<div class="col-md-auto col-xs-12">
							<h1 class="title"><%= house['name'] %></h1>
							<address class="address"><i class="pe-7s-map-marker"></i> <%= house['locality']%>, Bengaluru</address>		
							<div class="badge-wrapper">
								<%
								var ptype = "Everyone"
								if(house['property_for'] == 'girls') {
									ptype = "Female"
								} else if(house['property_for'] == 'boys') {
									ptype = "Male"
								}
								%>
								<span class="badge badge-md badge-everyone"><%= ptype %></span>
								<%
								if(house['property_type'] == 'shared') {
								%>
								<%
								let count = 0
								let details = house['details'].toObject()
								for(index in details) {
									if(!details[index].booked) {
										count++
									}
								}

								if(count == 0) {
									count = 'No'
								}
								%>
								<span class="badge badge-md badge-primary"><%= count %> Rooms Available</span>
								<%
								}
								%>
							</div>			
						</div>

						<div class="col col-xs-12">
							<ul class="share">
								<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.furnome.com/house/<%= house['_id'] %>" target="_blank"><img src="/assets/img/social/facebook.svg" /></a></li>
								<li><a href="javascript:tweetCurrentPage()" target="_blank"><img src="/assets/img/social/twitter.svg" /></a></li>
								<li><a href="whatsapp://send?text=https://www.furnome.com/house/<%= house['_id'] %>" target="_blank"><img src="/assets/img/social/whatsapp.svg" /></a></li>
							</ul>
							<div class="text-right">
								<%
								if(!house['booked']) {
								%>
								<a href="#" class="btn btn-secondary" style="width: 200px" data-target="#modal-schedule-visit" data-toggle="modal">Schedule A Visit</a>
								<%
								} else {
								%>
								<a href="#" class="btn btn-secondary" style="width: 200px" >Booked</a>
								<%
								}
								%>
							</div>
						</div>
					</div>

				</div>
			</div> 
		</div>
	</div>
</header>


<main class="container desctiption-container" id="desctiption-container">
	<div class="row">
		
		<section class="col-lg-7">
			
			<article class="into-section">				
				<header class="header">
					<h2 class="head-md">About <strong>Property</strong></h2>
				</header>
				<%-
				house['description']
				%>
			</article>

			<div class="sub-section">
				<ul class="nav nav-custom-tabs nav-md">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#include">Include</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#excludes">Excludes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#word-of-wisdom">Words of wisdom</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="include">
						<%-
						house['inclusion']
						%>
					</div>
					<div class="tab-pane" id="excludes">
						<%-
						house['exclusion']
						%>
					</div>
					<div class="tab-pane" id="word-of-wisdom">
						<%-
						house['wow']
						%>
					</div>
				</div>
			</div>

		</section>
		
		<aside class="col-lg-5">
			<div class="book-now-container">
				
				<div class="desktop">
					<% include ./common/book-now-aside %>
				</div>

				<div class="mobile">
					<a data-toggle="modal" href="#modal-book-now-aise" class="link-modal-toggle" data-fixed-toggle="true">Book Now</a>
											
					<div class="modal animated slideInUp modal-book-now-aise" id="modal-book-now-aise" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title align-self-center" id="section-headline-text">4 BHK Fully Furnished</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="container">
										<% include ./common/book-now-aside %>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="modal animated slideInUp modal-schedule-visit" id="modal-schedule-visit" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title align-self-center" id="section-headline-text">Schedule A Visit</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container">
								<form class="form d-block" method="post" id="schedule-visit-form" action="/schedule">
									<input type="hidden" value="<%= house["_id"]%>" name="house_id">
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label for="sch_name">Name*</label>
												<input autofocus type="name" id="sch_name" name="sch_name" class="form-control" required placeholder="John Doe">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label for="sch_email">Email*</label>
												<input type="email" id="sch_email" name="sch_email" class="form-control" required placeholder="john.doe@gmail.com">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<label for="sch_phone">Phone*</label>
												<input type="tel" id="sch_phone" name="sch_phone" class="form-control" required placeholder="+91 987654321">
											</div>
										</div>
										<div class="col-12">
											<div class="row">
												<div class="col-6">
													<div class="form-group">
														<label for="sch_date">Date*</label>
														<input type="date" id="sch_date" name="sch_date" class="form-control" required placeholder="dd-mm-yyyy">
													</div>
												</div>
												<div class="col-6">
													<div class="form-group">
														<label for="sch_time">Time*</label>
														<select id="sch_time" name="sch_time" class="form-control" required>
															<option value="10AM - 12PM">10AM - 12PM</option>
															<option value="12PM - 2PM">12PM - &nbsp;2PM</option>
															<option value="2PM - 4PM">&nbsp;2PM - &nbsp;4PM</option>
															<option value="4PM - 6PM">&nbsp;4PM - &nbsp;6PM</option>
															<option value="6PM - 8PM">&nbsp;6PM - &nbsp;8PM</option>
														</select>
														<!-- <input type="time" id="sch_time" name="sch_time" class="form-control" required placeholder="10:30"> -->
													</div>
												</div>
											</div>
										</div>											
										<div class="col-12 margin-top-20">
											<div class="form-group">
												<button type="submit" class="btn btn-secondary btn-lg btn-block">Schedule Visit</button>
											</div>			
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</aside>

	</div>

	<div class="row">
		<div class="col-12">			
			<header class="header">
				<h2 class="head-md">Property <strong>Gallery</strong></h2>
			</header>
		</div>
		<div class="col-12">	
			<div class="room-gallery" id="room-gallery">
				<div class="row justify-content-center">					
					<% for(index in himages) { %>
						<div class="col-3">
							<a href="/upload/<%= himages[index] %>" class="big">
								<img src="/upload/<%= himages[index] %>">
							</a>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>

	<div class="map-container">

		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-auto nearby-places">
						
						
							<!-- <script>
								function initialize() {
									var locations = <%- JSON.stringify(house) %>
								   var latlng = new google.maps.LatLng(parseFloat(locations['latitude']),parseFloat(locations['longitude']));
								    var map = new google.maps.Map(document.getElementById('map'), {
								      center: latlng,
								      zoom: 13
								    });
								    var marker = new google.maps.Marker({
								      map: map,
								      position: latlng,
								      draggable: false,
								      anchorPoint: new google.maps.Point(0, -29)
								   });
								    var infowindow = new google.maps.InfoWindow(); 
								    console.log('here')  
								    var iwContent = '<div id="iw_container">' +
								      '<div class="iw_title"><b>'+locations['name']+'</b> </div></div>';
								      // including content to the infowindow
								      infowindow.setContent(iwContent);
								      // opening the infowindow in the current map and at the current marker location
								      infowindow.open(map, marker);
								    // google.maps.event.addListener(marker, 'click', function() {
								    //   var iwContent = '<div id="iw_container">' +
								    //   '<div class="iw_title"><b>'+locations['name']+'</b> </div></div>';
								    //   // including content to the infowindow
								    //   infowindow.setContent(iwContent);
								    //   // opening the infowindow in the current map and at the current marker location
								    //   infowindow.open(map, marker);
								    // });
								}
								


							function loadScript() {
							    var script = document.createElement('script');
							    script.type = 'text/javascript';
							    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCrUG-Sst-tkz4sgCls4DZ1aDlXoRrpvv4&callback=initialize';
							    document.body.appendChild(script);
							}
							window.onload = loadScript;
						</script> -->

						<script>
							// This example requires the Places library. Include the libraries=places
							// parameter when you first load the API. For example:
							// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
						
							var map
							var infowindow
							var pyrmont
						
							function initMap() {
								var locations = <%- JSON.stringify(house) %>
								pyrmont = {lat: parseFloat(locations['latitude']), lng: parseFloat(locations['longitude'])};
						
								map = new google.maps.Map(document.getElementById('map'), {
									center: pyrmont,
									zoom: 15
								});

								var marker = new google.maps.Marker({
									map: map,
									position: pyrmont,
									draggable: false,
									anchorPoint: new google.maps.Point(0, -29)
								});
						
								infowindow = new google.maps.InfoWindow();
								var iwContent = '<div id="iw_container"><div class="iw_title"><b>'+locations['name']+'</b> </div></div>';
								infowindow.setContent(iwContent);
								infowindow.open(map, marker);
								// var service = new google.maps.places.PlacesService(map);
								// service.nearbySearch({
								// 	location: pyrmont,
								// 	radius: 500,
								// 	type: ['store']
								// }, callback);
							}
						
							function callback(results, status) {
								if (status === google.maps.places.PlacesServiceStatus.OK) {
									for (var i = 0; i < results.length; i++) {
										createMarker(results[i]);
									}
								}
							}
						
							function createMarker(place) {
								var placeLoc = place.geometry.location;
								var marker = new google.maps.Marker({
									map: map,
									position: place.geometry.location
								});
						
								google.maps.event.addListener(marker, 'click', function() {
									infowindow.setContent(place.name);
									infowindow.open(map, this);
								});
							}

							function serviceLocation(location) {
								initMap()
								var service = new google.maps.places.PlacesService(map);
								service.nearbySearch({
									location: pyrmont,
									radius: 500,
									type: [location]
								}, callback);
							}
						</script>

						<div class="accordion" id="near-by-places-accordion" role="tablist" aria-multiselectable="true">					      	
					      	<div class="header" role="tab" id="headingOne">
					        	<a data-toggle="collapse" data-parent="#near-by-places-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Essentials Nearby</a>
					      	</div>
					      	<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					         	<div class="content">
					            	<ul>
					            		<li><a href="javascript:serviceLocation('atm')">ATM</a></li>
					            		<li><a href="javascript:serviceLocation('hospital')">Hospital</a></li>
					            		<li><a href="javascript:serviceLocation('school')">School</a></li>
					            		<li><a href="javascript:serviceLocation('park')">Park</a></li>
					            		<li><a href="javascript:serviceLocation('mall')">Mall</a></li>
					            		<li><a href="javascript:serviceLocation('fuel station')">Fuel Station</a></li>
					            		<li><a href="javascript:serviceLocation('restaurant')">Restaurant</a></li>
					            	</ul>
					         	</div>
					      	</div>
						</div>
					</div>
				</div>
				<div class="map" id="map"></div>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrUG-Sst-tkz4sgCls4DZ1aDlXoRrpvv4&libraries=places&callback=initMap"></script>
				<!-- <div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d62206.11038561254!2d77.61428480000001!3d12.9794048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1517221068889" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div> -->

			</div>
		</div>
	</div>

</main>

<%
if(houselist.length > 4) {
%>
<hr>

<!-- Similar Houses -->
<section class="container-fluid margin-top-20">
	
	<div class="row">
		<div class="col">
			<header class="header">
				<h2 class="head-lg">Similar <strong>Houses</strong></h2>
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="slick-slider property-node-container" id="featured-houses">
				<% for(index in houselist) { %>
					<div class="property-node">
						<a href="/house/<%= houselist[index]._id %>" title="<%= houselist[index].name %>">
							<div class="image-holder hover-change">
								<span class="fav-icon selected" data-container="body" data-toggle="tooltip" data-placement="left" title="Shortlist">
									<i class="pe-7s-like"></i>
								</span>
								<%
								let images = houselist[index]["images"]
								for(i in images) {
								%>
								<img src="/upload/<%= images[i] %>">	
								<%
								}
								%>
							</div>

							<div class="content">
								<h2 title="<%= houselist[index].name %>"><%= houselist[index].name %></h2>
								<address><i class="icon pe-7s-map-marker"></i> <%= houselist[index].locality %></address>
								<div class="row">
									<div class="col">
										<% 
										if(houselist[index].property_type == "shared") {
											%>
											<%
											let count = 0
											let details = houselist[index]['details'].toObject()
											for(j in details) {
												if(!details[j].booked) {
													count++
												}
											}
	
											if(count == 0) {
												count = 'No'
											}
											%>
												<div class="available-in">Shared House</div>
												<small><%= count %> Rooms Available</small>
											<%
										} else {
											%>
												<div class="available-in">Full House</div>
												<small><%= houselist[index].area %> Sq. Ft.</small>
											<%
										}
										%>
									</div>
									<div class="col text-right">
										<%
										let ptype = '<div class="badge badge-everyone">Both</div>'
										if(houselist[index].property_for == "girls") {
											ptype = '<div class="badge badge-female">Female</div>'
										} else if(houselist[index].property_for == "boys") {
											ptype = '<div class="badge badge-male"><Male</div>'
										}
										%>
										<%- ptype %>
									</div>
								</div>
							</div>
						</a>
					</div>
				<%
				}
				%>
			</div>
		</div>
	</div>

</section>
<!-- <script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrUG-Sst-tkz4sgCls4DZ1aDlXoRrpvv4&callback=initMap">
		    </script> -->
<%
}
%>
<% include ./common/footer %>