<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en"> 
<!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">

        <title>Furnome | Add Property</title>


        <!-- uikit -->
        <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

        
        <!-- altair admin -->
        <link rel="stylesheet" href="/assets/css/main.min.css" media="all">

        <!-- themes -->
        <link rel="stylesheet" href="/assets/css/themes/themes_combined.min.css" media="all">

        <link rel="stylesheet" href="/stylesheets/style.css" media="all">

        <!-- matchMedia polyfill for testing media queries in JS -->
        <!--[if lte IE 9]>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
            <link rel="stylesheet" href="assets/css/ie.css" media="all">
        <![endif]-->

    </head>
    <body class="top_menu footer_active">
        <!-- main header -->
        <header id="header_main">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <div class="main_logo_top">
                        <a href="/"><img src="/landingpage/images/logo_top_white.png" alt="CloudBrew" style="height:65px;" /></a>
                    </div>

                    <!-- secondary sidebar switch -->
                    <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <div class="uk-navbar-flip">
                        <ul class="uk-navbar-nav user_actions">
                            <!-- <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li> -->
                            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="user_action_image"><img class="md-user-image" src="/assets/img/avatars/user.png" alt=""/></a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li><a href="/auth/signout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- main header end -->

        <div id="page_content">
            <div id="page_content_inner">
                <div class="md-card">
                    <div class="md-card-content">
                        <!-- <h3 class="heading_a">Add Property</h3> -->
                        <form id="create_form">
                            <div class="uk-grid" data-uk-grid-margin>
                                <!-- <h3 class="heading_a">Basic Details</h3> -->
                                <div class="uk-width-medium-1-2">

                                    <div class="uk-form-row">
                                        <label>Property Name</label>
                                        <input type="text" class="md-input" id="property_name" name="property_name" value="<%= house["name"] %>" />
                                    </div>
                                    <div class="uk-form-row">
                                        <label>Property Location (url)</label>
                                        <input type="text" class="md-input" id="property_loc" name="property_loc" value="@<%= house["latitude"] %>,<%= house["longitude"] %>"/>
                                    </div>
                                    <div class="uk-form-row">
                                        <div>Property Inclusion</div>
                                        <textarea class="md-input wysiwyg_ckeditor_inline" id="property_inclusion" name="property_inclusion" />
                                        <%= house["inclusion"] %>
                                        </textarea>
                                    </div>
                                    <div class="uk-form-row">
                                        <div>Property Description</div>
                                        <textarea class="md-input wysiwyg_ckeditor_inline" id="property_desc" name="property_desc" />
                                        <%= house["description"] %>
                                        </textarea>
                                    </div>
                                    <div class="uk-form-row">
                                        <label>Property POC Name</label>
                                        <input type="text" class="md-input" id="property_poc_name" name="property_poc_name" value="<%= house["poc_name"] %>"/>
                                    </div>
                                    <div class="uk-form-row">
                                        <label>Property POC Contact</label>
                                        <input type="text" class="md-input" id="property_poc_contact" name="property_poc_contact" value="<%= house["poc_contact"] %>" />
                                    </div>
                                    <div class="uk-form-row">
                                        <label>Property Short Url</label>
                                        <input type="text" class="md-input" id="property_short_url" name="property_short_url" value="<%= house["location_url"] %>" />
                                    </div> 
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <label>Property Area (Build up)</label>
                                        <input type="text" class="md-input" id="property_area" name="property_area" value="<%= house["area"] %>"/>
                                    </div>
                                    
                                    <div class="uk-form-row">
                                        <label>Property For</label>
                                        <select name="property_for" id="property_for" class="md-input" style="margin-top:21px;">
                                            <option value="girls" <%= house["property_for"] == "girls" ? "selected": "" %> >Girls</option>
                                            <option value="boys" <%= house["property_for"] == "boys" ? "selected": "" %> >Boys</option>
                                            <option value="both" <%= house["property_for"] == "both" ? "selected": "" %> >Both</option>
                                        </select>
                                    </div>
                                    <div class="uk-form-row">
                                        <div>Property Exclusion</div>
                                        <textarea class="md-input wysiwyg_ckeditor_inline" id="property_exclusion" name="property_exclusion" />
                                        <%= house["exclusion"] %>
                                        </textarea>
                                    </div>
                                    <div class="uk-form-row">
                                        <div>Words of wisodm</div>
                                        <textarea class="md-input wysiwyg_ckeditor_inline" id="property_wow" name="property_wow" />
                                        <%= house["wow"] %>
                                        </textarea>
                                    </div>
                                    <div class="uk-form-row">
                                        <div>Property Address</div>
                                        <textarea class="md-input" id="property_address" name="property_address" /><%= house["address"] %></textarea>
                                    </div>
                                    <div class="uk-form-row">
                                        <label>Property Locality</label>
                                        <input type="text" class="md-input" id="property_locality" name="property_locality" value="<%= house["locality"] %>" />
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row" id="amenities_list">
                                        <label>Property Amenities: </label>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_swimming" id="society_amenity_swimming" value="swimming" data-md-icheck <%= house["amenities"].indexOf("swimming") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_swimming" class="inline-label">Swimming Pool</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_squash" id="society_amenity_squash" value="sqash" data-md-icheck <%= house["amenities"].indexOf("sqash") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_squash" class="inline-label">Squash Court</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_basketball" id="society_amenity_basketball" value="basketball" data-md-icheck <%= house["amenities"].indexOf("basketball") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_basketball" class="inline-label">Basketball Court</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_security" id="society_amenity_security" value="security" data-md-icheck <%= house["amenities"].indexOf("security") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_security" class="inline-label">Security</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_power" id="society_amenity_power" value="power" data-md-icheck <%= house["amenities"].indexOf("power") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_power" class="inline-label">Power Backup</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_gym" id="society_amenity_gym" value="gym" data-md-icheck <%= house["amenities"].indexOf("gym") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_gym" class="inline-label">Gym</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_parking" id="society_amenity_parking" value="parking" data-md-icheck <%= house["amenities"].indexOf("parking") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_parking" class="inline-label">Parking</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_badminton" id="society_amenity_badminton" value="badminton" data-md-icheck <%= house["amenities"].indexOf("badminton") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_badminton" class="inline-label">Badminton Court</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="checkbox" name="society_amenity_tennis" id="society_amenity_tennis" value="tennis" data-md-icheck <%= house["amenities"].indexOf("tennis") != -1 ? "checked": "" %> />
                                            <label for="society_amenity_tennis" class="inline-label">Tennis Court</label>
                                        </span>
                                    </div>
                                    
                                    
                                    
                                </div>
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row">
                                        Select property images: <input type="file" id ="property_images" name="property_images" multiple>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <label>Property Type</label>
                                        <select name="property_type" id="property_type" class="md-input" style="margin-top:21px;" onchange="changePropertyType(this);">
                                            <option value="full" <%= house["property_type"] == "full" ? "selected" : "" %> >Full House</option>
                                            <option value="shared" <%= house["property_type"] == "shared" ? "selected" : "" %> >Shared House</option>
                                            <option value="studio" <%= house["property_type"] == "studio" ? "selected" : "" %> >Studio</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <label>Property Room (BHK)</label>
                                        <select name="rooms" id="property_room_bhk" class="md-input" style="margin-top:21px;" onchange="changePropertyRooms(this);">
                                            <option value="1" <%= house["property_rooms"] == "1" ? "selected" : "" %> >1 BHK</option>
                                            <option value="2" <%= house["property_rooms"] == "2" ? "selected" : "" %> >2 BHK</option>
                                            <option value="3" <%= house["property_rooms"] == "3" ? "selected" : "" %> >3 BHK</option>
                                            <option value="4" <%= house["property_rooms"] == "4" ? "selected" : "" %> >4 BHK</option>
                                            <option value="4+" <%= house["property_rooms"] == "4+" ? "selected" : "" %> >4+ BHK</option>
                                            <option value="single" <%= house["property_rooms"] == "single" ? "selected" : "" %> >Single Sharing Studio</option>
                                            <option value="double" <%= house["property_rooms"] == "double" ? "selected" : "" %> >Double Sharing Studio</option>
                                            <option value="triple" <%= house["property_rooms"] == "triple" ? "selected" : "" %> >Triple Sharing Studio</option>
                                            <option value="four" <%= house["property_rooms"] == "four" ? "selected" : "" %> >Four Sharing Studio</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2" id="room_count_div" style="<%= house["property_rooms"] == "4+" ? "" : "display: none" %>">
                                    <div class="uk-form-row">
                                        <div class="uk-input-group">
                                            <label>Total Rooms</label>
                                            <input type="text" class="md-input" name="room_count" id="room_count" value="<%= house["room_count"] %>" />
                                            <span class="uk-input-group-addon"><button class="md-btn md-btn-primary" onclick="populaterows($('#room_count').val()); return false;">Go</button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add_on_property" id="add_on_property" style="margin-top:25px; border: 1px solid #ccc; padding: 10px; <%= house["property_type"] != "full" ? "display:none" : "" %>">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <label>Property Rent (per month)</label>
                                            <input type="text" class="md-input" id="property_rent" name="property_rent" value="<%= house["property_type"] == "full" ? house["details"][0]["rent"] : "" %>" />
                                        </div>
                                        <div class="uk-form-row">
                                            <label>Property Available From</label>
                                            <input type="text" class="md-input" id="property_available_from" name="property_available_from" data-uk-datepicker="{format:'DD/MM/YYYY'}" value="<%= house["property_type"] == "full" ? house["details"][0]["available_from"] : "" %>" />
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <label>Property Security Deposit</label>
                                            <input type="text" class="md-input" id="property_sec_deposit" name="property_sec_deposit" value="<%= house["property_type"] == "full" ? house["details"][0]["security"] : "" %>" />
                                        </div>
                                        <div class="uk-form-row" style="margin-top: 50px;">
                                            <label>Property is booked?</label>
                                            <span class="icheck-inline">
                                                <input type="checkbox" name="property_is_booked" id="property_is_booked" data-md-icheck <%= house["property_type"] == "full" && house["details"][0]["booked"] === 1 ? "checked" : "" %> />
                                                <label for="property_is_booked" class="inline-label">Yes</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <div class="uk-form-row" id="property_amenities">
                                            <label>Room Amenities: </label>
                                            <div class="uk-grid">
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_ac" id="property_amenity_ac" value="ac" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("ac") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_ac" class="inline-label">Air Conditioner</label> 
                                                        <input type="text" class="md-input room_amenity_ac_count" name="room_amenity_ac_count" id="room_amenity_ac_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("ac") ? house["details"][0]["amenities"]["ac"] : "1" %>" />    
                                                    </div>
                                                </div>
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_bed" id="property_amenity_bed" value="bed" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("bed") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_bed" class="inline-label">Bed</label> 
                                                        <input type="text" class="md-input room_amenity_bed_count" name="room_amenity_bed_count" id="room_amenity_bed_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("bed") ? house["details"][0]["amenities"]["bed"] : "1" %>" />
                                                        
                                                    </div>
                                                </div>
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_bedsheet" id="property_amenity_bedsheet" value="bedsheet" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("bedsheet") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_bedsheet" class="inline-label">Bed Sheet</label>
                                                        <input type="text" class="md-input room_amenity_bedsheet_count" name="room_amenity_bedsheet_count" id="room_amenity_bedsheet_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("bedsheet") ? house["details"][0]["amenities"]["bedsheet"] : "1" %>" />  
                                                    </div>
                                                </div>
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_pillow" id="property_amenity_pillow" value="pillow" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("pillow") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_pillow" class="inline-label">Pillow</label>
                                                        <input type="text" class="md-input room_amenity_pillow_count" name="room_amenity_pillow_count" id="room_amenity_pillow_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("pillow") ? house["details"][0]["amenities"]["pillow"] : "1" %>" />  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid">
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_cupboard" id="property_amenity_cupboard" value="cupboard" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("cupboard") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_cupboard" class="inline-label">Cupboard</label>
                                                        <input type="text" class="md-input room_amenity_cupboard_count" name="room_amenity_cupboard_count" id="room_amenity_cupboard_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("cupboard") ? house["details"][0]["amenities"]["cupboard"] : "1" %>" />  
                                                    </div>
                                                </div>
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_tv" id="property_amenity_tv" value="tv" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("tv") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_tv" class="inline-label">Television</label>
                                                        <input type="text" class="md-input room_amenity_tv_count" name="room_amenity_tv_count" id="room_amenity_tv_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("tv") ? house["details"][0]["amenities"]["tv"] : "1" %>" />  
                                                    </div>
                                                </div>
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_wifi" id="property_amenity_wifi" value="wifi" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("wifi") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_wifi" class="inline-label">Wifi Access</label>
                                                        <input type="text" class="md-input room_amenity_wifi_count" name="room_amenity_wifi_count" id="room_amenity_wifi_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("wifi") ? house["details"][0]["amenities"]["wifi"] : "1" %>" />  
                                                    </div>
                                                </div>
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_sidetable" id="property_amenity_sidetable" value="sidetable" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("sidetable") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_sidetable" class="inline-label">Side Table</label>
                                                        <input type="text" class="md-input room_amenity_sidetable_count" name="room_amenity_sidetable_count" id="room_amenity_sidetable_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("sidetable") ? house["details"][0]["amenities"]["sidetable"] : "1" %>" />  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-grid">
                                                <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon"> 
                                                            <input type="checkbox" name="property_amenity_balcony" id="property_amenity_balcony" value="balcony" data-md-icheck <%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("balcony") ? "checked" : "" %> />
                                                        </span> 
                                                        <label for="property_amenity_balcony" class="inline-label">Balcony</label>
                                                        <input type="text" class="md-input room_amenity_balcony_count" name="room_amenity_balcony_count" id="room_amenity_balcony_count" value="<%= typeof(house["details"][0]["amenities"]) != 'undefined' && house["property_type"] == "full" && house["details"][0]["amenities"].hasOwnProperty("balcony") ? house["details"][0]["amenities"]["balcony"] : "1" %>" />  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add_on_room" id="add_on_room" style="margin-top:25px; border: 1px solid #ccc; padding: 10px; <%= house["property_type"] == "full" ? "display:none" : "" %>">
                            <%
                            if(house["property_type"] == "shared" || house["property_type"] == "studio") {
                            let details = house["details"].toObject()
                            for(index in details) {
                            let detamenities = typeof(details[index]["amenities"]) != 'undefined' ? details[index]["amenities"] : {}
                            let amenitiesarr = Object.keys(detamenities)
                            %>
                                <div style="border-bottom:1px solid #000;margin-bottom: 10px;" class="room_details" id="room_details_<%= parseInt(index) + 1 %>">
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-form-row"> 
                                                <label>Room <%= parseInt(index) + 1 %> Name</label> 
                                                <input type="text" class="md-input room_name" id="room_name_<%= parseInt(index) + 1 %>" name="room_name_<%= parseInt(index) + 1 %>" value="<%= details[index]["name"] %>" />
                                            </div>
                                            <div class="uk-form-row"> 
                                                <label>Room <%= parseInt(index) + 1 %> Rent (per month)</label> 
                                                <input type="text" class="md-input room_rent" id="room_rent_<%= parseInt(index) + 1 %>" name="room_rent_<%= parseInt(index) + 1 %>" value="<%= details[index]["rent"] %>" />
                                            </div>
                                            <div class="uk-form-row"> 
                                                <label>Room <%= parseInt(index) + 1 %> Available From</label> 
                                                <input type="text" class="md-input room_available_from" id="room_available_from_<%= parseInt(index) + 1 %>" name="room_available_from_<%= parseInt(index) + 1 %>" data-uk-datepicker="{format:"DD/MM/YYYY"}" value="<%= details[index]["available_from"] %>" />
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="uk-form-row"> 
                                                <label>Room <%= parseInt(index) + 1 %> Security Deposit</label> 
                                                <input type="text" class="md-input room_sec_deposit" id="room_sec_deposit_<%= parseInt(index) + 1 %>" name="room_sec_deposit_<%= parseInt(index) + 1 %>" value="<%= details[index]["security"] %>" />
                                            </div>
                                            <div class="uk-form-row" style="margin-top: 50px;"> 
                                                <label>Room <%= parseInt(index) + 1 %> is booked?</label> 
                                                <span class="icheck-inline"> 
                                                    <input type="checkbox" class="room_booked" name="room_is_booked_<%= parseInt(index) + 1 %>" id="room_is_booked_<%= parseInt(index) + 1 %>" data-md-icheck <%= details[index]["booked"] === 1 ? "checked" : "" %> /> 
                                                    <label for="room_is_booked" class="inline-label">Yes</label> 
                                                </span>
                                            </div>
                                            <div class="uk-form-row" style="margin-top: 50px;"> 
                                                <span class="icheck-inline"> 
                                                    <input type="radio" class="room_bath" name="room_bath_<%= parseInt(index) + 1 %>" id="room_attach_bath_<%= parseInt(index) + 1 %>" data-md-icheck value="attach" <%= typeof(details[index]["bath_type"]) != "undefined" && details[index]["bath_type"] === "attach" ? "checked" : "" %> /> 
                                                    <label for="room_attach_bath" class="inline-label">Attach Bathroom</label> 
                                                </span>
                                                <span class="icheck-inline"> 
                                                    <input type="radio" class="room_bath" name="room_bath_<%= parseInt(index) + 1 %>" id="room_dedicated_bath_<%= parseInt(index) + 1 %>" data-md-icheck value="dedicated" <%= typeof(details[index]["bath_type"]) != "undefined" && details[index]["bath_type"] === "dedicated" ? "checked" : "" %> /> 
                                                    <label for="room_dedicated_bath" class="inline-label">Dedicated Bathroom</label> 
                                                </span> 
                                                <span class="icheck-inline"> 
                                                    <input type="radio" class="room_bath" name="room_bath_<%= parseInt(index) + 1 %>" id="room_shared_bath_<%= parseInt(index) + 1 %>" data-md-icheck value="shared" <%= typeof(details[index]["bath_type"]) != "undefined" && details[index]["bath_type"] === "shared" ? "checked" : "" %> /> 
                                                    <label for="room_shared_bath" class="inline-label">Shared Bathroom</label> 
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-form-row room_amenities"> 
                                                <label>Room <%= parseInt(index) + 1 %> Amenities: </label>
                                                <div class="uk-grid">
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_ac" name="room_amenity_ac_<%= parseInt(index) + 1 %>" id="room_amenity_ac_<%= parseInt(index) + 1 %>" value="ac" data-md-icheck <%= amenitiesarr.indexOf("ac") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_ac_<%= parseInt(index) + 1 %>" class="inline-label">Air Conditioner</label> 
                                                            <input type="text" class="md-input room_amenity_ac_count" name="room_amenity_ac_count_<%= parseInt(index) + 1 %>" id="room_amenity_ac_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("ac") != -1 ? detamenities["ac"] : "1" %>" />
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_bed" name="room_amenity_bed_<%= parseInt(index) + 1 %>" id="room_amenity_bed_<%= parseInt(index) + 1 %>" value="bed" data-md-icheck <%= amenitiesarr.indexOf("bed") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_bed_<%= parseInt(index) + 1 %>" class="inline-label">Bed</label> 
                                                            <input type="text" class="md-input room_amenity_bed_count" name="room_amenity_bed_count_<%= parseInt(index) + 1 %>" id="room_amenity_bed_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("bed") != -1 ? detamenities["bed"] : "1" %>" />
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_bedsheet" name="room_amenity_bedsheet_<%= parseInt(index) + 1 %>" id="room_amenity_bedsheet_<%= parseInt(index) + 1 %>" value="bedsheet" data-md-icheck <%= amenitiesarr.indexOf("bedsheet") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_bedsheet_<%= parseInt(index) + 1 %>" class="inline-label">Bed Sheet</label>
                                                            <input type="text" class="md-input room_amenity_bedsheet_count" name="room_amenity_bedsheet_count_<%= parseInt(index) + 1 %>" id="room_amenity_bedsheet_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("bedsheet") != -1 ? detamenities["bedsheet"] : "1" %>" />  
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_pillow" name="room_amenity_pillow_<%= parseInt(index) + 1 %>" id="room_amenity_pillow_<%= parseInt(index) + 1 %>" value="pillow" data-md-icheck <%= amenitiesarr.indexOf("pillow") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_pillow_<%= parseInt(index) + 1 %>" class="inline-label">Pillow</label>
                                                            <input type="text" class="md-input room_amenity_pillow_count" name="room_amenity_pillow_count_<%= parseInt(index) + 1 %>" id="room_amenity_pillow_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("pillow") != -1 ? detamenities["pillow"] : "1" %>" />  
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-grid">
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_cupboard" name="room_amenity_cupboard_<%= parseInt(index) + 1 %>"  id="room_amenity_cupboard_<%= parseInt(index) + 1 %>" value="cupboard" data-md-icheck <%= amenitiesarr.indexOf("cupboard") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_cupboard_<%= parseInt(index) + 1 %>" class="inline-label">Cupboard</label>
                                                            <input type="text" class="md-input room_amenity_cupboard_count" name="room_amenity_cupboard_count_<%= parseInt(index) + 1 %>" id="room_amenity_cupboard_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("cupboard") != -1 ? detamenities["cupboard"] : "1" %>" />  
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_tv" name="room_amenity_tv_<%= parseInt(index) + 1 %>" value="tv" id="room_amenity_tv_<%= parseInt(index) + 1 %>" data-md-icheck <%= amenitiesarr.indexOf("tv") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_tv_<%= parseInt(index) + 1 %>" class="inline-label">Television</label>
                                                            <input type="text" class="md-input room_amenity_tv_count" name="room_amenity_tv_count_<%= parseInt(index) + 1 %>" id="room_amenity_tv_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("tv") != -1 ? detamenities["tv"] : "1" %>" />  
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_wifi" name="room_amenity_wifi_<%= parseInt(index) + 1 %>" id="room_amenity_wifi_<%= parseInt(index) + 1 %>" value="wifi" data-md-icheck <%= amenitiesarr.indexOf("wifi") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_wifi_<%= parseInt(index) + 1 %>" class="inline-label">Wifi Access</label>
                                                            <input type="text" class="md-input room_amenity_wifi_count" name="room_amenity_wifi_count_<%= parseInt(index) + 1 %>" id="room_amenity_wifi_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("wifi") != -1 ? detamenities["wifi"] : "1" %>" />  
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon"> 
                                                                <input type="checkbox" class="room_amenity_sidetable" name="room_amenity_sidetable_<%= parseInt(index) + 1 %>"  id="room_amenity_sidetable_<%= parseInt(index) + 1 %>" value="sidetable" data-md-icheck <%= amenitiesarr.indexOf("sidetable") != -1 ? "checked" : "" %> />
                                                            </span> 
                                                            <label for="room_amenity_sidetable_<%= parseInt(index) + 1 %>" class="inline-label">Side Table</label>
                                                            <input type="text" class="md-input room_amenity_sidetable_count" name="room_amenity_sidetable_count_<%= parseInt(index) + 1 %>" id="room_amenity_sidetable_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("sidetable") != -1 ? detamenities["sidetable"] : "1" %>" />  
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uk-grid">
                                                    <div class="uk-width-large-1-4 uk-width-medium-1-4">
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <input type="checkbox" class="room_amenity_balcony" name="room_amenity_balcony_<%= parseInt(index) + 1 %>"  id="room_amenity_balcony_<%= parseInt(index) + 1 %>" value="balcony" data-md-icheck <%= amenitiesarr.indexOf("balcony") != -1 ? "checked" : "" %> />
                                                            </span>
                                                            <label for="room_amenity_balcony_<%= parseInt(index) + 1 %>" class="inline-label">Balcony</label>
                                                            <input type="text" class="md-input room_amenity_balcony_count" name="room_amenity_balcony_count_'+i+'" id="room_amenity_sidetable_count_<%= parseInt(index) + 1 %>" value="<%= amenitiesarr.indexOf("balcony") != -1 ? detamenities["sidetable"] : "1" %>" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%
                            }
                            }
                            %>
                            </div>
                            <div class="uk-grid" style="margin-top:10px;">
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-grid">
                                        <!-- <button onclick="formSubmit('/console/addhouse','create_form',$(this),create);return false;" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light">Add</button> -->
                                        <div class="uk-width-medium-1-2">
                                            <button onclick="addproperty();return false;" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light">Submit</button>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <button onclick="window.location.href='/console'; return false;" class="md-btn md-btn-danger md-btn-block md-btn-wave-light waves-effect waves-button waves-light">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            &copy; Furnome <%= new Date().getFullYear() %>. All Rights Reserved.
        </footer>

        <div id="spinner_dialogue" class="uk-modal">
            <div style="position: fixed; top: 50%; right: 48%;">
                <img src="/assets/img/spinners/loading.gif" alt="" width="64" height="64" class="">
            </div>
        </div>

        <!-- google web fonts -->
        <script>
            WebFontConfig = {
                google: {
                    families: [
                        'Source+Code+Pro:400,700:latin',
                        'Roboto:400,300,500,700,400italic:latin'
                    ]
                }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>

        <!-- common functions -->
        <script src="/assets/js/common.min.js"></script>
        <!-- uikit functions -->
        <script src="/assets/js/uikit_custom.min.js"></script>
        <!-- altair common functions/helpers -->
        <script src="/assets/js/altair_admin_common.min.js"></script>

        <!-- ckeditor -->
        <script src="/bower_components/ckeditor/ckeditor.js"></script>
        <script src="/bower_components/ckeditor/adapters/jquery.js"></script>

        <!--  wysiwyg editors functions -->
        <script src="/assets/js/pages/forms_wysiwyg.js"></script>

        <script src="/javascripts/common.js"></script>
        <script type="text/javascript">
            function addproperty() {
                let formData = new FormData()
                let files = $("#property_images")[0]['files']
                for(index in files) {
                    formData.append("images", files[index])
                }
                formData.append("id", "<%= house["_id"] %>")
                formData.append("name", $("#property_name").val())
                formData.append("area", $("#property_area").val())
                url = $("#property_loc").val()
                let loc = url.split("@")[1].split(",")
                formData.append("latitude", loc[0])
                formData.append("longitude", loc[1])
                
                formData.append("address", $("#property_address").val())
                formData.append("inclusion", $("#property_inclusion").val())
                formData.append("poc_name", $("#property_poc_name").val())
                formData.append("short_url", $("#property_short_url").val())
                let pfor = document.getElementById('property_for');
                formData.append("pfor", pfor.value)
                formData.append("locality", $("#property_locality").val())
                formData.append("description", $("#property_desc").val())
                formData.append("exclusion", $("#property_exclusion").val())
                formData.append("wow", $("#property_wow").val())
                formData.append("poc_contact", $("#property_poc_contact").val())
                let amenitieslist = $('#amenities_list').find("input[type=checkbox]")
                amenitieslist = amenitieslist.toArray()
                for(var index in amenitieslist) {
                    if($("#"+amenitieslist[index].id).parent(".icheckbox_md").hasClass("checked")) {
                        formData.append("amenities", $("#"+amenitieslist[index].id).val())
                    }
                }
                // formData.append("amenities", JSON.stringify(amenities))
                let ptype = document.getElementById('property_type');
                formData.append("ptype", ptype.value)
                let proom = document.getElementById('property_room_bhk');
                formData.append("proom", proom.value)
                let rcv = $("#room_count").val()
                let room_count = 0
                if(proom.value == "4+" && rcv > 4) {
                    room_count = rcv
                } else if(proom.value != "single" && proom.value != "double" && proom.value != "triple" && proom.value != "four" && proom.value != "4+") {
                    room_count = parseInt(proom.value)
                } else if(proom.value == "4+" && rcv <= 4) {
                    alert("Incorrect room values")
                    return false;
                }
                formData.append("roomcount", room_count)
                var housebooked = 0
                if(ptype.value === "full") {
                    let booked = 0
                    if($("#property_is_booked").prop("checked")) {
                        booked = 1
                        housebooked = 1
                    }
                    let amenitieslist = $('#property_amenities').find("input[type=checkbox]")
                    amenitieslist = amenitieslist.toArray()
                    let amenities = {}
                    for(var index in amenitieslist) {
                        if($("#"+amenitieslist[index].id).parent(".icheckbox_md").hasClass("checked")) {
                            amenities[$("#"+amenitieslist[index].id).val()] = $("#"+amenitieslist[index].id).parent().parent().parent().find("input[type=text]").val()
                        }
                    }
                    let date = $("#property_available_from").val()
                    let datearr = date.split(".")
                    if(datearr.length == 3) {
                        date = datearr.join("/")
                    }
                    let property = JSON.stringify({"name": "", "rent": $("#property_rent").val(), "available_from": date, "security": $("#property_sec_deposit").val(), "booked": booked, "amenities": amenities, "bath_type": ""})
                    formData.append("details", property)
                    formData.append("booked", housebooked)
                } else if(ptype.value === "shared" || ptype.value === "studio") {
                    let roomlist = $("#add_on_room").find(".room_details").toArray()
                    let i = 1
                    var roomcount = 0
                    var bookedcount = 0
                    var rooms = []
                    roomlist.forEach(function(element) {
                        let booked = 0
                        let bath = ""
                        if($("#"+element.id).find('.room_booked').prop("checked")) {
                            booked = 1
                            ++bookedcount
                        }

                        let batharr = $("#"+element.id).find('.room_bath')
                        for(var index in batharr) {
                            if(batharr[index].checked) {
                                bath = batharr[index].value
                            }
                        }
                        ++roomcount
                        let amenitieslist = $("#"+element.id).find('.room_amenities').find("input[type=checkbox]")
                        amenitieslist = amenitieslist.toArray()
                        let amenities = {}
                        for(var index in amenitieslist) {
                            if($("#"+amenitieslist[index].id).parent(".icheckbox_md").hasClass("checked")) {
                                amenities[$("#"+amenitieslist[index].id).val()] = $("#"+amenitieslist[index].id).parent().parent().parent().find("input[type=text]").val()
                            }
                        }
                        let date = $("#"+element.id).find('.room_available_from').val()
                        let datearr = date.split(".")
                        if(datearr.length == 3) {
                            date = datearr.join("/")
                        }
                        formData.append("details",JSON.stringify({"name": $("#"+element.id).find('.room_name').val(), "rent": $("#"+element.id).find('.room_rent').val(), "security": $("#"+element.id).find('.room_sec_deposit').val(), "available_from": date, "booked": booked, "amenities": amenities, "bath_type": bath}))
                        ++i
                    }, this)
                    
                    if(roomcount === bookedcount) {
                        housebooked = 1
                    }

                    // formData.append("details", JSON.stringify(rooms))
                    formData.append("booked", housebooked)
                }

                fileupload(formData, '/console/edithouse')
            }

            function create(data) {
                if(data.success === 0) {
                    alert('Some error occured')
                } else if(data.success === 1) {
                    alert('Created successfully')
                }
            }

            function changePropertyType(elm){
                // console.log('val',elm.value);
                if(elm.value == 'full'){
                    document.getElementById("add_on_property").style.display = "block";
                    document.getElementById('add_on_room').style.display = "none";
                }
                else if(elm.value == 'shared'){
                    document.getElementById("add_on_property").style.display = "none";
                    changePropertyRooms(document.getElementById('property_room_bhk'));
                } else if(elm.value == 'studio') {
                    document.getElementById("add_on_property").style.display = "none";
                    changePropertyRooms(document.getElementById('property_room_bhk'));
                }
            }

            function populaterows(count) {
                if(document.getElementById('property_type').value == 'shared') {
                    changePropertyRooms(null, count)
                }
            }

            function changePropertyRooms(elm,count = 0){
                if((document.getElementById('property_type').value == 'shared' || document.getElementById('property_type').value == 'studio') && (elm == null ||elm.value != "4+")){
                    let room_count = 0
                    if(document.getElementById('property_type').value == 'shared') {
                        room_count = (count == 0) ? elm.value : count;
                    } else if(document.getElementById('property_type').value == 'studio') {
                        switch(elm.value) {
                            case 'single':
                                room_count = 1
                            break
                            case 'double':
                                room_count = 2
                            break
                            case 'triple':
                                room_count = 3
                            break
                            case 'four':
                                room_count = 4
                            break
                        }
                    }
                    
                    if(count == 0 ) {
                        $("#room_count_div").hide()
                    }

                    document.getElementById('add_on_room').innerHTML = '';
                    var html = '';
                    
                    for(let i = 1; i<=room_count; i++){
                        html = '<div style="border-bottom:1px solid #000;margin-bottom: 10px;" class="room_details" id="room_details_'+i+'"><div class="uk-grid" data-uk-grid-margin><div class="uk-width-medium-1-2"><div class="uk-form-row"> <label>Room '+i+' Name</label> <input type="text" class="md-input room_name" id="room_name_'+i+'" name="room_name_'+i+'" value="Room '+i+'"/></div><div class="uk-form-row"> <label>Room '+i+' Rent (per month)</label> <input type="text" class="md-input room_rent" id="room_rent_"'+i+' name="room_rent_"'+i+' /></div><div class="uk-form-row"> <label>Room '+i+' Available From</label> <input type="text" class="md-input room_available_from" id="room_available_from_"'+i+' name="room_available_from_"'+i+' data-uk-datepicker="{format:"DD/MM/YYYY"}"/></div></div><div class="uk-width-medium-1-2"><div class="uk-form-row"> <label>Room '+i+' Security Deposit</label> <input type="text" class="md-input room_sec_deposit" id="room_sec_deposit_'+i+'" name="room_sec_deposit_'+i+'" /></div><div class="uk-form-row" style="margin-top: 50px;"> <label>Room '+i+' is booked?</label> <span class="icheck-inline"> <input type="checkbox" class="room_booked" name="room_is_booked_'+i+'" id="room_is_booked_'+i+'" data-md-icheck /> <label for="room_is_booked" class="inline-label">Yes</label> </span></div><div class="uk-form-row" style="margin-top: 50px;"> <span class="icheck-inline"> <input type="radio" class="room_bath" name="room_bath_'+i+'" id="room_attach_bath_'+i+'" data-md-icheck value="attach" checked /> <label for="room_attach_bath" class="inline-label">Attach Bathroom</label> </span><span class="icheck-inline"> <input type="radio" class="room_bath" name="room_bath_'+i+'" id="room_dedicated_bath_'+i+'" data-md-icheck value="dedicated" /> <label for="room_dedicated_bath" class="inline-label">Dedicated Bathroom</label> </span> <span class="icheck-inline"> <input type="radio" class="room_bath" name="room_bath_'+i+'" id="room_shared_bath_'+i+'" data-md-icheck value="shared" /> <label for="room_shared_bath" class="inline-label">Shared Bathroom</label> </span></div></div></div><div class="uk-grid" data-uk-grid-margin><div class="uk-width-medium-1-1"><div class="uk-form-row room_amenities"> <label>Room '+i+' Amenities: </label> <div class="uk-grid"><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_ac" name="room_amenity_ac_'+i+'" id="room_amenity_ac_'+i+'" value="ac" data-md-icheck /></span><label for="room_amenity_ac_'+i+'" class="inline-label">Air Conditioner</label><input type="text" class="md-input room_amenity_ac_count" name="room_amenity_ac_count_'+i+'" id="room_amenity_ac_count_'+i+'" value="1" /></div></div><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_bed" name="room_amenity_bed_'+i+'" id="room_amenity_bed_'+i+'" value="bed" data-md-icheck /></span><label for="room_amenity_bed_'+i+'" class="inline-label">Bed</label><input type="text" class="md-input room_amenity_bed_count" name="room_amenity_bed_count_'+i+'" id="room_amenity_bed_count_'+i+'" value="1" /></div></div><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_bedsheet" name="room_amenity_bedsheet_'+i+'" id="room_amenity_bedsheet_'+i+'" value="bedsheet" data-md-icheck /></span><label for="room_amenity_bedsheet_'+i+'" class="inline-label">Bed Sheet</label><input type="text" class="md-input room_amenity_bedsheet_count" name="room_amenity_bedsheet_count_'+i+'" id="room_amenity_bedsheet_count_'+i+'" value="1" /></div></div><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_pillow" name="room_amenity_pillow_'+i+'" id="room_amenity_pillow_'+i+'" value="pillow" data-md-icheck /></span><label for="room_amenity_pillow_'+i+'" class="inline-label">Pillow</label><input type="text" class="md-input room_amenity_pillow_count" name="room_amenity_pillow_count_'+i+'" id="room_amenity_pillow_count_'+i+'" value="1" /></div></div></div><div class="uk-grid"><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_cupboard" name="room_amenity_cupboard_'+i+'"  id="room_amenity_cupboard_'+i+'" value="cupboard" data-md-icheck /></span><label for="room_amenity_cupboard_'+i+'" class="inline-label">Cupboard</label><input type="text" class="md-input room_amenity_cupboard_count" name="room_amenity_cupboard_count_'+i+'" id="room_amenity_cupboard_count_'+i+'" value="1" /></div></div><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_tv" name="room_amenity_tv_'+i+'" value="tv" id="room_amenity_tv_'+i+'" data-md-icheck /></span><label for="room_amenity_tv_'+i+'" class="inline-label">Television</label><input type="text" class="md-input room_amenity_tv_count" name="room_amenity_tv_count_'+i+'" id="room_amenity_tv_count_'+i+'" value="1" /></div></div><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_wifi" name="room_amenity_wifi_'+i+'" id="room_amenity_wifi_'+i+'" value="wifi" data-md-icheck /></span><label for="room_amenity_wifi_'+i+'" class="inline-label">Wifi Access</label><input type="text" class="md-input room_amenity_wifi_count" name="room_amenity_wifi_count_'+i+'" id="room_amenity_wifi_count_'+i+'" value="1" /></div></div><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_sidetable" name="room_amenity_sidetable_'+i+'"  id="room_amenity_sidetable_'+i+'" value="sidetable" data-md-icheck /></span><label for="room_amenity_sidetable_'+i+'" class="inline-label">Side Table</label><input type="text" class="md-input room_amenity_sidetable_count" name="room_amenity_sidetable_count_'+i+'" id="room_amenity_sidetable_count_'+i+'" value="1" /></div></div></div><div class="uk-grid"><div class="uk-width-large-1-4 uk-width-medium-1-4"><div class="uk-input-group"><span class="uk-input-group-addon"><input type="checkbox" class="room_amenity_balcony" name="room_amenity_balcony_'+i+'"  id="room_amenity_balcony_'+i+'" value="balcony" data-md-icheck /></span><label for="room_amenity_balcony_'+i+'" class="inline-label">Balcony</label><input type="text" class="md-input room_amenity_balcony_count" name="room_amenity_balcony_count_'+i+'" id="room_amenity_sidetable_count_'+i+'" value="1" /></div></div></div></div></div></div></div>';
                        document.getElementById('add_on_room').innerHTML += html;
                    }
                    altair_md.init()
                    document.getElementById('add_on_room').style.display = "block";
                }
                else if(document.getElementById('property_type').value == 'full'){
                    document.getElementById('add_on_room').innerHTML = ""
                    document.getElementById('add_on_room').style.display = "none";
                } 
                
                if(elm != null && elm.value == "4+") {
                    $("#room_count_div").show()
                }
            }
        </script>
    </body>
</html>