<% include ./common/header %>

<section class="hero-section hero-static">
	<img src="./assets/img/banners/faq.jpg">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col my-auto">
				<header class="header text-center">
					<h2 class="head-hero">Frequently Asked Questions</h2>
				</header>
			</div>
		</div>
	</div>
</section>

<section class="questions-answer-container margin-top-50">
	<div class="container">	
		<div class="row">
			<div class="col">
				<ul class="nav nav-custom-tabs nav-justified padding-bottom-30 margin-bottom-10 border-bottom">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="pill" href="#content-delivery"><i class="pe-7s-way"></i>Booking Policy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#content-payments"><i class="pe-7s-cash"></i>Security Deposit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#content-rent"><i class="pe-7s-stopwatch"></i>Safety &amp; Security</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#content-renttoown"><i class="pe-7s-shopbag"></i>Move-in/Move-out Policy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#content-maintenance"><i class="pe-7s-paint"></i>Maintenance</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="row">			
			<div class="col">

				<div class="tab-content">
					
					<div class="tab-pane active" id="content-delivery">
						<div class="row">
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">1</span>
									Booking confirmation by Owner
								</p>
								<p class="answer">In all the houses which are under owner’s confirmation policy, tenants need to pay the Security deposit 4 days prior to License start date and also submit KYC documents(as mentioned in Documents policy) 4 days prior to move-in date for verification by the Owner. The move-in date will be extended in the event any tenant fails to submit the required document within the above stipulated time.</p>
								<p class="answer">Only the owner of the house has a right to confirm or decline any tenant’s booking. In case owner decline any tenant’s booking, a notification via SMS and mail will be sent to the tenant on the same day. When the owner declines any tenant’s booking, the booking will be cancelled automatically. Once the booking is declined by the owner, tenant can opt for any other property listed on Furnome’s portal or claim for a full refund.</p>
								<p class="answer">In case any tenant uploads invalid documents, Furnome may reject such invalid documents and extend the move-in date for resubmission of the valid documents by the tenant. Till such time, Furnome will not cancel the booking and only move-in date will be extended.</p>
								<p class="answer">In case of internal transfer of any existing tenant, the above-mentioned conditions will be applicable wherein any house is under owner confirmation policy.</p>
							</div>
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">2</span>
									Notice Period & Minimum Stay
								</p>
								<p class="answer">Unless explicitly written in one’s agreement, there is an early termination charge that apply if the tenants moves out before completing 6 months of stay in all Furnome houses.</p>
								<p class="answer">If the tenant moves out of Furnome house before completing 6 months of stay, he/she will be required to pay an amount equivalent to one month's rent. The rent here corresponds to the rent on the last occupied bed/room/house.</p>
								<p class="answer">Tenant has to provide 10-days' of notice while vacating, without exception at any point in time, any shortfall in notice period will be charged on a pro-rata basis where the fees would be equal to the no. of days of shortfall of the 10 day period.</p>
							</div>
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">3</span>
									Early Termination Charges
								</p>
								<p class="answer">If you decide to stay in the house after 3 days, You are required to stay a minimum of 6 months, or you can vacate the house before 6 months after paying one month’s rent as early termination charges.</p>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="content-payments">
						<div class="row">
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">1</span>
									Deposit Payment Terms
								</p>
								<p class="answer">Tenant needs to pay two months of rent as security deposit</p>
								<p class="answer">Tenant is required to pay a part of the security deposit, referred as the token deposit, at the time of booking.</p>
								<p class="answer">The remainder of Security deposit post booking need to be paid 2 days(4 days if house is under owner confirmation policy) before the license start date.</p>
								<p class="answer">The security deposit paid is mentioned in the rental agreement.</p>
								<p class="answer">Security / token deposit can be paid either by cash or online.</p>
								<p class="answer">In the case where a tenant chooses to make an internal transfer or upgrade his/her current booking type, the difference in the amount of security deposit will be expected to be paid by the tenant before him/her making the actual transfer. In case the new rent is lower, the difference in SDs is adjusted against the following month’s rent.</p>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="content-rent">
						<div class="row">
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">1</span>
									Safety and Security
								</p>
								<p class="answer">Furnome houses are located in across Bangalore in reputed society and safe locations. In order to maintain a peaceful environment of the society, nuisance or misconduct of any kind including but not limited to playing loud music beyond the permitted time limit, drinking/smoking in society corridors/ premises and consumption of illegal and banned substances are not allowed in Furnome houses.</p>
								<p class="answer">Visitors of the opposite sex are not allowed after 8:00 PM, unless approved by roommates and society office (wherever applicable).</p>
								<p class="answer">Internal issues/ fights among the tenants are better resolved among roomies. Involvement of Furnome is not beneficial and hence undesirable.</p>
								<p class="answer">In the event tenant breaks any rules as stipulated herein or as contained in the leave and license agreement, Furnome on behalf of the owner, reserves the right to, issue appropriate notice including but not limited to Eviction notice to the tenant or charge a penalty amount of 5000 INR or more at its sole discretion.</p>
							</div>
							
						</div>
					</div>

					<div class="tab-pane" id="content-renttoown">
						<div class="row">
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">1</span>
									Move-in date can be rescheduled to any day as long as it is after license start date.
								</p>
								<p class="answer">If the tenant decides to move-in before license start date then the license start date will be preponed to the move-in date.The rent shall be calculated according to the License start date clause.</p>
								<p class="answer">If the move-in date is postponed the rent will start as per the Security Deposit and license start date clause. However, the utility charges and other charges will be charged from actual move in date.</p>
								<p class="answer">Token and Security deposit need to be paid 2 days before license start date.</p>
								<p class="answer">Cash payments will be accepted for the security deposit or advance rent up to 48 hours before the time of move-in.</p>
								<p class="answer">To move-in on a particular date, it is mandatory to schedule a move-in 2 days before the move-in date.</p>
								<p class="answer">Verification is mandatory before move-in. One can verify their details by uploading their id and address proof. The tenants will not be able to schedule the move in (date and time) unless profile details are completed and documents are complete (documents uploaded and verified).</p>
								<p class="answer">Bed will be automatically released and will be available for booking to others if any of the previous two conditions on Token/Security Deposit payment and Document upload is not complete.</p>
							</div>
							
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">2</span>
									Move Out Date
								</p>
								<p class="answer">The Tenant will also be required to choose a Move Out date.</p>
								<p class="answer">The Move out date can be any day on or before the license end date.</p>
								<p class="answer">The tenant needs to choose the move out date so that Official handover of the keys, Move Out inspection etc. can be handled accordingly.</p>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="content-maintenance">
						<div class="row">
							<div class="col-sm-12">
								<p class="questions">
									<span class="bg-color-secondary">1</span>
									Keys for the main door of the house and particular rooms are provided to all tenants.
								</p>
								<p class="answer">On losing the keys, the tenant can make a duplicate key by himself/herself or request Furnome to do the same. In case, the tenant requests Furnome, a charge of INR 250 will be levied in addition to the actual cost incurred for making a duplicate key.</p>
								<p class="answer">All issues reported within 7 days of move-in in dashboard (verbal communication to anyone would not be sufficient) would be charged as below:</p>
								<p class="answer">First tenant move in to a House - all house/room/bed level to Furnome</p>
								<p class="answer">First tenant to a Room but not first tenant to a House - all house level to existing tenants, room/bed level to Furnome</p>
								<p class="answer">Subsequent tenants to a Room - all house/room level to existing tenant, bed level to Furnome</p>
							</div>
						</div>
					</div>
					

				</div>
				
			</div>
		</div>


	</div>
</section>

<% include ./common/footer %>