<% include ./common/header %>

<section class="hero-section hero-lg">
	<img src="./assets/img/backgrounds/list-my-property.jpg">

	<div class="container">
		<div class="row">
	        <div class="col">
	            <div class="content d-flex align-items-center">
	            	<header class="header d-inline-block">
						
						<h2 id="title" class="head-lg">Find the right tenant for your house now!</h2>	
						<p id="para" style="color:#eae5e5">Furnome promises assured rental on sign-up and end-to-end property management solution.</p>						
						<button class="btn btn-tertiary btn-xl margin-top-15" data-scroll-to="#list-my-property-container" >Rent Your House</button>
							
					</header>
	            </div>
	        </div>
	    </div>
    </div>	
</section>

<main class="list-my-property-container" id="list-my-property-container">
	
	<!-- For Owners -->
	<section class="static-nodes-container container margin-top-50">
		<div class="row">
			<div class="col-sm-12 col-lg-4 ">
				<div class="node node-style-2">
					<div class="icon">
						<i class="pe-7s-piggy"></i>
					</div>
					<h3>Brokerage Free</h3>
					<p>We understand that a huge amount is being invested in the property and an unnecessary burden or brokerage in-turn lowers the return. We provide owners the best annual rental yields.</p>
				</div>
			</div>
			<div class="col-sm-12 col-lg-4 ">
				<div class="node node-style-2">
					<div class="icon">
						<i class="pe-7s-volume"></i>
					</div>
					<h3>Extensive Marketing</h3>
					<p>We market at 15 plus marketing channels which includes ways like marketing through banners and tolet boards; we market in all furnishing states; improves the visibility of your property by 10X.</p>
				</div>
			</div>
			<div class="col-sm-12 col-lg-4 ">
				<div class="node node-style-2">
					<div class="icon">
						<i class="pe-7s-medal"></i>
					</div>
					<h3>Professional Management</h3>
					<p>Maintenance of your premise by conducting regular audits; refurbising a place like a new one, once a tenant vacates; look for new suitable tenants asap hence increasing occupancy.</p>
				</div>
			</div>
		</div>			
	</section>

	<section class="post-property-container margin-top-70" >
		<div class="left"></div>
		<div class="right"></div>

		<div class="container">			
			<div class="row static-nodes-container align-items-center">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-sm-12 col-lg-12">
							<div class="node node-style-2">
								<div class="icon">
									<i class="pe-7s-cash"></i>
								</div>
								<h3>Assured Rental</h3>
								<p>Pass on to us the headaches of finding a tenant and maintaining the house while you enjoy assured rental returns on your property.</p>
							</div>
						</div>
						<div class="col-sm-12 col-lg-12">
							<div class="node node-style-2">
								<div class="icon">
									<i class="pe-7s-smile"></i>
								</div>
								<h3>Zero Investment</h3>
								<p>We take the property in the current state and take the burden of furnishing it as per tenant's choice and taste.</p>
							</div>
						</div>
						<div class="col-sm-12 col-lg-12">
							<div class="node node-style-2">
								<div class="icon">
									<i class="pe-7s-tools"></i>
								</div>
								<h3>Proper Maintenance</h3>
								<p>We maintain the house with a team of skilled technicians, so as to keep the house in pristine condition.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="desktop">
						<% include ./common/list-my-property-form %>
					</div>
					<div class="mobile">
						<a data-toggle="modal" href="#modal-list-my-property" class="link-modal-toggle" data-fixed-toggle="true">List My Property</a>
												
						<div class="modal animated slideInUp modal-list-my-property" id="modal-list-my-property" tabindex="-1" role="dialog" aria-hidden="true" style="display: none">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title align-self-center" id="section-headline-text">List My Property</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="container">
											<% include ./common/list-my-property-form-mobile %>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="static-nodes-container furnome-benifits-container margin-top-50">
		<div class="container">	
			<div class="row">
				<div class="col">
					<header class="header">
						<h2 class="head-lg">Furnome <strong>Benefits</strong></h2>
					</header>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-sm-6 col-md-3">
					<div class="node node-style-3">
						<div class="icon">
							<i class="pe-7s-look"></i>
						</div>						
						<h3>Verified Tenants</h3>
						<p>All the furnome tenants undergo a strict background verification</p>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div class="node node-style-3">
							<div class="icon">
							<i class="pe-7s-paint"></i>
						</div>
						<h3>Damages Covered</h3>
						<p>Furnomes technical team ensures the best upkeep of your house</p>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div class="node node-style-3">
							<div class="icon">
							<i class="pe-7s-star"></i>
						</div>
						<h3>Hassle Free Renting</h3>
						<p>The entire process from tenant hunting to moveout is managed</p>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div class="node node-style-3">
							<div class="icon">
							<i class="pe-7s-repeat"></i>
						</div>
						<h3>Quarterly Audit Reports</h3>
						<p>Thorough inspection is done regularly with updates forwarded to you</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ./common/owner-testimonials %>

	<section class="questions-answer-container margin-top-50">
		<div class="container">	
			<div class="row">
				<div class="col">
					<header class="header">
						<h2 class="head-lg">Frequently Asked Questions</h2>
					</header>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-lg-6">
					<p class="questions">
						<span>1</span>
						HOW CAN FURNOME ASSURE HIGHER OCCUPANCY OF MY HOUSE?
					</p>
					<p class="answer">Furnome not only markets one property on various channels but at the same time makes it available at all states (unfurnished to fully furnished) and hence attracts a greater volume of customers.</p>
				</div>
				<div class="col-sm-12 col-lg-6">
					<p class="questions">
						<span>2</span>
						I HAVE AN APARTMENT IN A SOCIETY. WILL FURNOME MANAGE THAT AS WELL?
					</p>
					<p class="answer">Yes. Furnome manages and markets all residential properties with same zeal and strives to provide best possible returns.</p>
				</div>
				<div class="col-sm-12 col-lg-6">
					<p class="questions">
						<span>3</span>
						FURNOME SAYS THAT IT FURNISHES THE PLACE ON ITS OWN, WHAT IF MY PLACE IS ALREADY FURNISHED?
					</p>
					<p class="answer">Furnome still markets the property with an option to the tenants that some extra furniture can be provided if needed.</p>
				</div>
				<div class="col-sm-12 col-lg-6">
					<p class="questions">
						<span>4</span>
						WHAT IF TENANT IDENTIFIED BY FURNOME FAILS TO PAY RENT ON TIME?
					</p>
					<p class="answer">Furnome makes sure that rent payment occurs on or before the promised date. We understand that there is some financial commitments for every house owner as well. To ensure this Furnome collects the rent from tenants and then transfers it to owner, so even if there is a delay in payment, Furnome pays it from its pocket and collects from the tenant later.</p>
				</div>
				<div class="col-12 margin-top-15">
					<a href="/faq" class="btn btn-outline-secondary btn-lg">See More FAQ</a>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="/javascripts/common.js"></script>

<% include ./common/footer %>