<% include ./common/header %>

<section class="hero-section hero-lg hero-home" id="hero-home">
	
	<ul class="custom-slider" id="custom-slider" style="display: none">
		<li   
		      data-img="/assets/img/hero-slider/1.jpeg"
			data-title="Hassle Free Accommodations" 
			 data-para="No owner interference & maintenance issues while you enjoy your living" />
		<li   
			  data-img="/assets/img/hero-slider/2.jpeg"
			data-title="Brokerage Free Homes" 
			 data-para="Say ‘NO’ to extra charges for finding a home" />
		<li   
			  data-img="/assets/img/hero-slider/3.jpeg"
			data-title="Pay For Only What You Want" 
			 data-para="Now furnish your home as per your requirement and taste" />
	</ul>

    <div class="container">
		<div class="row">
	        <div class="col">
	            <div class="content d-flex align-items-center">
	            	
	            	<header class="header text-center d-inline-block">						
						<h2 id="title" class="head-lg">Hassle Free Accommodations</h2>	
						<p id="para">No owner interference &amp; maintenance issues while you enjoy your living</p>						
						
						<div class="jumbo-search-wrapper desktop">							
							<% include ./common/jumbo-search-form %>
						</div>

						<div class="jumbo-search-wrapper mobile">						
							<div class="input-illusion-wrapper">
								<a data-toggle="modal" href="#modal-jumbo-search">
									<div class="input">Search Your Dream House</div>
								</a>
							</div>
						</div>
					</header>
				    <div class="modal animated slideInUp modal-jumbo-search" id="modal-jumbo-search" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title align-self-center" id="section-headline-text">Search</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="container">
										<% include ./common/jumbo-search-form-mobile %>
									</div>
								</div>
							</div>
						</div>
					</div>

	            </div>
	        </div>
	    </div>
    </div>

</section>

<!-- Pop Houses -->
<section class="container-fluid margin-top-40">
	
	<div class="row">
		<div class="col">
			<header class="header">
				<h2 class="head-lg">Popular <strong>Houses</strong></h2>
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="slick-slider property-node-container" id="featured-houses">
				
				<% for(index in houses) { %>
				<div class="property-node">
					<% 
					if(houses[index].property_type == "studio"){ %>
						<a href="/house/<%= houses[index]._id %>" title="<%= houses[index].property_rooms.toLowerCase().replace(/^(.)|\s(.)/g, ($1) => $1.toUpperCase()) %> Sharing">	
					<% } else { %>
						<a href="/house/<%= houses[index]._id %>" title="<%= houses[index].property_rooms %> BHK House">	
					<% } %>
						
						<div class="image-holder hover-change">
							<span class="fav-icon selected" data-container="body" data-toggle="tooltip" data-placement="left" title="Shortlist">
								<i class="pe-7s-like"></i>
							</span>
							<% for(var i=0; i<houses[index].images.length; i++){ %>
							<img src="/upload/<%= houses[index].images[i] %>">	
							<% } %>							
						</div>		

						<div class="content">
							<!-- <%= houses[index] %> -->
							<% 
							if(houses[index].property_type == "studio"){ %>
							<h2 title="<%= houses[index].property_rooms.toLowerCase().replace(/^(.)|\s(.)/g, ($1) => $1.toUpperCase()) %> Sharing"><%= houses[index].property_rooms.toLowerCase().replace(/^(.)|\s(.)/g, ($1) => $1.toUpperCase()) %> Sharing</h2>
							<% } else { %>
								<h2 title="<%= houses[index].property_rooms %> BHK House"><%= houses[index].property_rooms %> BHK House</h2>
							<% } %>
							
							<address><i class="icon pe-7s-map-marker"></i> <%= houses[index].locality %></address>
							<div class="row">
								<div class="col-md-auto col-sm-12">
									<div class="available-in">
										<% 
										if(houses[index].property_type == "shared"){ %>
										 	Shared House 
										<% } else if(houses[index].property_type == "studio") { %>
											Studio Appartment
										<% } else { %>
											Full House
										<% } %>
									</div>
									<small>
										<%
										 if(houses[index].property_type == "shared"){ %>
										   Rooms Available 
										 <% }else{ %>
										   <%= houses[index].area %> Sq. Ft.
										<%  }
										%>
									</small>
									
								</div>
								<div class="col-md col-sm-12">
									<%
										if(houses[index].property_for == "girls") { %>
											<div class="badge badge-female">Female</div>
										<% } else if(houses[index].property_for == "boys") { %>
											<div class="badge badge-male">Male</div>
										<% } else{ %>
											<div class="badge badge-everyone">Everyone</div>
										<% }
									%>
									
								</div>
							</div>
						</div>
					</a>
				</div>
				<% } %>

			</div>
		</div>
	</div>

</section>


<!-- Services -->
<section class="container margin-top-40 our-offerings-container">
	
	<div class="row">
		<div class="col">
			<header class="header text-center">
				<h2 class="head-lg">Our <strong>Offerings</strong></h2>
			</header>
		</div>
	</div>

	
	<div class="row">
		
		<div class="col-sm-6 d-flex align-items-stretch">
			<div class="card">
				<div class="row">
					<div class="col-md-3 d-none d-md-block d-lg-block">
						<img src="/assets/img/backgrounds/shared-house.jpg">
					</div>
					<div class="col-md-9 col-sm-12 align-self-center">
						<div class="content">
							<h2>Shared Houses</h2>
							<p>Tastefully curated apartments where we offer an environment where you make new friends among like-minded individuals</p>
							<a href="/listing?house=shared" class="btn btn-secondary">Explore Shared Houses</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6 d-flex align-items-stretch">
			<div class="card">
				<div class="row">
					<div class="col-md-3 d-none d-md-block d-lg-block">
						<img src="/assets/img/backgrounds/full-house.jpg">
					</div>
					<div class="col-md-9 col-sm-12 align-self-center">
						<div class="content">
							<h2>Full Houses</h2>
							<p>Private apartments ready to be furnished as per your choice for groups and families. <br /> <br /></p>
							<a href="/listing?house=full" class="btn btn-secondary">Explore Full Houses</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="special-card">
				<div class="row">
					<div class="col-sm-12">
						<div class="content">
							<h2>Furnome Next</h2>
							<p>Furnome connect is a complete package that spoils you with fully furnished accommodation along with food. These are complexes with fully furnished rooms with shared amenities such as games, dining area, self cooking facility etc.</p>
							<a href="/listing?house=studio" class="icon" style="background-color: #244756;color: #fff;">
								<i class="pe-7s-angle-right"></i>
								<span>Explore Houses</span>
							</a>
						</div>
					</div>
				</div>						
			</div>
		</div>

	</div>


</section>


<!-- Why Us -->
<div class="margin-top-100 margin-bottom-40 why-us-container">
	<div class="container">
		<div class="row">
			<div class="col">
				<header class="header">
					<h2 class="head-lg">Why <strong>Furnome</strong></h2>					
				</header>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6">				
				<div class="static-nodes-container">
					<div class="node node-style-4 wow slideInLeft" data-wow-duration="0.5s" data-wow-delay="0s">
						<div class="icon">
							<i class="pe-7s-home"></i>
						</div>
						<p class="wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0s">Brokerage Free Branded Houses</p>
					</div>
					<div class="node node-style-4 wow slideInLeft" data-wow-duration="0.5s" data-wow-delay="0s">
						<div class="icon">
							<i class="pe-7s-edit"></i>
						</div>
						<p class="wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0s">Customizable Furnishings</p>
					</div>
					<div class="node node-style-4 wow slideInLeft" data-wow-duration="0.5s" data-wow-delay="0s">
						<div class="icon">
							<i class="pe-7s-news-paper"></i>
						</div>
						<p class="wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0s">Transparent Paperwork</p>
					</div>
					<div class="node node-style-4 wow slideInLeft" data-wow-duration="0.5s" data-wow-delay="0s">
						<div class="icon">
							<i class="pe-7s-tools"></i>
						</div>
						<p class="wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0s">Quality Service & Support</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 hide-on-sm hide-on-xs align-self-center">
				<img src="/assets/img/backgrounds/chat.png" class="img-fluid">
			</div>
		</div>

	</div>
</div>



<!-- Localities -->
<section class="container margin-top--10 popular-localities">
	
	<div class="row">
		<div class="col">
			<header class="header">
				<h2 class="head-lg">Popular <strong>Localities</strong></h2>
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-4">
			<div class="locality">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Forum_Mall_DSW.jpg/1200px-Forum_Mall_DSW.jpg">
				<h2 >Koramangala <!--<span>30 Properties</span>--></h2>
				<a href="/listing?location=Koramangala"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-4">
			<div class="locality">
				<img src="https://files.propertywala.com/photos/27/J586911900.aerial-view.2770471l.jpg">
				<h2 >HSR Layout <!--<span>30 Properties</span>--></h2>
				<a href="/listing?location=HSR Layout"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-4">
			<div class="locality">
				<img src="http://www.vibgyorkids.com/vk45/imgs/pics/bldg.jpg">
				<h2 >BTM Layout <!--<span>30 Properties</span>--></h2>
				<a href="/listing?location=BTM Layout"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-4">
			<div class="locality">
				<img src="https://images3.roofandfloor.com/listing_2eeee3a2014ec57cbb20726ac0d6b44c/1024x600/the-aeris-residence-in-indira-nagar-5qp.jpg">
				<h2 >Indira Nagar <!--<span>30 Properties</span>--></h2>
				<a href="/listing?location=Indiranagar"></a>
			</div>
		</div>
		<div class="col-md-6 col-sm-4">
			<div class="locality">
				<img src="http://in.bookmyfunction.com/blog/wp-content/uploads/2016/08/7ryvms-1024x548.jpg">
				<h2 >Electronic City <!--<span>30 Properties</span>--></h2>
				<a href="/listing?location=Electronic City"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-4">
			<div class="locality">
				<img src="https://is1-2.housingcdn.com/4f2250e8/92db863532281776d082311ce4b530ff/v6/_m/pramuk_mm_meridian_jayanagar-bengaluru-pramukhmeridian.jpg">
				<h2 >Jaya Nagar <!--<span>30 Properties</span>--></h2>
				<a href="/listing?location=Jaya Nagar"></a>
			</div>
		</div>
	</div>

</section>


<% include ./common/testimonials %>


<!-- For Owners -->
<section class="container margin-top--30 static-nodes-container">
	
	<div class="row">
		<div class="col">
			<header class="header">
				<h2 class="head-lg">For <strong>Owners</strong></h2>
			</header>
		</div>
	</div>

	
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col-md-6">
					<div class="node">
						<div class="icon">
							<i class="pe-7s-wallet"></i>
						</div>
						<h3>The Right Rent</h3>
						<p>We make sure that the return on your investment is not compromised, helping your investment fetch what it deserves and more.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="node">
						<div class="icon">
							<i class="pe-7s-user"></i>
						</div>
						<h3>The Right Tenent</h3>
						<p>We provide the tenant with background verification check, so that you can have peace that your house is in right hands.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="node">
						<div class="icon">
							<i class="pe-7s-like2"></i>
						</div>
						<h3>The Right Care</h3>
						<p>We maintain the property like our own with the help of trained professional. Minor works/repairs are instantly taken care of.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="node">
						<div class="icon">
							<i class="pe-7s-diamond"></i>
						</div>
						<h3>The Right Choice</h3>
						<p>We take your headache of managing the property end-to-end: Marketing, On-boarding, Rent collection and Maintaining.</p>
					</div>
				</div>
				<div class="col col-md-4 col-lg-6 margin-top-30">
					<a class="btn btn-outline-secondary btn-lg btn-block" href="/owners"><i class="pe-7s-umbrella"></i>List Your House</a>
				</div>
			</div>
		</div>

		<div class="col d-flex align-items-center justify-content-center hide-on-xs hide-on-sm hide-on-md">
			<img class="img-fluid" src="/assets/img/backgrounds/relaxing.png">
			<!-- <div class="image"></div> -->
		</div>

	</div>

			
</section>


<% include ./common/footer %>