<% include ./common/header %>
<div class="modal animated slideInUp add-filters-modal" id="add-filters-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title align-self-center" id="section-headline-text">Add Filters</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<% /* include ./common/property-filter-form */ %>
					<button class="btn btn-secondary btn-block apply-button">Apply Filters</button>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="primary-filters" id="primary-filters">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-auto position-static d-flex justify-content-start align-items-center hide-on-sm hide-on-md">
				<% include ./common/property-filter-form %>
			</div>
			
			<div class="col d-flex justify-content-end align-items-center right-handle" data-fixed-toggle="true">
				
				<ul class="filters">
					<li class="dropdown">
						<button class="btn btn-secondary btn-xs dropdown-toggle" type="button" id="dropdown-sort-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sort By
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdown-sort-by">
							<a class="dropdown-item" href="javascript:void(0)" onclick="housesearch('a_z')">A - Z</a>
							<a class="dropdown-item" href="javascript:void(0)" onclick="housesearch('z_a')">Z - A</a>
							<a class="dropdown-item" href="javascript:void(0)" onclick="housesearch('low_high')">Low - High</a>
							<a class="dropdown-item" href="javascript:void(0)" onclick="housesearch('high_low')">High - Low</a>
						</div>
					</li>
				</ul>
				<button class="btn btn-secondary btn-xs margin-left-10 hide-on-sm hide-on-md" id="change-node-style">Grid View</button>
				<button class="btn btn-secondary btn-xs margin-left-10 mobile-only" data-target="#add-filters-modal" data-toggle="modal">Add Filters</button>
			</div>
		</div>


		<%
		/*
		<div class="row">
			<div class="col">
				<ul id="applied-filters" class="applied-filters">
					<li>Male Filter<span class="close">X</span></li>
					<li>5000 - 15000<span class="close">X</span></li>
					<li>Securty<span class="close">X</span></li>
					<li>Studio<span class="close">X</span></li>
					<li>1BHK<span class="close">X</span></li>
					<li>Lift<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>
					<li>Full House<span class="close">X</span></li>

					<li class="reset" id="reset-filters">
						<i class="pe-7s-refresh"></i> Reset
					</li>
				</ul>
			</div>
		</div>
		*/
		%>
	</div>
</section>

<section class="listing-container" id="listing-container" >
	
	<div class="row">	
		<div class="col-md-5 col-xl-4 property-node-container map-view" id="property-node-container">			
			<%
			var locationvar = []
			if(houses.length == 0) {
			%>
			<div class="property-not-found w-100">
				<div class="row w-100">
					<div class="col d-flex flex-wrap justify-content-center align-items-center">
						<!-- <h4>Sorry, we could not find what you were look for but will help you in finding your nest.</h4> -->
						<div class="row contact-form">
							<div class="col-12">
								<h4>Sorry, we could not find what you were look for but will help you in finding your nest.</h4>
							</div>
							
							<div class="form">															
								<div class="col-12">
									<div class="form-group">
										<label for="name">Name*</label>
										<input type="text" id="name" name="name" class="form-control" placeholder="Ex: John Doe">
										<div id="name_err" class="form-error" style="display: none">This field is required</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="phone">Phone*</label>
										<input type="number" id="number" name="number" class="form-control" placeholder="Ex +91 9964517679">
										<div id="number_err" class="form-error" style="display: none">Invalid number</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="email">Email*</label>
										<input type="email" id="email" name="email" class="form-control" placeholder="john.doe@gmail.com">
										<div id="email_err" class="form-error" style="display: none">This field is required</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="message">Message*</label>
										<textarea class="form-control" id="message" name="message" placeholder="Message Here" style="height: 120px"></textarea>
										<div id="message_err" class="form-error" style="display: none">This field is required</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<button class="btn btn-secondary contact_us_submit" onclick="contact_us(); return false;">Enquire Now</button>
									</div>
								</div>
							</div>

						</div>
						<div class="row completed hide text-center" style="display:none; align-items: center;">
							<h2>Thank You!</h2>
							<h3><i class="color-tertiary pe-7s-smile"></i></h3>
							<h3>Our Executive will shortly get in touch with you</h3>				
						</div>						
					</div>
				</div>
			</div>
			<%
			} else {
			function getTopN(arr, prop, n) {
				// clone before sorting, to preserve the original array
				var clone = arr.slice(0); 
			
				// sort ascending
				clone.sort(function(x, y) {
					if (x[prop] == y[prop]) return 0;
					else if (parseInt(x[prop]) > parseInt(y[prop])) return 1;
					else return -1;
				});
			
				return clone.slice(0, n || 1);
			}
			%>

			<% for(index in houses) { %>
				<%
				locationvar.push({"latitude": houses[index]["latitude"], "longitude": houses[index]["longitude"], "name": houses[index]["name"], "property_url": houses[index]["_id"]})
				%>
				<div class="property-node" id="<%= houses[index]._id %>">
					<a href="/house/<%= houses[index]._id %>" target="_blank" title="<%= houses[index].name %>">							
						
						<div class="image-holder">
							<img src="/upload/<%= houses[index].images[0] %>">								
							<span class="fav-icon selected" data-container="body" data-toggle="tooltip" data-placement="left" title="Shortlist">
								<i class="pe-7s-like"></i>
							</span>
						</div>		

						<div class="content">
							<h2 title="1RK Independent House for male"><%= houses[index].name %></h2>
							<address class="margin-top-5">
								<i class="icon pe-7s-map-marker"></i> <%= houses[index].locality %>
								<%
								let ptype = '<div class="badge badge-female float-right margin-top-0">Both</div>'
								if(houses[index].property_for == "girls") {
									ptype = '<div class="badge badge-female float-right margin-top-0">Female</div>'
								} else if(houses[index].property_for == "boys") {
									ptype = '<div class="badge badge-female float-right margin-top-0">Male<div>'
								}
								%>
								<%- ptype %>
							</address>
							<div class="row">
								<div class="col-auto">
									<% 
										if(houses[index].property_type == "shared") {
											%>
											<%
											let count = 0
											let details = houses[index]['details'].toObject()
											for(j in details) {
												if(!details[j].booked) {
													count++
												}
											}
											let room = "Rooms"
											if(count == 0) {
												count = 'No'
											} else if(count == 1) {
												room = "Room"
											}
											%>
												<div class="available-in">Shared House</div>
												<small><%= count %> <%= room %> Available</small>
											<%
										} else if(houses[index].property_type == "full") {
											%>
												<div class="available-in"><%= houses[index].property_rooms.charAt(0) %> BHK Full House</div>
												<small><%= houses[index].area %> Sq. Ft.</small>
											<%
										} else if(houses[index].property_type == "studio") {
											%>
											<%
											let count = 0
											let details = houses[index]['details'].toObject()
											for(j in details) {
												if(!details[j].booked) {
													count++
												}
											}
											let bed = "Beds"
											if(count == 0) {
												count = 'No'
											} else if(count == 1) {
												bed = "Bed"
											}
											%>
												<div class="available-in">Studio</div>
												<small><%= count %> <%= bed %> Available</small>
											<%
										}
									%>
								</div>
								<div class="col text-right">
									<% if(houses[index].property_type == "shared") {%>
										<div class="price">
											<div class="starts-from">Starts From</div>
											<%
											let rents = getTopN(houses[index].prices, "rent", 1)
											%>
											<var><%= rents[0]["rent"] %></var>
										</div>										
									<% } else { %>
										<div class="price">
											<div class="starts-from">Total Rent</div>
											<var><%= houses[index].prices[0]["rent"] %></var>
										</div>
									<% } %>
								</div>
							</div>
						</div>
					</a>
				</div>

			<% 
			} 
			}
			%>

			<div class="property-not-found w-100">
				<div class="row w-100">
					<div class="col">
						<h4>Could not find what you were looking for? <a href="/contact-us" target="_blank">Contact our team</a></h4>
					</div>
						<!-- <h4>Sorry, we could not find what you were look for but will help you in finding your nest.</h4> -->
						<!-- <div class="row contact-form">
							<div class="col-12">
								<h4>Sorry, we could not find what you were look for but will help you in finding your nest.</h4>
							</div>
							
							<div class="form">															
								<div class="col-12">
									<div class="form-group">
										<label for="name">Name*</label>
										<input type="text" id="name" name="name" class="form-control" placeholder="Ex: John Doe">
										<div id="name_err" class="form-error" style="display: none">This field is required</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="phone">Phone*</label>
										<input type="number" id="number" name="number" class="form-control" placeholder="Ex +91 9964517679">
										<div id="number_err" class="form-error" style="display: none">Invalid number</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="email">Email*</label>
										<input type="email" id="email" name="email" class="form-control" placeholder="john.doe@gmail.com">
										<div id="email_err" class="form-error" style="display: none">This field is required</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="message">Message*</label>
										<textarea class="form-control" id="message" name="message" placeholder="Message Here" style="height: 120px"></textarea>
										<div id="message_err" class="form-error" style="display: none">This field is required</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<button class="btn btn-secondary contact_us_submit" onclick="contact_us(); return false;">Enquire Now</button>
									</div>
								</div>
							</div>

						</div>
						<div class="row completed hide text-center" style="display:none; align-items: center;">
							<h2>Thank You!</h2>
							<h3><i class="color-tertiary pe-7s-smile"></i></h3>
							<h3>Our Executive will shortly get in touch with you</h3>				
						</div>	 -->					
					
				</div>
			</div>
		</div>

		<div class="col-md-7 col-xl-8 map-wrapper" id="map-wrapper">
			
			<div id="map" style="height: 100%;"></div>
			
			<script>
				function contact_us(){
					if($('#name').val().trim() == "") {
						$('#name_err').show()
						setTimeout(function(){
							$('#name_err').hide()
						}, 3000)
						return false
					}
					if($('#number').val() == "" || $('#number').val().length != 10) {
						$('#number_err').show()
						setTimeout(function(){
							$('#number_err').hide()
						}, 3000)
						return false
					}
					if($('#email').val().trim() == "" || !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#email').val().trim()))) {
						$('#email_err').show()
						setTimeout(function(){
							$('#email_err').hide()
						}, 3000)
						return false
					}
					if($('#message').val().trim() == "") {
						$('#message_err').show()
						setTimeout(function(){
							$('#message_err').hide()
						}, 3000)
						return false
					}
					var data = new Array();
					var $btnFinish 	= $('.contact_us_submit');
					data.push({name: "name", value: $('#name').val().trim()});
					data.push({name: "number", value: $('#number').val()});
					data.push({name: "email", value: $('#email').val().trim()});
					data.push({name: "message", value: $('#message').val().trim()});

					console.log('data',data);
					dataSubmit('/contactus_submit', data, $btnFinish, function(json) {
						if(json.success === 1) {
							$('.contact-form')
								.css({ 'display' : 'none' });
							$('.completed')
								.css({ 'display' : 'grid' });
						} else {
							alert("Some error occured while saving information. Please try again later")
						}
					})

				}

				function initialize() {
					var locations = <%- JSON.stringify(locationvar) %>
		      		 // console.log('locations',locations); 
		      		// console.log('length',locations.length); 

				    window.map = new google.maps.Map(document.getElementById('map'), {
				        mapTypeId: google.maps.MapTypeId.ROADMAP
				    });

				    if(locations.length > 0){

					    var infowindow = new google.maps.InfoWindow();

					    var bounds = new google.maps.LatLngBounds();

					    for (i = 0; i < locations.length; i++) {
					        marker = new google.maps.Marker({
					            position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
					            map: map
					        });

					        bounds.extend(marker.position);
					        let contentString = 
						      
						      '<a href="/house/'+locations[i]['property_url']+'" target="_blank">'+locations[i]['name']+'</a>';
						      
						     // console.log('contentString',contentString); 
					        google.maps.event.addListener(marker, 'click', (function (marker, i) {
					        	return function () {
					            	 infowindow.setContent(contentString);
					             //    // infowindow.setContent(locations[i]['name']);
					                 infowindow.open(map, marker);
					                for (j = 0; j < locations.length; j++) {
						                document.getElementById(locations[j]['property_url']).style.boxShadow = "2px 4px 8px 0 rgba(46, 61, 73, 0.2)";
						            }
					                
					                scrollToHouseCard(locations[i]['property_url']);
					            }
					        })(marker, i));
					    }

					    map.fitBounds(bounds);
					 }

				    var listener = google.maps.event.addListener(map, "idle", function () {
				        map.setZoom(13);
				        google.maps.event.removeListener(listener);
				    });
				}
				function loadScript() {
				    var script = document.createElement('script');
				    script.type = 'text/javascript';
				    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCrUG-Sst-tkz4sgCls4DZ1aDlXoRrpvv4&callback=initialize';
				    document.body.appendChild(script);
				}
				function scrollToHouseCard(id){
					$('.map-view').animate({ scrollTop: $('#'+id).offset().top - 100}, 1000);
					document.getElementById(id).style.boxShadow = '5px 5px 5px 2px #6e6969';
            		return false;
				}
				// window.onload = loadScript;
			</script>
		</div>

	</div>

</section>
<script src="/javascripts/common.js"></script>

<% include ./common/footer %>