<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">

        <title>Furnome | Central Management System</title>

        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

        <!-- uikit -->
        <link rel="stylesheet" href="bower_components/uikit/css/uikit.almost-flat.min.css"/>

        <!-- altair admin login page -->
        <link rel="stylesheet" href="assets/css/login_page.min.css" />

    </head>
    <body class="login_page">

        <div class="login_page_wrapper padding-bottom">
            <div class="md-card" id="login_card">
                <div class="md-card-content large-padding" id="login_form">
                    <div class="login_heading">
                        <div class="user_avatar"></div>
                    </div>
                    <form id="signin_form">
                        <div class="uk-form-row" id="login_error_div" style="display:none;">
                            <p id="login_error" style="color:#990000"></p>
                        </div>
                        <!-- <input type="hidden"  name="_csrf" value=""/> -->
                        <div class="uk-form-row">
                            <label for="login_username">Username</label>
                            <input class="md-input" type="text" id="login_username" name="username" />
                        </div>
                        <div class="uk-form-row">
                            <label for="login_password">Password</label>
                            <input class="md-input" type="password" id="login_password" name="password" />
                        </div>
                        <div class="uk-margin-medium-top">
                            <button onclick="formSubmit('/auth/signin','signin_form',$(this),signin);return false;" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign In</button>
                        </div>
                        <div class="uk-margin-top" style="text-align: center;">
                            <a href="#" id="login_help_show" class="uk-float-center" style="color: #1e88e5;">Forgot password?</a>
                            <span class="icheck-inline">
                                <%
                                /*
                                <input type="checkbox" name="login_page_stay_signed" id="login_page_stay_signed" data-md-icheck />
                                <label for="login_page_stay_signed" class="inline-label">Stay signed in</label>
                                */
                                %>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="md-card-content large-padding uk-position-relative" id="login_help" style="display: none">
                    <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
                    <h2 class="heading_b uk-text-success">Can't log in?</h2>
                    <p>Here’s the info to get you back in to your account as quickly as possible.</p>
                    <p>First, try the easiest thing: if you remember your password but it isn’t working, make sure that Caps Lock is turned off, and that your username is spelled correctly, and then try again.</p>
                    <p>If your password still isn’t working, it’s time to <a href="#" id="password_reset_show" style="color: #07d;text-decoration: none;">reset your password</a>.</p>
                </div>
                <div class="md-card-content large-padding" id="login_password_reset" style="display: none">
                    <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
                    <h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
                    <form id="reset_form">
                        <div class="uk-form-row" id="reset_error_div" style="display:none;">
                            <p id="reset_error" style="color:#990000"></p>
                        </div>
                        <div class="uk-form-row" id="reset_success_div" style="display:none;">
                            <p id="reset_success" style="color:#2e7d32"></p>
                        </div>
                        <div class="uk-form-row">
                            <label for="login_email_reset">Your username</label>
                            <input class="md-input" type="text" id="login_email_reset" name="login_username_reset" />
                        </div>
                        <div class="uk-margin-medium-top">
                            <button onclick="formSubmit('/auth/resetrequest','reset_form',$(this),resetcallback);return false;" class="md-btn md-btn-primary md-btn-block">Reset password</button>
                        </div>
                    </form>
                </div>
                <div class="md-card-content large-padding" id="register_form" style="display: none">
                    <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
                    <h2 class="heading_a uk-margin-medium-bottom">Create an account</h2>
                    <form id="signup_form">
                        <div class="uk-form-row" id="registration_error_div" style="display:none;">
                            <p id="registration_error" style="color:#990000"></p>
                        </div>
                        <div class="uk-form-row">
                            <label for="register_username">Username</label>
                            <input class="md-input" type="text" id="register_username" name="username" />
                        </div>
                        <div class="uk-form-row">
                            <label for="register_password">Password</label>
                            <input class="md-input" type="password" id="register_password" name="password" />
                        </div>
                        <div class="uk-form-row">
                            <label for="register_password_repeat">Confirm Password</label>
                            <input class="md-input" type="password" id="register_password_repeat" name="password_repeat" />
                        </div>
                        <div class="uk-form-row">
                            <label for="register_email">E-mail</label>
                            <input class="md-input" type="text" id="register_email" name="email" />
                        </div>
                        <div class="uk-margin-medium-top">
                            <button onclick="formSubmit('/auth/signup','signup_form',$(this),signup);return false;" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-margin-top uk-text-center">
                <a href="#" id="signup_form_show"><span style="color: #888;">Don't have an account?</span>  <u style="color: #1e88e5;"> Sign up</u></a>
            </div>
        </div>

        <!-- common functions -->
        <script src="assets/js/common.min.js"></script>
        <!-- uikit functions -->
        <script src="assets/js/uikit_custom.min.js"></script>
        <!-- altair core functions -->
        <script src="assets/js/altair_admin_common.min.js"></script>

        <!-- altair login page functions -->
        <script src="assets/js/pages/login.min.js"></script>

        <!-- custom javascript -->
        <script src="/javascripts/common.js"></script>

        <script type="text/javascript" >
            function signin(data) {
                if(data.success === 0) {
                    $('#login_error').text(data.msg);
                    $('#login_error_div').fadeIn('280');
                    setTimeout(function(){
                        $('#login_error_div').fadeOut('280');
                        $('#login_error').text('');
                    },3000);
                } else if(data.success === 1) {
                    window.location.href = '/console';
                }
            }

            function signup(data) {
                if(data.success === 0) {
                    $('#registration_error').text(data.msg);
                    $('#registration_error_div').fadeIn('280');
                    setTimeout(function(){
                        $('#registration_error_div').fadeOut('280');
                        $('#registration_error').text('');
                    },3000);
                } else if(data.success === 1) {
                    window.location.href = '/console';
                }
            }
        </script>

    </body>
</html>