<% include ./common/header %>

<section class="hero-section hero-static">
	<img src="./assets/img/banners/terms-privacy.jpg">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col my-auto">
				<header class="header text-center">
					<h2 class="head-hero">Privacy Policy</h2>
				</header>
			</div>
		</div>
	</div>
</section>

<section class="container terms-container">
	<div class="row">
		<div class="col-12 margin-bottom-20">
			<article class="about">
				<p><b>1. Privacy Policy: Use and Applicability</b></p>
				<p>This Privacy Policy is for Furnome Pvt. Ltd. (“Furnome”) and governs the privacy of its users who share their Information on Furnome’s Website (“Website”)</p>
				<p>1.1 Furnome respects the privacy of it's users and is committed to protect it in all respects. With a view to offer most enriching and holistic internet experience to its users, Furnome offers a vast repository of Online Sites and variety of community services. The information about the user as collected by Furnome is: (a) information supplied by users and (b) information automatically tracked while navigation.</p>
				<p>1.2 The policy sets out the different areas where user privacy is concerned and outlines the obligations & requirements of the users and the owners. Furthermore the way the Website and the Mobile App processes, stores and protects user data and Information will also be detailed within this policy.</p>
				<p>1.3 Such information will not be considered as sensitive if it is freely available and accessible in the public domain or is furnished under the Right to Information Act, 2005 or any other law for the time being in force.</p>
				<p><b>2. The Website and Mobile App</b></p>
				<p>2.1 The owners of the Website take a proactive approach to user privacy and ensure that necessary steps are taken to protect the privacy of the Information shared by its users.</p>
				<p><b>3. Express Consent</b></p>
				<p>3.1 Furnome (its affiliates and business partners) may contact the user, either through phone or email, to (i) make follow up calls in relation to the services provided by Furnome through its Website; (ii) for imparting product knowledge; (iii) offering promotional offers running on the Website and Mobile App, etc.</p>
				<p>3.2 By visiting, accessing or availing any services available on the Website or Mobile App, the user explicitly consents to, without limitation or qualification, to the collection, storage, processing disclosure, use and transfer of his/her Personal Information provided by him/her in the manner as described in this Privacy Policy.</p>
				<p><b>4. Third Party Usage of Data</b></p>
				<p>4.1 Furnome will be sharing the user’s Information with their affiliates and business partners at its own discretion. Furnome will primarily share the Information for the following reasons:</p>
				<p>a) analyse usage of the Website and to improve the Service including but not limited to data driven research to improve user experience, create personalized retention programs, etc.</p>
				<p>b) send the User any offers, and communications relevant to their use of the Service;X</p>
				<p>c) Carry out market research, project planning, troubleshooting issues, detecting and protecting against error, fraud or other criminal activity;</p>
				<p>d) bind third-party contractors that provide services to Furnome and are bound by these same privacy restrictions;</p>
				<p>e) to conduct surveys to detect frauds;</p>
				<p>f) Comply with all applicable laws and regulations;</p>
				<p>4.2 Furnome may also use third party service providers to provide services to the User, such as (a) sending e-mail messages on Furnome’s behalf; or (b) hosting and operating a particular feature or functionality of the Service. Our contracts with these third parties usually prohibit the third party service providers from using any Information for purposes unrelated to the product or service they're providing and require such third parties to maintain the confidentiality of the personal information provide to them.</p>
				<p>4.3 Furnome website may include links to other websites. Such sites are governed by their respective privacy policies, which are beyond our control. Once a user leave our servers, use of any information that he/she so provides is governed by the privacy policy of the operator of the site the user is visiting. That policy may differ from Furnome’s. If the user cannot find the privacy policy of any of these sites via a link from the site’s homepage, he/she should contact the site directly for more information.</p>
				<p><b>5. Disclosure / Sharing</b></p>
				<p>5.1 Furnome may disclose or transfer any of the user’s Information to any group entity, contractor, service provider, government agency within or outside his/her jurisdiction as may be deemed to be necessary or appropriate including: (a) under applicable law; (b) to comply with legal process; (c) to Auditors; (d) to respond to requests from public and government authorities including public and government authorities outside the user’s country of residence; (f) to enforce Furnome’s Terms of Use; (g) to protect Furnome’s operations or those of any of our affiliates; (h) to protect Furnome’s rights, privacy, safety or property, and/or that of Furnome’s affiliates, the user’s or others; and (i) to allow Furnome to pursue available remedies or limit the damages that Furnome may sustain.</p>
				<p>5.2 In addition, Furnome may disclose or transfer the user’s Information with other corporate entities and affiliates within or outside his/her jurisdiction to:</p>
				<p>a) Help detect and prevent identity theft, fraud and other potentially illegal acts;</p>
				<p>b) Correlate related or multiple accounts to prevent abuse of Furnome’s services available on the Site; and</p>
				<p>c) To facilitate joint or co-branded services that the user request for where such services are provided by more than one corporate entity.</p>
				<p>d) To directly or indirectly report your payment behaviour to Credit Bureaus</p>
				<p>5.3 Furnome may disclose or transfer the user’s Information within or outside his/her jurisdiction to Furnome’s third party providers who provide goods/services such as contact information verification, payment processing, order fulfilment, customer service, website hosting, data analysis, infrastructure provision, IT services, auditing services and other similar services to enable them to provide the relevant services.</p>
				<p>5.4 The user acknowledges that some entities and /or countries where we may transfer his/her Personal Information may not comply with data protection policies which are as stringent as the laws of his/her own country or the policies followed by Furnome. The user acknowledges that it is adequate that when Furnome transfers his/her Personal Information to any other entity within or outside his/her country of residence, Furnome will place contractual obligations on the transferee which will oblige the transferee to adhere to the provisions of this Privacy Policy.</p>
				<p>5.5 Posting certain requirements on the Site for certain properties, whether for sale or rent, may require the user to provide Furnome with Personal Information such as his/her valid ID proof and proof of employment, prior to posting such requirements. The user hereby acknowledges and permit Furnome (directly or through its contractors) to contact him/her to at the contact number as provided by him/her, for intimating him/her on events, potential buyers, tenants or properties that other Site users might be interested in. The user further consent to Furnome maintaining in our records his/her contact details that would be used for customer inquiry purposes.</p>
				<p><b>6. Secure Data</b></p>
				<p>6.1 Furnome takes appropriate security procedures, which includes internal reviews of Furnome data collection, storage and processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to systems where Furnome stores Information provided by the user.</p>
				<p>6.2 The information Furnome obtains from or about the user are processed and stored in cloud anywhere in World. Furnome complies with generally accepted industry standard regulations regarding collection, use, and retention of data. By using the Services, the user consents to the collection, transfer, use, storage and disclosure of his/her Information as described in this Privacy Policy and under applicable laws.</p>
				<p><b>7. Confidentiality of your login id and password</b></p>
				<p>7.1 The user is responsible for maintaining the security of his/her Login ID and Password, and may not provide these credentials to any third party. If the users believe that they have been stolen or been made known to others, the user must contact us immediately at legal@Furnome.com. Furnome is not responsible if someone else accesses the users account through registration information they have obtained from the user or through a violation by the user of this Policy of Use.</p>
				<p><b>8. Use of Cookies</b></p>
				<p>8.1 To improve the responsiveness of the sites for the users, Furnome may use "cookies", or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user's individual interests using the Identified Computer. Unless the user voluntarily identify himself/herself (through registration, for example), Furnome will have no way of knowing who the user is, even if Furnome assign a cookie to the user’s computer. The only Personal Information a cookie can contain is information the user supply. A cookie cannot read data off the hard drive. Furnome’s advertisers may also assign their own cookies to the user’s browser (if the user click on their ads), a process that Furnome do not control.</p>
				<p>8.2 Furnome web servers automatically collect limited information about the user’s computer's connection to the Internet, including the IP address, when he/she visit the Website. (The IP address is a number that lets computers attached to the Internet know where to send data -- such as the web pages the user view.) The IP address does not identify a user personally. Furnome uses this information to deliver its web pages to the user upon request, to tailor the Website to the interests of its users, to measure traffic within the Website and let advertisers know the geographic locations from where the visitors come.</p>
				<p><b>9. Contact & Communication</b></p>
				<p>10.1 Users contacting this website and/or its owners do so at their own discretion and provide any personal details including but not limited to name, age, gender, email id, contact details, etc., requested by the owner of this Website. Information is kept private and stored securely until a time it is no longer required or has no use. Every effort has been made to ensure a safe and secure form to email submission process but advise users using such form to email processes that they do so at their own risk.</p>
				<p><b>10. Change in Privacy Policy</b></p>
				<p>10.1 It is strongly recommended for you to return to this page periodically to review the most current version of the Policy. Furnome reserves the right at any time, at its sole discretion, to change or otherwise modify the Policy without prior notice, and your continued access or use of this Website signifies your acceptance of the updated or modified Policy. However, if we make any material change to the Policy, we will notify you by means of a notice on this Website prior to the change becoming effective.</p>
				<p>A material change is a change made by Furnome in the following clauses of the privacy policy (i) Privacy Policy use and applicability; (ii) Third Party Usage of Data; (3) Disclosure/ Sharing; (iv) Confidentiality.</p>
				<p>This Privacy Policy has been last updated on 10/06/2018.</p>
			</article>
		</div>
	</div>
</section>

<% include ./common/footer %>