<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="shortcut icon" href="/assets/img/favicon.png" sizes="16x16">

        <title>Furnome | Owner Enquiry List</title>

        <!-- uikit -->
        <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

        <!-- altair admin -->
        <link rel="stylesheet" href="/assets/css/main.min.css" media="all">
        <link rel="stylesheet" href="/stylesheets/style.css" media="all">

        <link rel="stylesheet" href="assets/css/themes/themes_combined.min.css" media="all">

        <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">

        <!-- matchMedia polyfill for testing media queries in JS -->
        <!--[if lte IE 9]>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
        <![endif]-->
    </head>
    <body class="top_menu footer_active">
        <!-- main header -->
        <header id="header_main">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <div class="main_logo_top">
                        <a href="/console"><img src="/assets/img/favicon.png" alt="CloudBrew" style="height:40px;" /></a>
                    </div>

                    <!-- secondary sidebar switch -->
                    <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <div class="uk-navbar-flip">
                        <ul class="uk-navbar-nav user_actions">
                            <!-- <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li> -->
                            <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                                <a href="#" class="user_action_image"><img class="md-user-image" src="/assets/img/avatars/user.png" alt=""/></a>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li><a href="/auth/signout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- main header end -->
        <div id="top_bar">
            <div class="md-top-bar">
                <ul id="menu_top" class="uk-clearfix">
                    <li title="Property List">
                        <a href="/console">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">Property List</span>
                        </a>
                    </li>
                    <li title="Add Property">
                        <a href="/console/newhouse">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">Add Property</span>
                        </a>
                    </li>
                    <li title="Owners Enquiry">
                        <a href="/console/owner_enquiry">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">Owners Enquiry</span>
                        </a>
                    </li>
                    <li title="House Enquiry">
                        <a href="/console/house_enquiry">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">House Enquiry</span>
                        </a>
                    </li>
                    <li title="Rent" class="current_section">
                        <a href="/console/rent">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">Rent</span>
                        </a>
                    </li>
                    <li title="Tenant">
                        <a href="/console/tenant">
                            <span class="menu_icon"><i class="material-icons">&#xE88A;</i></span>
                            <span class="menu_title">Tenant</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="page_content">
            <div id="page_content_inner">
                <!-- <h4 class="heading_a uk-margin-bottom">Property List</h4> -->
                <div class="md-card uk-margin-medium-bottom">
                    
                </div>
                <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial-horizontal">
                    <a class="md-fab md-fab-primary" href="javascript:void(0)" data-uk-modal="{target:'#modal_header_footer',bgclose:false}" title="Upload File"><i class="material-icons">&#xE2C3;</i></a>
                </div>
            </div>
        </div>

        <footer id="footer">
            &copy; Furnome.com <%= new Date().getFullYear() %>. All Rights Reserved.
        </footer>

        <div id="spinner_dialogue" class="uk-modal">
            <div style="position: fixed; top: 50%; right: 48%;">
                <img src="/assets/img/spinners/loading.gif" alt="" width="64" height="64" class="">
            </div>
        </div>

        <div class="uk-modal" id="modal_header_footer">
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">Upload File</h3>
                    <span style="color:#c62828;">* Max upload file size is 110MB</span>
                </div>
                <div>
                    <form id="fileupload_form">
                        <input type="file" id="input-file-a" class="dropify" name="uploaded_file" data-max-file-size="110M" />
                    </form>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close" onclick="$('.dropify-clear').click();">Close</button>
                    <button type="button" class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary" onclick="uploadfile('fileupload_form','/console/rentupload')">Upload</button>
                </div>
            </div>
        </div>

        <script>
            function uploadfile(div_id,url) {
                var form = $('#'+div_id)[0];
                var formData = new FormData(form);
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    // THIS MUST BE DONE FOR FILE UPLOADING
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $('.dropify-clear').click();
                        UIkit.modal("#spinner_dialogue",{bgclose:false}).show();
                    },	
                    complete: function() {
                        
                    },
                    success: function(data) {
                        if (data.success === 1) {
                            UIkit.modal("#spinner_dialogue").hide();
                            location.reload(true)
                        } else if(data.success === 0) {
                            UIkit.modal("#spinner_dialogue").hide();
                            UIkit.notify({
                                message : 'File Upload Error: '+data.msg,
                                status  : 'danger',
                                timeout : 5000,
                                pos     : 'top-center'
                            });
                        }
                    },
                    error: function() {
                        
                    }
                });
            }
        </script>

        <!-- google web fonts -->
        <script>
            WebFontConfig = {
                google: {
                    families: [
                        'Source+Code+Pro:400,700:latin',
                        'Roboto:400,300,500,700,400italic:latin'
                    ]
                }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();

        </script>

        <!-- common functions -->
        <script src="/assets/js/common.min.js"></script>
        <!-- uikit functions -->
        <script src="/assets/js/uikit_custom.min.js"></script>
        <!-- altair common functions/helpers -->
        <script src="/assets/js/altair_admin_common.js"></script>

        
         
        
        <!-- datatables -->
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

        <!-- datatables buttons-->
        <script src="/bower_components/datatables-buttons/js/dataTables.buttons.js"></script>

        <script src="/assets/js/custom/datatables/buttons.uikit.js"></script>

        <script src="/bower_components/jszip/dist/jszip.min.js"></script>
        <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
        <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>

        

        <script src="/bower_components/datatables-buttons/js/buttons.colVis.js"></script>
        <script src="/bower_components/datatables-buttons/js/buttons.html5.js"></script>
        <script src="/bower_components/datatables-buttons/js/buttons.print.js"></script>
       
        <!--  datatables functions -->
        <script src="/assets/js/pages/plugins_datatables.min.js"></script>

         <!-- datatables custom integration -->
        <script src="/assets/js/custom/datatables/datatables.uikit.min.js"></script>

        <!--  dropify -->
        <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>

        <!--  form file input functions -->
        <script src="/assets/js/pages/forms_file_input.min.js"></script>

        <script src="/javascripts/common.js"></script>
        <script>
            $(function() {
                // enable hires images
                altair_helpers.retina_images();
                // fastClick (touch devices)
                if(Modernizr.touch) {
                    FastClick.attach(document.body);
                }
            });
        </script>

    </body>
</html>