<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en"> 
<!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="icon" type="image/png" href="/assets/img/favicon.png" sizes="16x16">

        <title>Furnome | Tenant Information</title>


        <!-- uikit -->
        <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

        
        <!-- altair admin -->
        <link rel="stylesheet" href="/assets/css/main.min.css" media="all">

        <!-- themes -->
        <link rel="stylesheet" href="/assets/css/themes/themes_combined.min.css" media="all">

        <link rel="stylesheet" href="/stylesheets/style.css" media="all">

        <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">

        <!-- matchMedia polyfill for testing media queries in JS -->
        <!--[if lte IE 9]>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
            <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
            <link rel="stylesheet" href="assets/css/ie.css" media="all">
        <![endif]-->

    </head>
    <body class="top_menu footer_active">
        <!-- main header -->
        <header id="header_main">
            <div class="header_main_content">
                <nav class="uk-navbar">
                    <div class="main_logo_top">
                        <a href="/"><img src="/assets/img/logo.png" alt="Furnome" style="height:20px;" /></a>
                    </div>

                    <!-- secondary sidebar switch -->
                    <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                        <span class="sSwitchIcon"></span>
                    </a>
                    <div class="uk-navbar-flip">
                        
                    </div>
                </nav>
            </div>
        </header><!-- main header end -->

        <div id="page_content">
            <div id="page_content_inner">
                <div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-grid-match="{target:'.md-card'}">
                    <div class="uk-width-medium-1-3"></div>
                    <div class="uk-width-medium-1-3">
                        <div class="md-card">
                            <div class="md-card-content">
                                <!-- <h3 class="heading_a">Add Property</h3> -->
                                <form id="create_form" method="POST" action="/informationsave" enctype="multipart/form-data" >
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <!-- <h3 class="heading_a">Basic Details</h3> -->
                                        <div class="uk-width-medium-1-1">
                                            <h3 class="heading_a">Personal Information</h3>
                                            <div class="uk-form-row parsley-row">
                                                <label>Full Name<span class="req">*</span></label>
                                                <input type="text" class="md-input" id="name" required name="name" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Gender<span class="req">*</span></label>
                                                <select name="gender" id="gender" class="md-input" required style="margin-top:21px;">
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Date Of Birth<span class="req">*</span></label>
                                                <input type="text" class="md-input" id="dob" name="dob" required data-uk-datepicker="{format:'DD/MM/YYYY'}" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Contact Number<span class="req">*</span></label>
                                                <input type="text" pattern="[6-9]{1}[0-9]{9}" class="md-input" id="contact" required name="contact" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>WhatsApp Number</label>
                                                <input type="text" pattern="[6-9]{1}[0-9]{9}" class="md-input" id="whatsapp" name="whatsapp" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>PayTM Number</label>
                                                <input type="text" pattern="[6-9]{1}[0-9]{9}" class="md-input" id="paytm" name="paytm" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Email Id<span class="req">*</span></label>
                                                <input type="email" class="md-input" id="email" required name="email" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Profile Photo</label>
                                                <input type="file" id="profile_photo" name="profile_photo" class="dropify" />
                                            </div>
                                            <br>
                                            <br>
                                            <h3 class="heading_a">Additional Information</h3>
                                            <div class="uk-form-row parsley-row">
                                                <label>Father's/Mother's Name<span class="req">*</span></label>
                                                <input type="text" class="md-input" id="parent_name" required name="parent_name" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Permanent Address</label>
                                                <textarea class="md-input" id="permanent_address" name="permanent_address" /></textarea>
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Emergency Contact Name<span class="req">*</span></label>
                                                <input type="text" class="md-input" id="econtact_name" required name="econtact_name" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Emergency Contact Number<span class="req">*</span></label>
                                                <input type="text" pattern="[6-9]{1}[0-9]{9}" class="md-input" id="econtact_number" required name="econtact_number" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Workplace</label>
                                                <input type="text" class="md-input" id="workplace" name="workplace" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Blood Group</label>
                                                <select name="blood_group" id="blood_group" class="md-input" style="margin-top:21px;">
                                                    <option value="A+">A+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B+">B+</option>
                                                    <option value="B-">B-</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="AB-">AB-</option>
                                                    <option value="O+">O+</option>
                                                    <option value="O-">O-</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <br>
                                            <br>
                                            <h3 class="heading_a">ID Proofs</h3>
                                            <div class="uk-form-row parsley-row">
                                                <label>ID Proof<span class="req">*</span></label>
                                                <input type="file" id="id_proof" name="id_proof" required class="dropify" />
                                            </div>
                                            <div class="uk-form-row parsley-row">
                                                <label>Empoyment ID Proof</label>
                                                <input type="file" id="emp_id_proof" name="emp_id_proof" required class="dropify" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid" style="margin-top:10px;">
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-form-row">
                                                <!-- <button onclick="formSubmit('/console/addhouse','create_form',$(this),create);return false;" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light">Add</button> -->
                                                <button <% /* onclick="addproperty();return false;" */ %> type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3"></div>
                </div>
            </div>
        </div>

        <footer id="footer">
            &copy; Furnome <%= new Date().getFullYear() %>. All Rights Reserved.
        </footer>

        <div id="spinner_dialogue" class="uk-modal">
            <div style="position: fixed; top: 50%; right: 48%;">
                <img src="/assets/img/spinners/loading.gif" alt="" width="64" height="64" class="">
            </div>
        </div>

        <!-- google web fonts -->
        <script>
            WebFontConfig = {
                google: {
                    families: [
                        'Source+Code+Pro:400,700:latin',
                        'Roboto:400,300,500,700,400italic:latin'
                    ]
                }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>

        <!-- common functions -->
        <script src="/assets/js/common.min.js"></script>
        <!-- uikit functions -->
        <script src="/assets/js/uikit_custom.min.js"></script>
        <!-- altair common functions/helpers -->
        <script src="/assets/js/altair_admin_common.min.js"></script>

        <!-- ckeditor -->
        <script src="/bower_components/ckeditor/ckeditor.js"></script>
        <script src="/bower_components/ckeditor/adapters/jquery.js"></script>

        <!--  wysiwyg editors functions -->
        <script src="/assets/js/pages/forms_wysiwyg.js"></script>

        <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>
        
        <!--  form file input functions -->
        <script src="/assets/js/pages/forms_file_input.min.js"></script>

        <!-- page specific plugins -->
        <!-- parsley (validation) -->
        <script>
        // load parsley config (altair_admin_common.js)
        altair_forms.parsley_validation_config();
        // load extra validators
        altair_forms.parsley_extra_validators();
        </script>
        <script src="/bower_components/parsleyjs/dist/parsley.min.js"></script>

        <script src="/javascripts/common.js"></script>
    </body>
</html>