<% include ./common/header %>

<section class="hero-section hero-static">
	<img src="./assets/img/banners/terms-privacy.jpg">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col my-auto">
				<header class="header text-center">
					<h2 class="head-hero">Terms &amp; Conditions</h2>
				</header>
			</div>
		</div>
	</div>
</section>

<section class="container terms-container">
	<div class="row">
		<div class="col-12 margin-bottom-20">
			<article class="about">
				<!-- <header class="header">
					<h2 class="head-md">Gereral Terms</h2>
				</header> -->
				<p>Furnome is concerned about the usage by its Users (hereinafter referred to as “USER”), of its Website (“Website”) located at http://www.furnome.com and has provided this Terms of Use statement (hereinafter referred to as “TOU”) to familiarize the User with it.</p>
				<p>The services that Furnome provides to User are subject to the following TOU. Furnome reserves the right to update the TOU at any time without notice to User.</p>
			</article>
			
			<article class="margin-top-20">
				<header class="header">
					<h2 class="head-md">Acceptance of Terms</h2>
				</header>
				<p>A. This Agreement, which incorporates by reference other provisions applicable to use of Website, including, but not limited to, terms and conditions set forth hereof governing the use of certain specific material contained in Website, sets forth the terms and conditions that apply to use of the Website by User. By using Furnome’s Website and Services it offers including download areas, communication forums and services (Collectively “Services”), User agrees to comply with all of the terms and conditions hereof. The right to use the Website is personal to User and is not transferable to any other person or entity. User is responsible for all use of User’s Account (under any screen name or password) and for ensuring that all use of User’s Account complies fully with the provisions of this Agreement. User shall be responsible for protecting the confidentiality of User’s password(s), if any.</p>
				<p>B. Furnome shall have the right at any time to change or discontinue any aspect or feature of the Website, including, but not limited to, content, hours of availability, and equipment needed for access or use.</p>
				<p>Furnome shall have the right at any time to change or modify the terms and conditions applicable to User’s use of the Website, or any part thereof, or to impose new conditions, including, but not limited to, adding fees and charges for use. Such changes, modifications, additions or deletions shall be effective immediately upon notice thereof, which may be given by means including, but not limited to, posting on Website, or by electronic or conventional mail, or by any other means by which User obtains notice thereof. Any use of Website by User after such notice shall be deemed to constitute acceptance by User of such changes, modifications or additions.</p>
				<p>Through its Website, Furnome provides User with access to variety of resources, and services such as listing the User’s property for the purpose of rent/lease, posting User’s requirement for a house/property for rent/lease, preparing lease/rental agreements, collecting monthly rent, collecting security deposit etc. The services, including any updates, enhancements, new features, and/or the addition of any new Website, are subject to the TOU.</p>
				<p>User shall use Website for lawful purposes only. User shall not post or transmit through Website any material which violates or infringes in any way upon the rights of others, which is unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, which encourages conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any law. Any conduct by User that in Furnome’s discretion restricts or inhibits any other User from using or enjoying the Website will not be permitted. User shall not use Website to advertise or perform any commercial solicitation, including, but not limited to, the solicitation of Users to become subscribers of other on-line information services competitive with Furnome.</p>
				<p>Website contains copyrighted material, trademarks and other proprietary information, including, but not limited to text, software, photos, videos, graphics, music and sound, and the entire contents of the Website are copyrighted as a collective work under the Trademark and Copyright laws of India. Furnome owns a copyright in the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. User may not modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit, any of the content, in whole or in part.</p>
				<p>The Services may contain email services, chat areas, forums, personal profile pages, photos, and/or other message or communication facilities designed to enable User to communicate with others (each a “Communication Service” and collectively “Communication Services”). User agrees to use the Communication Services only to post, send and receive messages and material that are proper and when applicable, related to the particular Communication Service. By way of example, and not as a limitation, User agrees that when using the Communication Services, User will not use the communication services for surveys, junk emails, etc,; Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others; Commit an act including, but not limited to publishing, posting, uploading inappropriate, profane, obscene photos, videos or any other material or information that is unlawful under the laws of India; Use any material or information that infringes any copyright, trademark, patent, trade secret, or other proprietary right of any party; upload files that contain viruses; advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Services specifically allows such messages; Download any file posted by another user of a Communication Service that User knows, or reasonably should know, cannot be legally reproduced, displayed, performed, and/or distributed.</p>
				<p>Furnome reserves the right to review materials posted to the communication Services and to remove any material in its sole discretion. Furnome reserves the right to terminate User’s access to any or all of the Communication Services at any time, without notice, for any reason whatsoever. Furnome reserves the right at all times to disclose any information as it deems necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Furnome’s sole discretion.</p>
				<p>This Agreement and any operating rules for Furnome established by Furnome constitute the entire agreement of the parties with respect to the subject matter hereof, and supersede all previous written or oral agreements between the parties with respect to such subject matter. This Agreement shall be construed in accordance with the laws of India.</p>


				<!-- <ul class="margin-top-25 padding-left-15">
					<li class="margin-bottom-20">
						<h4 class="head-sm">Heading</h4>
						strud exercitation ullamco laboris nisi ut aliquip ex ea commodo	
					</li>
					<li class="margin-bottom-20">
						<h4 class="head-sm">Heading</h4>
						strud exercitation ullamco laboris nisi ut aliquip ex ea commodo	
					</li>
					<li class="margin-bottom-20">
						<h4 class="head-sm">Heading</h4>
						strud exercitation ullamco laboris nisi ut aliquip ex ea commodo	
					</li>
				</ul> -->
			</article>
		</div>
	</div>
</section>

<% include ./common/footer %>