// .modal-open .modal {
//     display: flex!important;
//     align-items: center!important;
//     .modal-dialog {
//         flex-grow: 1;
//     }
// }

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(max-width: 768px) {
        min-height: calc(100vh - 20px);
    }
}

.modal {
    animation-duration: 0.5s;
    
    .container{
        padding: 0;
    }

    .modal-content{
        border-radius: $radius;
        border:none;
        @include shadowDefault();

        .modal-header{
            border-color: $colorBorder;

            .modal-title{
                font-size: 24px;
                text-transform: capitalize;
                font-weight: 100;
                color: $colorBase;
            }

            button {
            	border-radius: 0 $radius $radius 0;
            	@include shadowDefault();
				width: 50px;
				height: 50px;
				border: none;
				background-color: #ffffff;
				outline: none !important;
				opacity: 1;
				margin: 0;
				padding: 0;
				margin-right: -60px;

				span {
					font-weight: 100;
					position: relative;
					top: -1px;
					font-size: 36px;
					color: lighten($colorBase, 50%);
					font-family: serif;
				}
            }
        }

        .modal-header, .modal-body{
            padding: 20px 30px;
        }
    }

    
    @media (max-width: 992px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        .modal-dialog {
            position: fixed;
            margin: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            max-width: 992px;

            .modal-content {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 0;
                box-shadow: none;
                
                .modal-header{
                    padding: 0;
                    padding-left:70px;

                    .modal-title{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 55px;
                    }

                    button {
                        margin-right: 0px;
                        width: 55px;
                        height: 55px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-right: 1px solid $colorBorder;
                        box-shadow: none;

                        span {
                            font-size: 55px;
                            color: $colorSecondary;
                        }
                    }
                }

                .modal-body {
                    padding: 20px;
                    position: absolute;
                    top: 56px;
                    height: calc(100% - 56px);
                    width: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }
    }

}
.modal-backdrop {
    background-color: $colorBackground;

    &.show {
    	opacity: 0.85;
    }
}

.modal-backdrop.in {
    opacity: .9;
    filter: alpha(opacity=90);
}