.noUi-target{
	&.noUi-horizontal{
		height: 10px;
		background-color: $colorBorder;
		box-shadow: none;
		border-radius: $radius;
		box-shadow: none;
	}
}	
	

	.noUi-handle{
		background-color: $colorBorder;
		box-shadow: none;
		border-radius: $radius;
		width: 20px !important;
		height: 20px !important;
		border-radius: 100% !important;
		top: -6px !important;
		cursor: move;
		
		&::before {
			content: "";
			display: block;
			position: absolute;
			height: 10px;
			width: 10px;
			background: darken($colorBorder, 10%);
			left: 4px;
			top: 4px;
			border-radius: 100%;
		}

		&::after {
			display: none !important;
			content: '' !important;
		}
	}
.noUi-base, .noUi-connects{
	width: 95%
}
