/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */

.tooltip>.tooltip-inner {
    background-color: $colorTertiary;
    opacity: 1;
    color: $colorWhite;
    //border: none;
}

.tooltip.bs-tooltip-right .tooltip-inner {
    background: #fff !important;
}

.tooltip .arrow:before {
    border-right-color: $colorTertiary !important;
    border-top-color: transparent !important;
    border-left-color: $colorTertiary !important;
}

* {
    outline: none !important;
}