/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

.primary-nav{
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;

    @include transition($prop: all, $time: 0.5s, $ease: linear, $delay: .0s);
    
    .logo {
        position: relative;
        width: 180px;
        height: 65px;
        
        a.desktop, a.mobile{
            display: block;

            img {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        a.mobile {
            display: none;
        }
    }

    .links{
        list-style-type: none;
        padding: 0;
        margin: 0;

        .btn-outline-white{
            line-height: 26px;
            margin-right: 10px;
            padding: 6px 16px;

            i {
                position: relative;
                top: 2px;
                font-size: 17px;
                font-weight: 600;
                margin: 0 6px 0 0;
            }
        }

        li {
            display: inline-block;
            padding: 0 10px;

            a {
                font-size: 13.5px;
                text-transform: uppercase;
                color: $colorWhite;
                text-decoration: none;
                @include transitionCubic();
                letter-spacing: 0.5px;
                font-weight: 400;

                &:hover {   
                    color: darken($colorWhite, 5%);
                }

                 .icon{
                    font-weight: 900;
                    margin-right: 2px;
                    top: 1px;
                    position: relative;
                }
            }
        }
    }

    @mixin show(){
        background-color: rgba($colorWhite, 0.96);
        box-shadow: 0px 1px 20px lighten($colorBase, 80%);

        .links {
            li {
                a{
                    color: lighten($colorBlack, 30%);
                    &:hover {
                        color: lighten($colorBlack, 35%);
                    }
                }

                .btn-outline-white{
                    border-color: lighten($colorBlack, 30%) !important;
                    color: lighten($colorBlack, 30%) !important;
                }
            }
        }
    }

    &.show {
        @include show();  
        background-color: $colorWhite;  
    }

    .mobile-links {
        display: none;
    }

    /* ---------------------------    
                
    ------------------------------------------------------------------------------------------------------- */
    
    @media(max-width: 992px){
        @include show();   
        background: $colorWhite;
        border-bottom: 1px solid $colorBorder;
        height: 55px;
        box-shadow: none;
        
        .logo {
            width: 70px;
            height: 55px;
            border-left: 1px solid $colorBorder;

            a.desktop {
                display: none;
            }
            a.mobile {
                display: block;

                img{                    
                    left: 10px;
                    width: 70%;
                }
            }
        }

        .ham{
            span {
                width: 30px;
                height: 2px;
                background: $colorSecondary;
                margin: 8px 0;
                display: block;
                cursor: pointer;
                @include transition($prop: all, $time: 0.4s, $ease: ease-in-out, $delay: 0s);

            } 
            &.nav-open span{
                &:nth-child(1) {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-6px, 6px);
                }
                &:nth-child(2) {
                    opacity: 0;
                    left: -10px;
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }
        }

        .mobile-links {
            display: block;            

            .menu{
                opacity: 0;
                height: calc(100vh - 55px);
                top: 55px;
                left: -500px;
                width: 300px;
                background: $colorWhite;
                border-right: 1px solid $colorBorder;
                position: fixed;
                padding: 15px 0;
                @include transition($prop: all, $time: 0.5s, $ease: ease-in-out, $delay: 0s);

                &.nav-open {
                    opacity: 1;
                    left: 0;
                }

                ul {
                    line-height: 50px;

                    li {
                        padding: 0 15px;
                        border-bottom: 1px solid $colorBorder;
                        display: block;

                        &:first-child {
                            border: none;
                        }

                        a {
                            display: block;
                        }
                    }
                }
            }
        }

        .desktop-links {
            display: none;
        }


    }
    
}
