strong {
	font-weight: 500; 
}

h1, .h1, h2, .h2, h3, .h3{
    color: darken($colorBase, 2%);
}

h1, .h1 {

}

h2, .h2 {
	font-size: 1.5rem;
}

h3, .h3 {

}

h4, .h4 {
	font-size: 18px;
}


.rupree-code{
	font-family: sans-serif;
}

p {
	line-height: 28px;
	color: $colorBase;
}