.badge{
    font-size: 12px;
    color: $colorWhite;
    padding: 3px 15px;
    opacity: .8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    font-weight: 500;
    margin-top: 15px;

    &.badge-male {
        background-color: $colorPrimary;
    }

    &.badge-female{
        background-color: $colorSecondary;
    }

    &.badge-everyone, &.badge-tertiary {
        background-color: $colorTertiary;
    }

    &.badge-md {
        padding: 4px 15px;
    }
}