/* ---------------------------    
    HEADER        
------------------------------------------------------------------------------------------------------- */

.header {
    .head-lg {
        display: inline-block;
        margin: 32px 0; 
        font-size: 32px;
        font-weight: 300;

        @media(max-width: 768px) {
            font-size: 26px;
        }

        &::after {
            content: '';
            border-bottom: 2px solid $colorTertiary; 
            width: 60px;
            display: block;
            margin-top: 18px;
        }

    }
    p{
        margin-top: -20px;
        margin-bottom: 40px;
    }

    .head-md {
        display: inline-block;
        margin: 26px 0; 
        font-size: 26px;
        font-weight: 300; 

        &::after {
            content: '';
            border-bottom: 2px solid $colorTertiary; 
            width: 100px;
            display: block;
            margin-top: 18px;
        }
    }

    .head-sm {
        display: inline-block;
        margin: 16px 0;
        font-size: 18px;
        font-weight: 500;

        &::after {
            content: '';
            border-bottom: 1px solid $colorTertiary; 
            width: 50px;
            display: block;
            margin-top: 18px;
        }
    }


    .head-hero {
        font-size: 28px;

        @media(max-width: 768px) {
            font-size: 22px;
        }
    }

    &.text-center {
        .head-lg {
            &::after{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}