/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

.popular-localities{

    .locality {
        position: relative;
        overflow: hidden;
        border-radius: $radiusLG;
        margin-bottom: 20px;
        display: table;
        width: 100%;
        height: 200px;
        text-align: center;
        line-height: 200px;

        a{ 
            display: block;
            text-decoration: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            z-index: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit:cover;
            border-radius: $radiusLG;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }

        @include overlaySolidBlack();

        h2 {
            color: $colorWhite;
            font-size: 24px;
            z-index: 1;
            font-weight: 300;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;  
            position: relative;
            letter-spacing: 0.5px;

            span{
                display: block;
                font-size: 12px;
                font-weight: 500;
            }
        }

        
    }

}