/* ---------------------------    
    STARTS          
------------------------------------------------------------------------------------------------------- */

.stars{
    margin-top: 20px;

    span {
        font-size: 13px;
        color: $colorSecondary;
        background: rgba($colorWhite, 0.8);
        border-radius: 3px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        font-weight: 900;

        &.given {
            background-color: $colorSecondary;
            color: $colorWhite;
        }
    }
}