/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */
 
.testimonial-container{
    margin: 80px 0;
    background-image: url(../img/bg/7.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;

    @include overlayTertiarySolid();

    + .primary-footer{
        margin-top: -90px;
    }

    .testimonial-slider{
        position: relative;
        z-index: 1;
        padding: 100px 0;

        .slide-item{
            width: 50%;
            padding: 30px 60px;

            @media(max-width: 768px) {
                padding: 0px;
            }

            div, p {                
                color: $colorWhite;
            }

            p {
                font-size: 16px;
                margin-bottom: 40px;
                position: relative;
                padding: 0 10px;

                &::after, &::before {
                    position: absolute;
                    font-size: 36px;
                }

                &::before{
                    content: '“';
                    left: -5px;
                }

                &::after {
                    content: '”';
                    bottom: 0px;
                    padding-left: 5px;
                }
            }

            .person{
                position: relative;
                margin-top: 10px;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit:cover;
                    bottom: 0;
                    top:0;
                    left: 0;
                    margin: auto;
                    position: absolute;
                }

                padding-left: 120px;

                .name{
                    font-size: 22px;
                    font-weight: 500;
                }

                .company {
                    font-size: 20px;
                }
            }

            @media(max-width: 768px) {
                p{
                    text-align: center;
                }
                .person{
                    padding: 0;
                    img, .name, .company {
                        position: relative;
                        display: block;
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }

        &.owner-slider{
            .slide-item {
                text-align: center;
                
                .person{
                    display: inline-block;
                    position: static;
                    padding-left: 0;
                    
                    img {
                        position: static;
                    }
                }
            }
        }
    }
}