.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    font-size: 14.5px;
    width: 100%;

    &:hover + label:before {
      border-color: darken($colorBorder, 15%) !important;
    }

  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border:1px solid $colorBorder;
    border-radius: $radius;
    @include transitionAll();
  }

  
  // Box focus
  &:focus + label:before {
    //box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 20px;
    background: $colorBase;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $colorBase,
      4px 0 0 $colorBase,
      4px -2px 0 $colorBase,
      4px -4px 0 $colorBase,
      4px -6px 0 $colorBase,
      4px -8px 0 $colorBase;
    transform: rotate(45deg);
  }
}