<div class="modal modal-account slideInUp animate" id="modal-account" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title align-self-center" id="section-headline-text">Login Here</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					
					<div id="alert-error" class="alert alert-warning alert-dismissible fade hide" role="alert">
						<span class="message"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
					<div id="alert-success" class="alert alert-success alert-dismissible fade hide" role="alert">
						<span class="message"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<form class="form d-block" method="post" id="account-login-form">															
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label for="log_email">Email*</label>
									<input autofocus type="email" id="log_email" name="log_email" class="form-control" required placeholder="john.doe@gmail.com">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label for="log_password">Password*</label>
									<input type="password" id="log_password" name="log_password" required class="form-control" placeholder="**********">
								</div>
							</div>
							<div class="col-12 margin-top-20">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<button type="submit" class="btn btn-secondary btn-lg btn-block">Sign In</button>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group text-right">
											<button class="btn btn-outline-secondary margin-bottom-5 btn-lg btn-block" data-show-form="#account-register-form" data-form-header="Sign Up" >Sign Up</button>
											<a href="#" class="link-secondary" data-show-form="#account-recover-form" data-form-header="Forgot Password?">Recover Password</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>

					<form class="form d-none" method="post" id="account-register-form">															
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label for="reg_name">Name*</label>
									<input type="name" id="reg_name" name="reg_name" class="form-control" required placeholder="John Doe">			
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label for="reg_email">Email*</label>
									<input type="email" id="reg_email" name="reg_email" class="form-control" required placeholder="john.doe@gmail.com">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label for="_reg_phone">Phone*</label>
									<input type="number" id="_reg_phone" name="_reg_phone" class="form-control" required placeholder="+91 9964 12 45">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label for="reg_password">Password*</label>
									<input type="password" id="reg_password" name="reg_password" required class="form-control" placeholder="**********">
								</div>
							</div>
							<div class="col-12 margin-top-20">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<button type="submit" class="btn btn-secondary btn-lg btn-block">Sign Up</button>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group text-right">
											<button class="btn btn-outline-secondary margin-bottom-5 btn-lg btn-block" data-show-form="#account-login-form" data-form-header="Login Here">Sign In</button>
											<a href="#" class="link-secondary" data-show-form="#account-recover-form" data-form-header="Forgot Password?">Recover Password</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>

					<form class="form d-none" method="post" id="account-recover-form">															
						<div class="row">							
							<div class="col-12">
								<div class="form-group">
									<label for="rec_email">Email*</label>
									<input type="email" id="rec_email" name="rec_email" class="form-control" required placeholder="john.doe@gmail.com">
								</div>
							</div>
							<div class="col-12 margin-top-20">
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<button type="submit" class="btn btn-secondary btn-lg btn-block">Recover Password</button>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group text-right">
											<button class="btn btn-outline-secondary margin-bottom-5 btn-lg btn-block" data-show-form="#account-login-form" data-form-header="Login Here">Sign In</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>

					<hr >

					<div class="row">
						<div class="col-6">
							<a class="btn btn-block btn-social btn-facebook">
								<span class="fa fa-facebook"></span> Sign in with facebook
							</a>
						</div>
						<div class="col-6">
							<a class="btn btn-block btn-social btn-google">
								<span class="fa fa-google"></span> Sign in with google
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>