<ul class="nav nav-custom-tabs nav-justified">
	<% 
	if(house['property_type'] == 'full') {
	%>
	<li class="nav-item">
		<a class="nav-link active" data-toggle="pill" href="#house_type">Full House</a>
	</li>
	<%
	} else if(house['property_type'] == 'shared') {
	%>
	<li class="nav-item">
		<a class="nav-link active" data-toggle="pill" href="#house_type">Shared House</a>
	</li>
	<%
	} else if(house['property_type'] == 'studio') {
	%>
	<li class="nav-item">
		<a class="nav-link active" data-toggle="pill" href="#house_type">Studio House</a>
	</li>
	<%
	}
	%>
	<li class="nav-item">
		<a class="nav-link" data-toggle="pill" href="#furnome_connect">Furnome Connect</a>
	</li>
</ul>

<div class="content">
	<div class="tab-content">

        <%
        let months = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")
        let iconsobj = {"ac": {"icon": "ac.webp", "name": "Air Conditioner"}, "bed": {"icon": "bed.webp", "name": "Bed"}, "pillow": {"icon": "pillow.webp", "name": "Pillow"}, "cupboard": {"icon": "cupboard.webp", "name": "Cupboard"}, "tv": {"icon": "tv.webp", "name": "Television"}, "wifi": {"icon": "wifi.webp", "name": "Wifi Access"}, "sidetable": {"icon": "side-table.webp", "name": "Side Table"}, "bedsheet": {"icon": "bed-sheet.webp", "name": "Bed Sheet"}}
		if(house['property_type'] == 'full') {
		%>

			<!-- PRIVATE CONTENT -->
			<div class="tab-pane active" id="house_type">
			
				<ul class="nav nav-custom-tabs nav-sm nav-justified">
					<% /* <li class="nav-item">
						<a class="nav-link active" data-toggle="pill" href="#private-room-1">Room 1</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#private-room-2">Room 2</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#private-room-3">Room 3</a>
					</li> */ %>
				</ul>
	
				<!-- PRIVATE CONTENT SUB CONTENT -->
				<div class="tab-content">
					<%
					let details = house['details'].toObject()
					for(index in details) {
					%>
					<div class="tab-pane active container" id="private-room-1">
						
						<div class="row">
							<div class="col">
								<div class="amount-wrapper">
									<label>RENT</label>
									<var class="rent"><span class="rupree-code">&#x20B9;</span> <%= details[index]['rent']%> <small>/M</small></var>
								</div>
							</div>
							<div class="col">
								<div class="amount-wrapper text-right">
									<label>SECURITY DEPOSIT</label>
									<var class="deposit"><span class="rupree-code">&#x20B9;</span> <%= details[index]['security']%></var>
								</div>
							</div>
						</div>
						
						<hr>
	
						<div class="available-from-wrapper">										
							<div class="row">
								<div class="col">
									<div class="availablity">
										<img src="/assets/img/icons/key.svg" class="hide-on-xs">
										<%
										if(details[index]['booked'] === 0) {
										%>
										<div class="content">
											<label>Avaialbe From</label>
											<%
											var datearr = details[index]['available_from'].split('/')
											var date = datearr[0] + ' - ' + months[datearr[1] - 1] + ' - ' + datearr[2]
											%>
											<time datetime="2018-02-10 00:00"><%= date %></time>
										</div>
										<%
										}
										%>
									</div>
								</div>
								<div class="col-auto d-flex align-items-center">
									<%
									if(details[index]['booked'] === 0) {
									%>
									<a href="#modal-schedule-visit" data-toggle="modal" class="btn btn-secondary padding-left-30 padding-right-30">Schedule A Visit</a>
									<%
									} else {
									%>
									<a href="#" class="btn btn-secondary padding-left-30 padding-right-30">Booked</a>	
									<%
									}
									%>
                                </div>
							</div>
						</div>
	
						<div class="room-amenities-wrapper">
							<div class="row">
								<div class="col">
									<h4>House Amenities</h4>
									<ul>
										<%
										let amval = typeof(details[index]['amenities']) != 'undefined' ? details[index]['amenities'] : {}
										let amenities = Object.keys(amval)
										for(i in amenities) {
										%>
										<li>
											<img src="/assets/img/amenities/<%= iconsobj[amenities[i]]['icon']%>">
											<label><%= amval[amenities[i]] %>&nbsp;<%= iconsobj[amenities[i]]['name']%></label>
										</li>
										<%
										}
										%>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<%
					}
					%>
				</div>
			</div>
		<%
		} else if(house['property_type'] == 'shared') {
		%>

		<div class="tab-pane active" id="house_type">
			
			<ul class="nav nav-custom-tabs nav-sm nav-justified">
                <%
                let details = house['details'].toObject()
                for(index in details) {
                %>
				<li class="nav-item">
					<a class="nav-link <%= (index == 0) ? 'active': ''%>" data-toggle="pill" href="#private-room-<%= parseInt(index) + 1 %>">Room <%= parseInt(index) + 1 %></a>
                </li>
                <%
                }
                %>
			</ul>

			<!-- PRIVATE CONTENT SUB CONTENT -->
			<div class="tab-content">
                <%
                let j = 0
                for(index in details) {
                %>
				<div class="tab-pane <%= (j == 0) ? 'active': ''%> container" id="private-room-<%= parseInt(index) + 1 %>">
					
					<div class="row">
						<div class="col">
							<h3 class="title"><%= details[index].name %> <%- (details[index].bath_type == "attach") ? '<span class="badge badge-md badge-tertiary">Attached Bathroom</span>' : ((details[index].bath_type == "dedicated") ? '<span class="badge badge-md badge-tertiary">Dedicated Bathroom</span>' : ((details[index].bath_type == "shared") ? '<span class="badge badge-md badge-tertiary">Shared Bathroom</span>' : "")) %></h3>
						</div>										
					</div>
					<div class="row">
                        <div class="col">
                            <div class="amount-wrapper">
                                <label>RENT</label>
                                <var class="rent"><span class="rupree-code">&#x20B9;</span> <%= details[index]['rent']%> <small>/M</small></var>
                            </div>
                        </div>
                        <div class="col">
                            <div class="amount-wrapper text-right">
                                <label>SECURITY DEPOSIT</label>
                                <var class="deposit"><span class="rupree-code">&#x20B9;</span> <%= details[index]['security']%></var>
                            </div>
                        </div>
                    </div>
					
					<hr>

					<div class="available-from-wrapper">										
                        <div class="row">
                            <div class="col">
                                <div class="availablity">
									<img src="/assets/img/icons/key.svg" class="hide-on-xs">
									<%
									if(details[index]['booked'] === 0) {
									%>
                                    <div class="content">
                                        <label>Avaialbe From</label>
                                        <%
                                        var datearr = details[index]['available_from'].split('/')
                                        var date = datearr[0] + ' - ' + months[datearr[1] - 1] + ' - ' + datearr[2]
                                        %>
                                        <time datetime="2018-02-10 00:00"><%= date %></time>
									</div>
									<%
									}
									%>
                                </div>
                            </div>
                            <div class="col-auto d-flex align-items-center">
								<%
								if(details[index]['booked'] === 0) {
								%>
								<a href="#modal-schedule-visit" data-toggle="modal" class="btn btn-secondary padding-left-30 padding-right-30">Schedule A Visit</a>
								<%
								} else {
								%>
								<a href="#" class="btn btn-secondary padding-left-30 padding-right-30">Booked</a>	
								<%
								}
								%>
                            </div>
                        </div>
                    </div>

                    <div class="room-amenities-wrapper">
                        <div class="row">
                            <div class="col">
                                <h4>Room Amenities</h4>
                                <ul>
                                    <%
									let amval = typeof(details[index]['amenities']) != 'undefined' ? details[index]['amenities'] : {}
									let amenities = Object.keys(amval)
                                    for(i in amenities) {
                                    %>
                                    <li>
                                        <img src="/assets/img/amenities/<%= iconsobj[amenities[i]]['icon']%>">
                                        <label><%= amval[amenities[i]] %>&nbsp;<%= iconsobj[amenities[i]]['name']%></label>
                                    </li>
                                    <%
                                    }
                                    %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                ++j
                }
                %>
            </div>

		</div>

		<%
		} else if(house['property_type'] == 'studio') {
		%>
		<div class="tab-pane active" id="house_type">
			
			<ul class="nav nav-custom-tabs nav-sm nav-justified">
				<%
				let details = house['details'].toObject()
				for(index in details) {
				%>
				<li class="nav-item">
					<a class="nav-link <%= (index == 0) ? 'active': ''%>" data-toggle="pill" href="#private-bed-<%= parseInt(index) + 1 %>">Bed <%= parseInt(index) + 1 %></a>
				</li>
				<%
				}
				%>
			</ul>

			<!-- PRIVATE CONTENT SUB CONTENT -->
			<div class="tab-content">
				<%
				let j = 0
				for(index in details) {
				%>
				<div class="tab-pane <%= (j == 0) ? 'active': ''%> container" id="private-bed-<%= parseInt(index) + 1 %>">
					
					<div class="row">
						<div class="col">
							<h3 class="title"><%= details[index].name %> <%- (details[index].bath_type == "attach") ? '<span class="badge badge-md badge-tertiary">Attached Bathroom</span>' : ((details[index].bath_type == "dedicated") ? '<span class="badge badge-md badge-tertiary">Dedicated Bathroom</span>' : ((details[index].bath_type == "shared") ? '<span class="badge badge-md badge-tertiary">Shared Bathroom</span>' : "")) %></h3>
						</div>										
					</div>
					<div class="row">
						<div class="col">
							<div class="amount-wrapper">
								<label>RENT</label>
								<var class="rent"><span class="rupree-code">&#x20B9;</span> <%= details[index]['rent']%> <small>/M</small></var>
							</div>
						</div>
						<div class="col">
							<div class="amount-wrapper text-right">
								<label>SECURITY DEPOSIT</label>
								<var class="deposit"><span class="rupree-code">&#x20B9;</span> <%= details[index]['security']%></var>
							</div>
						</div>
					</div>
					
					<hr>

					<div class="available-from-wrapper">										
						<div class="row">
							<div class="col">
								<div class="availablity">
									<img src="/assets/img/icons/key.svg" class="hide-on-xs">
									<%
									if(details[index]['booked'] === 0) {
									%>
                                    <div class="content">
                                        <label>Avaialbe From</label>
                                        <%
                                        var datearr = details[index]['available_from'].split('/')
                                        var date = datearr[0] + ' - ' + months[datearr[1] - 1] + ' - ' + datearr[2]
                                        %>
                                        <time datetime="2018-02-10 00:00"><%= date %></time>
									</div>
									<%
									}
									%>
								</div>
							</div>
							<div class="col-auto d-flex align-items-center">
								<%
								if(details[index]['booked'] === 0) {
								%>
								<a href="#modal-schedule-visit" data-toggle="modal" class="btn btn-secondary padding-left-30 padding-right-30">Schedule A Visit</a>
								<%
								} else {
								%>
								<a href="javscript:void(0)" class="btn btn-secondary padding-left-30 padding-right-30">Booked</a>	
								<%
								}
								%>
							</div>
						</div>
					</div>

					<div class="room-amenities-wrapper">
						<div class="row">
							<div class="col">
								<h4>Room Amenities</h4>
								<ul>
									<%
									let amval = typeof(details[index]['amenities']) != 'undefined' ? details[index]['amenities'] : {}
									let amenities = Object.keys(amval)
									for(i in amenities) {
									%>
									<li>
										<img src="/assets/img/amenities/<%= iconsobj[amenities[i]]['icon']%>">
										<label><%= amval[amenities[i]] %>&nbsp;<%= iconsobj[amenities[i]]['name']%></label>
									</li>
									<%
									}
									%>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<%
				++j
				}
				%>
			</div>

		</div>
		<%
		}
		%>

		<div class="tab-pane" id="furnome_connect">
			<div class="tab-content">
				<div class="tab-pane active container" id="connect">
					
					<div class="row">
						<div class="col">
							<h3 class="title">Coming Soon..!!</h3>
						</div>										
					</div>
				</div>
			</div>
		</div>

	</div>
</div>