	<footer class="primary-footer" id="primary-footer">
		
		<div class="cities">
			<div class="container">
			   <div class="row">
			      <div class="col-sm-3">
			         <ul>
			            <li>
			               <a href="/listing?location=HSR%20Layout&rooms=1&minbudget=5000&maxbudget=100000">1 BHK Apartments in HSR</a>
			            </li>
			            <li>
			               <a href="/listing?location=Koramangala&rooms=1&minbudget=5000&maxbudget=100000">1 BHK Apartments in Koramangala</a>
			            </li>
			            <li>
			               <a href="/listing?location=Indiranagar&rooms=1&minbudget=5000&maxbudget=100000">1 BHK Apartments in Indira Nagar</a>
			            </li>
			            <li>
			               <a href="/listing?location=BTM%20Layout&rooms=1&minbudget=5000&maxbudget=100000">1 BHK Apartments in BTM Layout</a>
			            </li>
			         </ul>
			      </div>
			      <div class="col-sm-3">
			         <ul>
			            <li>
			               <a href="/listing?location=HSR%20Layout&rooms=2&minbudget=5000&maxbudget=100000">2 BHK Apartments in HSR</a>
			            </li>
			            <li>
			               <a href="/listing?location=Koramangala&rooms=2&minbudget=5000&maxbudget=100000">2 BHK Apartments in Koramangala</a>
			            </li>
			            <li>
			               <a href="/listing?location=Indiranagar&rooms=2&minbudget=5000&maxbudget=100000">2 BHK Apartments in Indira Nagar</a>
			            </li>
			            <li>
			               <a href="/listing?location=BTM%20Layout&rooms=2&minbudget=5000&maxbudget=100000">2 BHK Apartments in BTM Layout</a>
			            </li>
			         </ul>
			      </div>
			      <div class="col-sm-3">
			         <ul>
			            <li>
			               <a href="/listing?location=HSR%20Layout&rooms=3,4,4%2B,single,double,triple,four&minbudget=5000&maxbudget=100000">3 BHK Apartments in HSR</a>
			            </li>
			            <li>
			               <a href="/listing?location=Koramangala&rooms=3&minbudget=5000&maxbudget=100000">3 BHK Apartments in Koramangala</a>
			            </li>
			            <li>
			               <a href="/listing?location=Indiranagar&rooms=3,4,4%2B,single&minbudget=5000&maxbudget=100000">3 BHK Apartments in Indira Nagar</a>
			            </li>
			            <li>
			               <a href="/listing?location=BTM%20Layout&rooms=3&minbudget=5000&maxbudget=100000">3 BHK Apartments in BTM Layout</a>
			            </li>
			         </ul>
			      </div>
			      <div class="col-sm-3">
			         <ul>
			            <li>
			               <a href="/listing?location=HSR%20Layout">Rooms in HSR</a>
			            </li>
			            <li>
			               <a href="/listing?location=Koramangala">Rooms in Koramangala</a>
			            </li>
			            <li>
			               <a href="/listing?location=Indiranagar">Rooms in Indira Nagar</a>
			            </li>
			            <li>
			               <a href="/listing?location=BTM%20Layout">Rooms in BTM Layout</a>
			            </li>
			         </ul>
			      </div>
			   </div>
			</div>
		</div>
		<div class="other">
			<div class="container">
				<div class="row">					
					<div class="col-sm-10 mx-auto">
						<div class="heading text-center">About Furnome</div>
						<p class="about">Furnome is a one stop solution for all your hassles related to residential rental and its management. For house owners looking for returns, we help them provide verified tenant without losing their sleep as well as compromising their revenue. For someone searching for a rental accomodation, Furnome helps find them a desired space, furnish as per their need and if required help them with a flatmate. To make their stay peaceful and hassle-free day-to-day handyman services are also provided. Furnome aims at simplifying and organising the rental market, with the help of its branded and affordable accomodations.</p>
					</div>
					<div class="col-sm-12">
						<div class="other-links">
							<div class="container">
							   <div class="row">
							      	<div class="col-sm-4">
							      		<div class="heading">Comapany</div>
										<ul>
											<li>
											   <a href="/about-us" title="About Furnome">About Us</a>
											</li>
											<li>
											   <a href="/contact-us">Contact Us</a>
											</li>
											<li>
											   <a href="/terms-conditions">Terms &amp; Condition</a>
											</li>
											<li>
											   <a href="/privacy-policy">Privacy Policy</a>
											</li>
										</ul>
							      	</div>
							      	<div class="col-sm-4">
							        	<div class="heading">For Tenents</div>
										<ul>
											<li>
											   <a href="/listing?house=full">Full House</a>
											</li>
											<li>
											   <a href="/listing?house=shared">Shared House</a>
											</li>
											<!-- <li>
											   <a href="#">Link 3</a>
											</li>
											<li>
											   <a href="#">Link 4</a>
											</li> -->
										</ul>
							      	</div>
							      	<div class="col-sm-4">
							      		<div class="heading">For Owners</div>
										<ul>
											<li>
											   <a href="/owners">List My Property</a>
											</li>
											<li>
											   <a href="/faq">FAQ</a>
											</li>
											
										</ul>
							      	</div>
							      	<div class="col-sm-12 col-md-3">
							      		<div class="heading">Reach Us</div>
										<!-- <tel class="tel"><a href="tel:+91-7259411717">+91 - 7259 411 717</a></tel> -->
										<div class="email"><a href="mailto:info@furnome.com" target="_blank">info@furnome.com</a></div>
							      	</div>			     
							   </div>

							   <div class="row">
							   		<div class="col-sm-12">
							   			<ul class="socil-media-link">
							   				<li>
							   					<a href="https://www.facebook.com/furnishedhome" target="_blank">
							   						<i class="fa fa-facebook-official" aria-hidden="true"></i>
							   					</a>
							   				</li>
							   				<li>
							   					<a href="#">
							   						<i class="fa fa-instagram" aria-hidden="true"></i>
							   					</a>
							   				</li>
							   				<li>
							   					<a href="#">
							   						<i class="fa fa-youtube-play" aria-hidden="true"></i>
							   					</a>
							   				</li>
							   				<li>
							   					<a href="#">
							   						<i class="fa fa-twitter-square" aria-hidden="true"></i>
							   					</a>
							   				</li>
							   			</ul>
							   			<p class="copyright">Copyright 2019 furnome.com. ALL Rights Reserved.</p>
							   		</div>
							   </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>

	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

	<!-- SLick slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

	<!-- Change image on hover -->
	<script src="https://malsup.github.io/min/jquery.cycle2.min.js"></script>

	<!-- WOW - for scorll on animaion -->
	<script type="text/javascript" src="/assets/vendors/wow/wow.min.js"></script>
	
	<!-- Price range slider -->
	<script type="text/javascript" src="/assets/vendors/nouislider/nouislider.min.js"></script>

	<!-- Lightbox for showing images -->
	<script type="text/javascript" src="/assets/vendors/lightbox/lightbox.min.js"></script>
	
	<!-- Main -->
	<script type="text/javascript" src="/assets/js/main.js"></script>

	<!-- Typeahead javascript -->
	<script type="text/javascript" src="/javascripts/typeahead.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122279404-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-122279404-1');
	</script>

</body>

</html>