<ul class="links">
	<li><a href="/owners" class="btn btn-outline-white" title="Post your property for rent"><i class="pe-7s-umbrella"></i>List Your House</a></li>
	<!-- <li><a href="#" class="" title="Call furnome"><tel><a href="tel:+91 - 7259 411 717">+91 - 7259 411 717</a></tel></li> -->
	<li><a href="#" class="" title="Change city"><i class="icon pe-7s-map-marker"></i>Bangalore</a></li>
	<!-- <li><a href="#modal-account" data-toggle="modal" class="" title="Login to furnome"><i class="icon pe-7s-user"></i>Login</a></li> -->
</ul>