<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title><%= meta_title %></title>
  	<meta property="og:site_name" content="Furnome Pvt. ltd.">
	<meta property="og:url" content="https://www.furnome.com">
	<meta property="og:description" content="<%= meta_desc %>">
  	<meta name="description" content="<%= meta_desc %>"/>

	<link rel="shortcut icon" href="/assets/img/favicon.png" sizes="16x16">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	
	<!-- Icons -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Slick slider -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />

	<!-- Price range slider -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/nouislider/nouislider.min.css">

	<!-- Lightbox for more images -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/lightbox/lightbox.min.css">

	<!-- animate.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">

	<!-- Primary Styles -->
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

	<nav class="primary-nav container-fluid" id="primary-nav">
		<div class="row">
			
			<div class="col-auto d-flex align-items-center padding-right-5">
				<div class="ham" id="mobile-link-ham">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<div class="col-auto">
				<div class="logo">
					<a href="/" title="Furnome" class="desktop">
						<img src="/assets/img/logo.png" alt="Furnome" data-reset-image="/assets/img/logo.png" data-scroll-image="/assets/img/logo-dark.png" >
					</a>					
					<a href="/" title="Furnome" class="mobile">
						<img src="/assets/img/logo-dark-thumb.png" >
					</a>
				</div>
			</div>
		
			<div class="col d-flex align-items-center justify-content-end">
				<div class="desktop-links">
					<% include ./header-links %>
				</div>
				<div class="mobile-links">								
					<div class="menu" id="mobile-menu">
						<% include ./header-links %>
					</div>
				</div>
			</div>

		</div>
	</nav>

	<% include ./accounts %>

