
<script>
	function housesearchmobile() {
		let filters = ""

		i = 0
		let name = $('#locationnamemobile').val()
		if(name.trim() != "") {
			i++
			filters += "?location=" + name
		}

		let housetypes = $("#housetypemobile").find("input[type=checkbox]")
		let htype = []
		for(index in housetypes) {
			if($("#"+housetypes[index].id).prop("checked")) {
				htype.push($("#"+housetypes[index].id).val())
			}
		}

		if(htype.length > 0) {
			if(i === 0) {
				filters += "?house=" + htype
			} else {
				filters += "&house=" + htype
			}
			i++
		}

		let genders = $("#gendermobile").find("input[type=checkbox]")
		let ptype = []
		for(index in genders) {
			if($("#"+genders[index].id).prop("checked")) {
				ptype.push($("#"+genders[index].id).val())
			}
		}

		if(ptype.length > 0) {
			if(i === 0) {
				filters += "?gender=" + ptype
			} else {
				filters += "&gender=" + ptype
			}
			i++
		}

		// if(name.trim() != "") {
		location.href = '/listing' + filters
		// } else if(name.trim() == "") {
		// 	$("#jumbo_search_error").text("Location is required to search the house")
		// 	$("#jumbo_search_error").show()
		// 	setTimeout(() => {
		// 		$("#jumbo_search_error").hide()
		// 	}, 3000)
		// }
	}
</script>

<input type="text" name="" id="locationnamemobile" class="form-control input-lg" placeholder="Search your dream house" />						

<div class="dropdown" id="gendermobile">
	<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdown-gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		I'm
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdown-gender">
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="gender-male" type="checkbox" value="boys">
			<label for="gender-male">Boy</label>
		</a>
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="gender-female" type="checkbox" value="girls">
			<label for="gender-female">Girl</label>
		</a>
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="gender-everyone" type="checkbox" value="both">
			<label for="gender-everyone">Everyone</label>
		</a>
	</div>
</div>

<div class="dropdown" id="housetypemobile">
	<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdown-city" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		House Type
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdown-city">
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="house-type-full" type="checkbox" value="full">
			<label for="house-type-full">Full House</label>
		</a>
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="house-type-shared" type="checkbox" value="shared">
			<label for="house-type-shared">Shared House</label>
		</a>
	</div>
</div>

<a class="btn btn-lg btn-primary" href="javascript:void(0)" onclick="housesearchmobile()">Search</a>

<div id="jumbo_search_error" class="error color-white" style="display: none"></div>

