
<script>
	function housesearch() {
		let filters = ""

		i = 0
		let name = $('#locationname').val()
		if(name.trim() != "") {
			i++
			filters += "?location=" + name
		}

		let housetypes = $("#housetype").find("input[type=checkbox]")
		let htype = []
		for(index in housetypes) {
			if($("#"+housetypes[index].id).prop("checked")) {
				htype.push($("#"+housetypes[index].id).val())
			}
		}

		if(htype.length > 0) {
			if(i === 0) {
				filters += "?house=" + htype
			} else {
				filters += "&house=" + htype
			}
			i++
		}

		let genders = $("#gender").find("input[type=checkbox]")
		let ptype = []
		for(index in genders) {
			if($("#"+genders[index].id).prop("checked")) {
				ptype.push($("#"+genders[index].id).val())
			}
		}

		if(ptype.length > 0) {
			if(i === 0) {
				filters += "?gender=" + ptype
			} else {
				filters += "&gender=" + ptype
			}
			i++
		}

		// if(name.trim() != "") {
		location.href = '/listing' + filters
		// } else if(name.trim() == "") {
		// 	$("#jumbo_search_error").text("Location is required to search the house")
		// 	$("#jumbo_search_error").show()
		// 	setTimeout(() => {
		// 		$("#jumbo_search_error").hide()
		// 	}, 3000)
		// }
	}

	window.onload = function() {
		$('#locationname').typeahead({
			onSelect: function(item) {
				// console.log(item);
			},
			ajax: {
				url: "/getlocation",
				timeout: 500,
				displayField: "title",
				triggerLength: 1,
				method: "get",
				loadingClass: "loading-circle",
				preDispatch: function (query) {
					return {
						search: query
					}
				},
				preProcess: function (data) {
					if (data.success === 0) {
						// Hide the list, there was some error
						return false;
					}
					// We good!
					return data.locality;
				}
			}
		});
	}
</script>

<input type="text" name="" id="locationname" class="form-control input-lg" placeholder="Search your dream house" />						

<div class="dropdown" id="gender">
	<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdown-gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		I'm
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdown-gender">
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="gender-male" type="checkbox" value="boys">
			<label for="gender-male">Boy</label>
		</a>
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="gender-female" type="checkbox" value="girls">
			<label for="gender-female">Girl</label>
		</a>
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="gender-everyone" type="checkbox" value="both">
			<label for="gender-everyone">Everyone</label>
		</a>
	</div>
</div>

<div class="dropdown" id="housetype">
	<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdown-city" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		House Type
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdown-city">
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="house-type-full" type="checkbox" value="full">
			<label for="house-type-full">Full House</label>
		</a>
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="house-type-shared" type="checkbox" value="shared">
			<label for="house-type-shared">Shared House</label>
		</a>
		<a class="dropdown-item" href="javascript:void(0)">
			<input class="styled-checkbox" id="house-type-studio" type="checkbox" value="studio">
			<label for="house-type-studio">Studio Apartment</label>
		</a>
	</div>
</div>

<a class="btn btn-lg btn-primary" href="javascript:void(0)" onclick="housesearch()">Search</a>

<div id="jumbo_search_error" class="error color-white" style="display: none"></div>

