
<div class="row form-section">
	
	<div class="col-12 step-wizad-container" id="step-wizad">		
		
		<div class="step-wizad-reel">
			
			<div class="step active" data-previous-step="NULL" data-current-step="1" data-next-step="2" >
				<header class="header">
					<h2 class="head-md">Get Started Now</h2>
				</header>
				<div class="form-group">
					<label for="name">Name*</label>
					<input type="text" id="owner_name" name="owner_name" class="form-control" placeholder="Ex: John Doe">
					<div id="owner_name_err" class="form-error" style="display: none">This field is required</div>
				</div>
				<div class="form-group">
					<label for="phone">Phone*</label>
					<input type="number" id="owner_number" name="owner_number" class="form-control" placeholder="Ex 9964517679">
					<div id="owner_number_err" class="form-error" style="display: none">Please enter 10 digit mobile No</div>
				</div>
				<div class="form-group">
					<label for="email">Email*</label>
					<input type="email" id="owner_email" name="owner_email" class="form-control" placeholder="Ex john.doe@example.com">
					<div id="owner_email_err" class="form-error" style="display: none">Invalid Email Id</div>
				</div>
				<div class="form-group">
					<label for="address">Address/Landmark*</label>
					<textarea class="form-control" id="owner_address" name="owner_address" placeholder="Property Address" style="height: 120px"></textarea>
					<div id="owner_address_err" class="form-error" style="display: none">This field is required</div>
				</div>				
			</div>
			
			<div class="step" data-previous-step="1" data-current-step="2" data-next-step="3" >
				<header class="header">
					<h2 class="head-md">Apartment Details</h2>
				</header>
				<div class="form-group">
					<label for="apartment-name">Apartment Name*</label>
					<input type="text" id="owner_apartment_name" name="apartment_name" class="form-control" placeholder="Ex: John Doe">
					<div id="owner_apartment_name_err" class="form-error" style="display: none">This field is required</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label for="floors">Floors*</label>
							<input min="1" max="15" type="number"  id="owner_apartment_floor" name="apartment_floor" class="form-control" placeholder="2">
							<div id="owner_apartment_floor_err" class="form-error" style="display: none">This field is required</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="rooms">BHK*</label>
							<select id="owner_apartment_rooms" name="apartment_rooms" class="form-control">
								<option value="1BHK">1 BHK</option>
								<option value="2BHK">2 BHK</option>
								<option value="3BHK">3 BHK</option>
								<option value="4BHK">4 BHK</option>
								<option value="Other">Other</option>
							</select>
						</div>	
					</div>
					<div class="col-12 margin-top-5 margin-bottom-5">
						<div class="form-group row">
							<label class="col-12">Available For*</label>
							<a class="col-auto" href="#">
								<input class="styled-checkbox" id="gender-male" type="checkbox" name="apartment_boys" value="gender-male">
								<label for="gender-male">For Boy</label>
							</a>
							<a class="col-auto" href="#">
								<input class="styled-checkbox" id="gender-female" type="checkbox" name="apartment_girls" value="gender-female">
								<label for="gender-female">For Girl</label>
							</a>
							<div id="owner_available_type_err" class="form-error" style="display: none">This field is required</div>
						</div>	
					</div>
					<div class="col-12"></div>
					<div class="col-6">
						<div class="form-group">
							<label for="rent">Rent*</label>
							<input min="1" max="15" type="number" id="rent" name="apartment_rent" class="form-control" placeholder="15000">
							<div id="rent_err" class="form-error" style="display: none">This field is required</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="deposit">Deposit*</label>
							<input min="1" max="15" type="number" id="deposit" name="apartment_deposit" class="form-control" placeholder="50000">
							<div id="deposit_err" class="form-error" style="display: none">This field is required</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="date-available">Available From*</label>
							<input type="date" id="date-available" name="apartment_date" class="form-control" placeholder="10/10/2018">
							<div id="date-available_err" class="form-error" style="display: none">This field is required</div>
						</div>
					</div>
				</div>
							
			</div>

			<div class="step" data-previous-step="2" data-current-step="3" data-next-step="NULL" >
				<header class="header">
					<h2 class="head-md">Amenities</h2>
				</header>
				<form id="amenities">
				<div class="form-group row">
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-swimming-pool" name="amenity-swimming-pool" type="checkbox" value="amenity-swimming-pool">
						<label for="amenity-swimming-pool">Swimming Pool</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-squash-court" type="checkbox" value="amenity-squash-court" name="amenity-squash-court">
						<label for="amenity-squash-court">Squash Court</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-basketball-court" type="checkbox" value="amenity-basketball-court" name="amenity-basketball-court">
						<label for="amenity-basketball-court">Basketball Court</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-security" type="checkbox" value="amenity-security" name="amenity-security">
						<label for="amenity-security">Security</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-power-backup" type="checkbox" value="amenity-power-backup" name="amenity-power-backup">
						<label for="amenity-power-backup">Power Backup</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-gymanasium" type="checkbox" value="amenity-gymanasium" name="amenity-gymanasium">
						<label for="amenity-gymanasium">Gymanasium</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-badminton-court" type="checkbox" value="amenity-badminton-court" name="amenity-badminton-court">
						<label for="amenity-badminton-court">Badminton Court</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-parking" type="checkbox" value="amenity-parking" name="amenity-parking">
						<label for="amenity-parking">Parking</label>
					</div>
					<div class="col-6 margin-top-10 margin-bottom-5">
						<input class="styled-checkbox" id="amenity-tennis-court" type="checkbox" value="amenity-tennis-court" name="amenity-tennis-court">
						<label for="amenity-tennis-court">Tennis Court</label>
					</div>											
				</div>
				</form>				
			</div>
		</div>

		<div class="completed hide text-center">
			<h3>Thank You!</h3>
			<i class="color-tertiary pe-7s-smile"></i>
			<p>Our Executive will shortly get in touch with you</p>				
		</div>

		<div class="row button-wrapper">
			<div class="col-12">			
				<div class="form-group d-flex justify-content-between">
					<button class="btn btn-outline-tertiary btn-lg btn-previous hide"><i class="pe-7s-angle-left"></i> Back</button>
					<button class="btn btn-outline-tertiary btn-lg btn-continue">Continue <i class="pe-7s-angle-right"></i></button>
					<button class="btn btn-tertiary btn-lg btn-finish hide">Finish</button>
				</div>
			</div>
			<div class="col-12">
				<small>Currently only in Bangalore</small>
			</div>
		</div>
	</div>


</div>
<script>
	
	function validateDataStep1(){
		console.log('web')
		if($('#owner_name').val().trim() == "") {
			$('#owner_name_err').show()
			setTimeout(function(){
				$('#owner_name_err').hide()
			}, 3000)
			return false
		}
		if($('#owner_number').val().trim() == "" || $('#owner_number').val().trim().length != 10) {
			$('#owner_number_err').show()
			setTimeout(function(){
				$('#owner_number_err').hide()
			}, 3000)
			return false
		}
		if($('#owner_email').val().trim() == "" || !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#owner_email').val().trim()))) {
			$('#owner_email_err').show()
			setTimeout(function(){
				$('#owner_email_err').hide()
			}, 3000)
			return false
		}
		if($('#owner_address').val().trim() == "") {
			$('#owner_address_err').show()
			setTimeout(function(){
				$('#owner_address_err').hide()
			}, 3000)
			return false
		}
		else{
			console.log('true');
			return true;
		}
		
	}

	function validateDataStep2(){
		if($('#owner_apartment_name').val().trim() == "") {
			$('#owner_apartment_name_err').show()
			setTimeout(function(){
				$('#owner_apartment_name_err').hide()
			}, 3000)
			return false
		}
		if($('#owner_apartment_floor').val().trim() == "") {
			$('#owner_apartment_floor_err').show()
			setTimeout(function(){
				$('#owner_apartment_floor_err').hide()
			}, 3000)
			return false
		}
		if($('#rent').val().trim() == "") {
			$('#rent_err').show()
			setTimeout(function(){
				$('#rent_err').hide()
			}, 3000)
			return false
		}
		if($('#deposit').val().trim() == "") {
			$('#deposit_err').show()
			setTimeout(function(){
				$('#deposit_err').hide()
			}, 3000)
			return false
		}
		if($('#date-available').val().trim() == "") {
			$('#date-available_err').show()
			setTimeout(function(){
				$('#date-available_err').hide()
			}, 3000)
			return false
		}
		else{
			console.log('true');
			return true;
		}
		
	}

	function validateOwnerForm(){
		
		var data = new Array();
		var $btnFinish 	= $('.btn-finish');

		let amenitieslist = $('#amenities').find("input[type=checkbox]")
	        amenitieslist = amenitieslist.toArray()
	        for(var index in amenitieslist) {
	            if($("#"+amenitieslist[index].id).parent(".icheckbox_md").hasClass("checked")) {
	                data.push("amenities", $("#"+amenitieslist[index].id).val())
	            }
	        }

		data.push({name: "owner_name", value: $('#owner_name').val().trim()});
		data.push({name: "owner_number", value: $('#owner_number').val().trim()});
		data.push({name: "owner_email", value: $('#owner_email').val().trim()});
		data.push({name: "owner_address", value: $('#owner_address').val().trim()});
		data.push({name: "owner_apartment_name", value: $('#owner_apartment_name').val().trim()});
		data.push({name: "owner_apartment_floor", value: $('#owner_apartment_floor').val().trim()});
		data.push({name: "owner_apartment_rooms", value: $('#owner_apartment_rooms').val()});
		data.push({name: "availability", value: ''});
		data.push({name: "rent", value: $('#rent').val().trim()});
		data.push({name: "deposit", value: $('#deposit').val().trim()});
		data.push({name: "date_available", value: $('#date-available').val().trim()});
		// data.push({name: "amenities", value: $('#deposit').val().trim()});

		// console.log('data',data);
		dataSubmit('/owners/enquiry', data, $btnFinish, function(json) {
			console.log('json',json)
			if(json.success === 1) {
				$('.step-wizad-reel:visible').hide();
				$('.button-wrapper').hide();
				$('.completed')
						.addClass('animated zoomIn')
						.removeClass('hide')
				return true;
			} else {
				alert("Some error occured while saving information. Please try again later")
			}
		})
	}
</script>