<!-- testimonials -->
<section class="container-fluid testimonial-container">
	
	<div class="container padding-left-0 padding-right-0">
		<div class="row">
			<div class="col-12">
				<div class="slick-slider testimonial-slider owner-slider" id="testimonial-slider-owner">
					
					
					<div class="slide-item">
						<p> This is to express my appreciation for the excellent services which I have received from Furnome for finding great tenants and renting my apartment. The staff is warm and accommodating. Specifically the team is very responsive and updates me regularly while renting my apartment. The background verification that Furnome does makes the life of anowner happy. Please start the services in other metros too.</p>
						<div class="person">
							<img src="/assets/img/prakash-owner.jpeg">
							<div class="name">Making life of the owner happy</div>
							<div class="company">Prakash Velamuri, Owner</div>
						</div>
					</div>
					<div class="slide-item">
						<p>I have been extremely satisfied and benefitted with Furnome's services and am very happy with the way in which they handle tenant issues resulting in a hassle free experience. The team is always accessible and free to suggestions and is always adapting to situations for the convenience of owners.</p>
						<div class="person">
							<img src="/assets/img/avinash-owner.jpg">
							<div class="name">Hassle free ownership experience</div>
							<div class="company">Avinash, Owner</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>