<ul class="filters">

	<li class="search">
		<i class="pe-7s-search"></i>
		<input type="text" name="search" id="locationname" class="form-control" placeholder="Search your dream place here">
	</li>
	
	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			For Gender
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender" id="gender">
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="gender-male" type="checkbox" value="boys">
				<label for="gender-male">For Boy</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="gender-female" type="checkbox" value="girls">
				<label for="gender-female">For Girl</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="gender-everyone" type="checkbox" value="both">
				<label for="gender-everyone">For Everyone</label>
			</a>
		</div>
	</li>

	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-housetype" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			House Type
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender" id="housetype">
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-shared" type="checkbox" value="shared">
				<label for="house-type-shared">Shared House</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-full" type="checkbox" value="full">
				<label for="house-type-full">Full House</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-studio" type="checkbox" value="studio">
				<label for="house-type-studio">Studio Apartment</label>
			</a>
			<!--<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-furnished" type="checkbox" value="furnished">
				<label for="house-type-furnished">Furnished House</label>
			</a> -->
		</div>
	</li>

	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-rooms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Rooms
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-rooms" id="roomcount">
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-1" type="checkbox" value="1">
				<label for="rooms-count-1">1 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-2" type="checkbox" value="2">
				<label for="rooms-count-2">2 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-3" type="checkbox" value="3">
				<label for="rooms-count-3">3 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-4" type="checkbox" value="4">
				<label for="rooms-count-4">4 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-4plus" type="checkbox" value="4%2B">
				<label for="rooms-count-4plus">4+ BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-single" type="checkbox" value="single">
				<label for="rooms-count-single">Single Sharing Studio</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-double" type="checkbox" value="double">
				<label for="rooms-count-double">Double Sharing Studio</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-triple" type="checkbox" value="triple">
				<label for="rooms-count-triple">Triple Sharing Studio</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-four" type="checkbox" value="four">
				<label for="rooms-count-four">Four Sharing Studio</label>
			</a>
		</div>
	</li>

	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Budget
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender">
			<div class="range-wrapper">
				<div class="row">
					<div class="col">
						<label class="label"><small>Min</small></label>
						<input min-length="5000" max-length="100000" id="budget-min-range" type="number" class="form-control input-sm" placeholder="Min" readonly>
					</div>
					<div class="col">
						<label class="label"><small>Max</small></label>
						<input min-length="5000" max-length="100000" id="budget-max-range" type="number" class="form-control input-sm" placeholder="Max" readonly>
					</div>
					<div class="col-auto">
						<button onclick="housesearch()" class="btn btn-secondary btn-sm btn-block">Go</button>
					</div>
				</div>								 
				<div id="budget-slider-range"></div>
			</div>
		</div>
	</li>
	
	<li class="dropdown more-options">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			More Options
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-3">
						<header class="header">
							<h5 class="head-sm">Filter By Area</h5>
						</header>						
						<div class="form-group row">
							<div class="col-6">
								<input type="number" id="minhousesize" class="form-control" placeholder="Min sq. ft.">
							</div>
							<div class="col-6">
								<input type="number" id="maxhousesize" class="form-control" placeholder="Min sq. ft.">
							</div>												
						</div>
						<header class="header">
							<h5 class="head-sm">Show Property</h5>
						</header>
						<div class="form-group row">
							<div class="col-12 margin-top-5 margin-bottom-5">
								<input class="styled-checkbox" id="exclude-booked-property" type="checkbox" value="booked">
								<label for="exclude-booked-property">Exclude Booked Property</label>
							</div>												
						</div>
						<div class="form-group row">
							<div class="col-12 margin-top-5 margin-bottom-5">
								<button class="btn btn-secondary" onclick="housesearch()">Submit</button>
							</div>												
						</div>
					</div>
					
					<div class="col-sm-12 col-lg-9">
															
						<header class="header">
							<h5 class="head-sm">Amenities</h5>
						</header>

						<div class="row" id="amenities-filter">
							<div class="col-sm-6 col-lg-4 amenities">
								<div class="form-group row">
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-swimming-pool" type="checkbox" value="swimming">
										<label for="amenity-swimming-pool">Swimming Pool</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-squash-court" type="checkbox" value="squash">
										<label for="amenity-squash-court">Squash Court</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-basketball-court" type="checkbox" value="basketball">
										<label for="amenity-basketball-court">Basketball Court</label>
									</div>											
								</div>
							</div>
							<div class="col-sm-6 col-lg-4  margin-top-xs--15 amenities">
								<div class="form-group row">
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-security" type="checkbox" value="security">
										<label for="amenity-security">Security</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-power-backup" type="checkbox" value="power">
										<label for="amenity-power-backup">Power Backup</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-gymanasium" type="checkbox" value="gym">
										<label for="amenity-gymanasium">Gymanasium</label>
									</div>											
								</div>
							</div>
							<div class="col-sm-12 col-lg-4 margin-top-sm--15 amenities">
								<div class="form-group row">
									<div class="col-12 col-sm-6 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-tennis-court" type="checkbox" value="tennis">
										<label for="amenity-tennis-court">Tennis Court</label>
									</div>
									<div class="col-12 col-sm-6 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-badminton-court" type="checkbox" value="badminton">
										<label for="amenity-badminton-court">Badminton Court</label>
										
									</div>
									
									<div class="col-12 col-sm-6 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-parking" type="checkbox" value="parking">
										<label for="amenity-parking">Parking</label>
									</div>										
								</div>
							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</li>

</ul>

<script>
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = decodeURI(value);
		});
		return vars;
	}

	window.onload = function() {

		$('#locationname').typeahead({
			onSelect: function(item) {
				housesearch()
			},
			ajax: {
				url: "/getlocation",
				timeout: 500,
				displayField: "title",
				triggerLength: 1,
				method: "get",
				loadingClass: "loading-circle",
				preDispatch: function (query) {
					return {
						search: query
					}
				},
				preProcess: function (data) {
					if (data.success === 0) {
						// Hide the list, there was some error
						return false;
					}
					// We good!
					return data.locality;
				}
			}
		});

		if(localStorage.getItem("view") === null) {
			localStorage.setItem('view', 'map')
		}
		let filters = getUrlVars()
		for(index in filters) {
			switch(index) {
				case 'location':
					$('#locationname').val(filters[index])
				break
				case 'gender':
					let genders = $("#gender").find("input[type=checkbox]").toArray()
					let ptype = filters[index].split(',')
					for(index in genders) {
						if(ptype.indexOf($("#"+genders[index].id).val()) >= 0) {
							$("#"+genders[index].id).prop("checked", true)
						}
					}
				break
				case 'house':
					let housetypes = $("#housetype").find("input[type=checkbox]").toArray()
					let htype = filters[index].split(',')
					for(index in housetypes) {
						if(htype.indexOf($("#"+housetypes[index].id).val()) >= 0) {
							$("#"+housetypes[index].id).prop("checked", true)
						}
					}
				break
				case 'rooms':
					let roomcount = $("#roomcount").find("input[type=checkbox]").toArray()
					let rtype = filters[index].split(',')
					for(index in roomcount) {
						if(rtype.indexOf($("#"+roomcount[index].id).val()) >= 0) {
							$("#"+roomcount[index].id).prop("checked",true)
						}
					}
				break
				case 'minbudget':
				case 'maxbudget':
					let handlesSlider = document.getElementById('budget-slider-range');
					let start = filters["minbudget"] ? filters["minbudget"] : $("#budget-min-range").val();
					let end = filters["maxbudget"] ? filters["maxbudget"] : $("#budget-max-range").val();
					handlesSlider.noUiSlider.set([
						Number(start),
						Number(end)
					]);
				break
				case 'amenities':
					let amenities = $("#amenities-filter").find(".amenities").find("input[type=checkbox]").toArray()
					let atype = filters[index].split(',')
					for(index in amenities) {
						if(atype.indexOf($("#"+amenities[index].id).val()) >= 0){
							$("#"+amenities[index].id).prop("checked",true)
						}
					}
				break
				case 'minsize':
					$("#minhousesize").val(filters[index])
				break
				case 'maxsize':
					$("#maxhousesize").val(filters[index])
				break
				case 'booked':
					if(filters[index] === 'false') {
						$("#exclude-booked-property").prop('checked',true)
					}
			}
		}
		loadScript()
		setonclicks()
		
		if(localStorage.getItem("view") === 'grid') {
			$('#property-node-container').removeClass('map-view');
			$('#map-wrapper').toggleClass('hidden')
			$('#listing-container').addClass('container');
			$('#change-node-style').text(
				'Map View' 
			);
			localStorage.setItem('view', 'grid')
		}
	}

	function setonclicks() {

		// let location = $("#locationname").on("blur",(e) => {
		// 	if($("#locationname").val().trim() != "") {
		// 		housesearch()
		// 	}
		// })

		let genders = $("#gender").find("input[type=checkbox]").toArray()
		for(index in genders) {
			$("#"+genders[index].id).on('click', function() {
				housesearch()
			})
		}

		let housetypes = $("#housetype").find("input[type=checkbox]").toArray()
		for(index in housetypes) {
			$("#"+housetypes[index].id).on('click', function() {
				housesearch()
			})
		}

		let roomcount = $("#roomcount").find("input[type=checkbox]").toArray()
		for(index in roomcount) {
			$("#"+roomcount[index].id).on('click', function() {
				housesearch()
			})
		}

		// let amenities = $("#amenities-filter").find(".amenities").find("input[type=checkbox]").toArray()
		// for(index in amenities) {
		// 	$("#"+amenities[index].id).on('click', function(){
		// 		housesearch()
		// 	})
		// }
	}


	function housesearch(sort) {
		let filters = ""

		i = 0
		let name = $('#locationname').val()
		if(name.trim() != "") {
			i++
			filters += "?location=" + name
		}
		
		let housetypes = $("#housetype").find("input[type=checkbox]").toArray()
		let htype = []
		for(index in housetypes) {
			if($("#"+housetypes[index].id).prop("checked")) {
				htype.push($("#"+housetypes[index].id).val())
			}
		}

		if(htype.length > 0) {
			if(i === 0) {
				filters += "?house=" + htype
			} else {
				filters += "&house=" + htype
			}
			i++
		}

		let genders = $("#gender").find("input[type=checkbox]").toArray()
		let ptype = []
		for(index in genders) {
			if($("#"+genders[index].id).prop("checked")) {
				ptype.push($("#"+genders[index].id).val())
			}
		}

		if(ptype.length > 0) {
			if(i === 0) {
				filters += "?gender=" + ptype
			} else {
				filters += "&gender=" + ptype
			}
			i++
		}

		let roomcount = $("#roomcount").find("input[type=checkbox]").toArray()
		let rtype = []
		for(index in roomcount) {
			if($("#"+roomcount[index].id).prop("checked")) {
				rtype.push($("#"+roomcount[index].id).val())
			}
		}

		if(rtype.length > 0) {
			if(i === 0) {
				filters += "?rooms=" + rtype
			} else {
				filters += "&rooms=" + rtype
			}
			i++
		}

		let budgetmin = $("#budget-min-range").val()
		if(!Number.isNaN(parseInt(budgetmin))) {
			if(i === 0) {
				filters += "?minbudget=" + budgetmin
			} else {
				filters += "&minbudget=" + budgetmin
			}
			i++
		}

		let budgetmax = $("#budget-max-range").val()
		if(!Number.isNaN(parseInt(budgetmax))) {
			if(i === 0) {
				filters += "?maxbudget=" + budgetmax
			} else {
				filters += "&maxbudget=" + budgetmax
			}
			i++
		}

		let amenities = $("#amenities-filter").find(".amenities").find("input[type=checkbox]").toArray()
		let atype = []
		for(index in amenities) {
			if($("#"+amenities[index].id).prop("checked")){
				atype.push($("#"+amenities[index].id).val())
			}
		}

		if(atype.length > 0) {
			if(i === 0) {
				filters += "?amenities=" + atype
			} else {
				filters += "&amenities=" + atype
			}
			i++
		}

		let minsize = $("#minhousesize").val()
		if(!Number.isNaN(parseInt(minsize))) {
			if(i === 0) {
				filters += "?minsize=" + minsize
			} else {
				filters += "&minsize=" + minsize
			}
			i++
		}

		let maxsize = $("#maxhousesize").val()
		if(!Number.isNaN(parseInt(maxsize))) {
			if(i === 0) {
				filters += "?maxsize=" + maxsize
			} else {
				filters += "&maxsize=" + maxsize
			}
			i++
		}

		if($("#exclude-booked-property").prop('checked')) {
			if(i === 0) {
				filters += "?booked=false"
			} else {
				filters += "&booked=false"
			}
			i++
		}

		if(typeof(sort) != 'undefined') {
			if(i === 0) {
				filters += "?sort=" + sort
			} else {
				filters += "&sort=" + sort
			}
			i++
		}

		// if(name.trim() != "") {
		location.href = '/listing' + filters
		// } else if(name.trim() == "") {
		// 	$("#jumbo_search_error").text("Location is required to search the house")
		// 	$("#jumbo_search_error").show()
		// 	setTimeout(() => {
		// 		$("#jumbo_search_error").hide()
		// 	}, 3000)
		// }
	}
</script>