<ul class="filters">

	<li class="search">
		<i class="pe-7s-search"></i>
		<input type="text" name="search" class="form-control" placeholder="Search your dream place here">
	</li>
	
	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			For Gender
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender">
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="gender-male-mobile" type="checkbox" value="boy">
				<label for="gender-male-mobile">For Boy</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="gender-female-mobile" type="checkbox" value="girl">
				<label for="gender-female-mobile">For Girl</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="gender-everyone-mobile" type="checkbox" value="both">
				<label for="gender-everyone-mobile">For Everyone</label>
			</a>
		</div>
	</li>

	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			House Type
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender">
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-shared-mobile" type="checkbox" value="shared">
				<label for="house-type-shared-mobile">Shared House</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-full-mobile" type="checkbox" value="full">
				<label for="house-type-full-mobile">Full House</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-studio-mobile" type="checkbox" value="studio">
				<label for="house-type-studio-mobile">Studio Apartment</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="house-type-furnished-mobile" type="checkbox" value="furnished">
				<label for="house-type-furnished-mobile">Furnished House</label>
			</a>
		</div>
	</li>

	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Rooms
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender">
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-1-mobile" type="checkbox" value="1BHK">
				<label for="rooms-count-1-mobile">1 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-2-mobile" type="checkbox" value="1BHK">
				<label for="rooms-count-2-mobile">2 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-3-mobile" type="checkbox" value="3BHK">
				<label for="rooms-count-3-mobile">3 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-4-mobile" type="checkbox" value="4BHK">
				<label for="rooms-count-4-mobile">4 BHK</label>
			</a>
			<a class="dropdown-item" href="javascript:void(0)">
				<input class="styled-checkbox" id="rooms-count-duplex-mobile" type="checkbox" value="duplex">
				<label for="rooms-count-duplex-mobile">Duplex</label>
			</a>
		</div>
	</li>

	<li class="dropdown">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Budget
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender">
			<div class="range-wrapper">
				<div class="row">
					<div class="col">
						<label class="label"><small>Min</small></label>
						<input min-length="5000" max-length="100000" id="budget-min-range-mobile" type="number" class="form-control input-sm" placeholder="Min">
					</div>
					<div class="col">
						<label class="label"><small>Max</small></label>
						<input min-length="5000" max-length="100000" id="budget-max-range-mobile" type="number" class="form-control input-sm" placeholder="Max">
					</div>
					<div class="col-auto">
						<button id="apply-range" class="btn btn-secondary btn-sm btn-block">Go</button>
					</div>
				</div>								 
				<div id="budget-slider-range-mobile"></div>
			</div>
		</div>
	</li>
	
	<li class="dropdown more-options">
		<button class="btn btn-outline-normal dropdown-toggle" type="button" id="dropdown-gender-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			More Options
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdown-gender">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-3">
						<header class="header">
							<h5 class="head-sm">Filter By Area</h5>
						</header>						
						<div class="form-group row">
							<div class="col-6">
								<input type="number" class="form-control" placeholder="Min sq. ft.">
							</div>
							<div class="col-6">
								<input type="number" class="form-control" placeholder="Min sq. ft.">
							</div>												
						</div>
						<header class="header">
							<h5 class="head-sm">Show Property</h5>
						</header>
						<div class="form-group row">
							<div class="col-12 margin-top-5 margin-bottom-5">
								<input class="styled-checkbox" id="exclude-booked-property-mobile" type="checkbox" value="exclude-booked-property">
								<label for="exclude-booked-property">Exclude Booked Property</label>
							</div>												
						</div>
					</div>
					
					<div class="col-sm-12 col-lg-9">
															
						<header class="header">
							<h5 class="head-sm">Amenities</h5>
						</header>

						<div class="row">
							<div class="col-sm-6 col-lg-4">
								<div class="form-group row">
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-swimming-pool-mobile" type="checkbox" value="amenity-swimming-pool">
										<label for="amenity-swimming-pool-mobile">Swimming Pool</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-squash-court-mobile" type="checkbox" value="amenity-squash-court">
										<label for="amenity-squash-court-mobile">Squash Court</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-basketball-court-mobile" type="checkbox" value="amenity-basketball-court">
										<label for="amenity-basketball-court-mobile">Basketball Court</label>
									</div>											
								</div>
							</div>
							<div class="col-sm-6 col-lg-4  margin-top-xs--15">
								<div class="form-group row">
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-security-mobile" type="checkbox" value="amenity-security">
										<label for="amenity-security-mobile">Security</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-power-backup-mobile" type="checkbox" value="amenity-power-backup">
										<label for="amenity-power-backup-mobile">Power Backup</label>
									</div>
									<div class="col-12 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-gymanasium-mobile" type="checkbox" value="amenity-gymanasium">
										<label for="amenity-gymanasium-mobile">Gymanasium</label>
									</div>											
								</div>
							</div>
							<div class="col-sm-12 col-lg-4 margin-top-sm--15">
								<div class="form-group row">
									<div class="col-12 col-sm-6 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-badminton-court-mobile" type="checkbox" value="amenity-badminton-court">
										<label for="amenity-badminton-court-mobile">Badminton Court</label>
									</div>
									<div class="col-12 col-sm-6 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-parking-mobile" type="checkbox" value="amenity-parking">
										<label for="amenity-parking-mobile">Parking</label>
									</div>
									<div class="col-12 col-sm-6 margin-top-5 margin-bottom-5">
										<input class="styled-checkbox" id="amenity-tennis-court-mobile" type="checkbox" value="amenity-tennis-court">
										<label for="amenity-tennis-court-mobile">Tennis Court</label>
									</div>											
								</div>
							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</li>

</ul>

<script>
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = decodeURI(value);
		});
		return vars;
	}

	console.log(JSON.stringify(getUrlVars()))
</script>