<!-- testimonials -->
<section class="container-fluid testimonial-container">
	
	<div class="container padding-left-0 padding-right-0">
		<div class="row">
			<div class="col">
				<div class="slick-slider testimonial-slider" id="testimonial-slider">
					
					
					<div class="slide-item">
						<p>Team Furnome welcomed us in Bangalore at 3 am. Starting then, they have been at their toes to fulfill each and every requirement we had. From changing & repairing every little thing in the house.. to changing houses within 3 months..they helped, supported & entertained our needs, sometimes going out of their way.</p>
						<div class="person">
							<img src="/assets/img/ashni-tenant.jpeg">
							<div class="name">House hunting made convenient</div>
							<div class="company"> -Aashni, Tenant</div>
						</div>
					</div>
					<div class="slide-item">
						<p>I have been extremely satisfied and benefitted with Furnome's services and am very happy with the way in which they handle tenant issues resulting in a hassle free experience. The team is always accessible and free to suggestions and is always adapting to situations for the convenience of owners.</p>
						<div class="person">
							<img src="/assets/img/avinash-owner.jpg">
							<div class="name">Hassle free ownership experience</div>
							<div class="company"> -Avinash, Owner</div>
						</div>
					</div>
					<div class="slide-item">
						<p>We have been living in the flat for over 4 months now and I must say that it has been a great experience. We have had no hassles as tenants, with a very hands off approach of ownership. The flat was in prime condition along with all the furnishings when we moved in. This is the only place where we found such a nice and spacious flat at an extremely reasonable monthly rent. We would like to thank everyone involved for making our house renting experience such a pleasant one.</p>
						<div class="person">
							<img src="/assets/img/piyush-tenant.jpeg">
							<div class="name">A great house renting experience</div>
							<div class="company"> -Piyush, Tenant</div>
						</div>
					</div>
					<div class="slide-item">
						<p> This is to express my appreciation for the excellent services which I have received from Furnome for finding great tenants and renting my apartment. The staff is warm and accommodating. Specifically the team is very responsive and updates me regularly while renting my apartment. The background verification that Furnome does makes the life of anowner happy. Please start the services in other metros too.</p>
						<div class="person">
							<img src="/assets/img/prakash-owner.jpeg">
							<div class="name">Making life of the owner happy</div>
							<div class="company"> -Prakash Velamuri, Owner</div>
						</div>
					</div>
					

				</div>
			</div>
		</div>
	</div>

</section>
