.no-shadow {
	box-shadow: none !important;
}

.hidden {
	display: none;
}

@media(max-width: 768px) {
	.hide-on-sm{
		display: none !important
	}
}

@media(max-width: 576px) {
	.hide-on-xs{
		display: none !important
	}
	.margin-top-xs--15{
		margin-top: -15px !important;
	}
}

@media(max-width: 992px) {
	.hide-on-md{
		display: none !important
	}
	.margin-top-sm--15{
		margin-top: -15px !important;
	}
}

@media(min-width: 1200px) {
	.hide-on-lg{
		display: none !important
	}
}


/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */

.border-bottom{
	border-bottom: 1px solid $colorBorder;
}


/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */

.color-white{
	color: $colorWhite;
}

.color-tertiary{
	color: $colorTertiary;
}

.bg-color-secondary{
	background-color: $colorSecondary !important;
}

.text-weight-md{
	font-weight: 300 !important;
} 