
/* ---------------------------	
	GUTTER		
------------------------------------------------------------------------------------------------------- */

@for $i from -20 through 30 {

  .margin-top-#{$i * 5} {margin-top: $i * 5px !important;   }
  .margin-right-#{$i * 5} { margin-right: $i * 5px !important; }
  .margin-bottom-#{$i * 5} { margin-bottom: $i * 5px !important; }
  .margin-left-#{$i * 5} { margin-left: $i * 5px !important; }

  .padding-top-#{$i * 5} { padding-top: $i * 5px !important; }
  .padding-right-#{$i * 5} { padding-right: $i * 5px !important; }
  .padding-bottom-#{$i * 5} { padding-bottom: $i * 5px !important; }
  .padding-left-#{$i * 5} { padding-left: $i * 5px !important; }

}

