
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');


/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */
@import './variables/_colors.scss';  
@import './variables/_fonts.scss';  
@import './variables/_borders.scss';  


/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */
@import './mixins/_box-shadow.scss';
@import './mixins/_animations.scss';
@import './mixins/_clearfix.scss';
@import './mixins/_icons.scss';
@import './mixins/_overlays.scss';
@import './mixins/_scroll.scss';

 
/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */
@import './libraries/_flex.scss';
@import './libraries/_custom-slider.scss';
@import './libraries/_styled-checkbox.scss';
@import './libraries/_social-buttons.scss';
 

/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */
@import './base/_symantics.scss';
@import './base/_typography.scss';
@import './base/_hero.scss';
@import './base/_header.scss';
@import './base/_footer.scss';


/* ---------------------------	 
			
------------------------------------------------------------------------------------------------------- */
@import './components/_static-nodes-container.scss';
@import './components/_questions-answer.scss';
@import './components/_headlines.scss';
@import './components/_jumbo-search.scss';
@import './components/_our-offerings.scss';
@import './components/_popular-localities.scss'; 
@import './components/_property-nodes.scss';
@import './components/_starts.scss';
@import './components/_testinomials.scss';
@import './components/_why-us.scss';
@import './components/_primary-filters.scss';
@import './components/_badges.scss';
@import './components/_map-container.scss';
@import './components/_modals.scss';
@import './components/_step-wizad.scss';


/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */
@import './forms/_inputs.scss';
@import './forms/_buttons.scss';



/* ---------------------------	 
			
------------------------------------------------------------------------------------------------------- */
@import './pages/_listing-page.scss';
@import './pages/_description-page.scss';
@import './pages/_contact-page.scss'; 
@import './pages/_about-page.scss'; 
@import './pages/_post-property-page.scss'; 





/* =====================================
	
	Only overriding styles go beyond this point	
	
================================================================================================================ */




/* ---------------------------	
					
------------------------------------------------------------------------------------------------------- */
@import './overrides/_card.scss';
@import './overrides/_grid.scss';
@import './overrides/_row-col.scss';
@import './overrides/_tooltip.scss';
@import './overrides/slick-slider.scss';
@import './overrides/_dropdown.scss';
@import './overrides/_noui-range-slider.scss';
@import './overrides/_nav.scss';
@import './overrides/_collapse.scss';
@import './overrides/_modal.scss';
@import './overrides/_ios-hacks.scss';


/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */
@import './helpers/_gutters.scss';
@import './helpers/_classes.scss';
