.card {
    border: none;
    border-radius: $radius;
    @include shadowLite();
    //background-color: darken( $colorBackground, 0.7% );
    margin-bottom: 20px;

    .card-block{
        padding: 20px;

        h4 {
            font-weight: 300;
            font-size: 24px;

            .icon {
                width: 30px;
                height: 30px;
                text-align:center;
                display: inline-block;
                margin-right: 10px;
                background-color: $colorSecondary;
                border-radius: 100%;

                i{
                    line-height: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $colorWhite;
                }
            }
        }

        p {
            font-size: 13px;
        }
    }
}