.accordion{
    .header {
        a{
            display: block;
            position: relative;

            &::after {
                content: '-';
                top: 0;
                right: 0;
                font-weight: 100;
                position: absolute;
                font-size: 34px;
                line-height: 17px;
            }

            &.collapsed{
                &::after {
                    content: '+';
                    font-size: 26px;
                    line-height: 16px;
                }  
            }
        }
    }
}

.accordion {
    background-color: rgba( $colorWhite, 0.8 );
    @include transition();

    &:hover {
        background-color: rgba( $colorWhite, 1 );
    }

    .header {
        padding: 15px;  
        border-top: 1px solid $colorBorder;
        border-bottom: 1px solid $colorBorder;
        margin-top: -1px;

        a {
            font-size: 16px;
            color: $colorBlack;
            text-decoration: none;
            font-weight: 500;
        }
    }

    .content {              
        //border-top: 2px solid $colorSecondary;    
        //border-bottom: 1px solid $colorBorder;    
        padding: 15px;   

        p:last-child {
            margin: 0;
        } 
    }
}
