.dropdown{
    .dropdown-menu{
        padding: 0;
        border-radius: 0;
        border: 1px solid $colorBorder;        
        margin-top: -0.5px;
        @include shadowDefault();
        
        .dropdown-item {
            padding: 10px 15px;
            font-size: 14px;
            @include transitionCubic();
            
            &:hover, &:active, &:focus {
                background-color: darken($colorWhite, 4%);
                color: $colorBase;
            }
        }

    }
    
    @media(min-width: 993px) {
        &:hover > .dropdown-menu {
            display: block; 
            //top: 100% !important;
        }
    }
}

.dropdown-toggle::after {
    margin-left: 0.5em;
    vertical-align: 0px;
    border-top: .6em solid darken($colorBorder, 10%);
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
}