/* ---------------------------	
			
------------------------------------------------------------------------------------------------------- */

$bootstrapGutter: 10px;


/* ---------------------------    
            
------------------------------------------------------------------------------------------------------- */

@media (max-width: 992px){
    .container {
        max-width: 100%;
    }
}