.nav{
	&.nav-custom-tabs{

		.nav-item{

			.nav-link{
				margin-right: 1px;
				padding: 24px;
				font-weight: 500;
				text-transform: uppercase;
				color: lighten($colorBase, 50%);
				font-size: 15px;
				min-width: 120px;
				
				&.active {
					background-color: $colorSecondary;
					color: $colorWhite;
				}

				@media(max-width: 576px) {
					padding: 12px 5px;
				}

				i {
					display: block;
					text-align: center;
					font-size: 30px;
				}
			}
		}
		
		&.nav-sm .nav-item .nav-link{
			padding: 8px 15px;
			font-size: 13px;

			&.active {
				background-color: transparent;
				color: $colorSecondary;
				border-bottom: 2px solid $colorSecondary;
			}
		}


		&.nav-md .nav-item .nav-link{
			padding: 18px 25px;
			font-size: 15px;

			&.active {
				background-color: transparent;
				color: $colorSecondary;
				border-bottom: 2px solid $colorSecondary;
			}
		}

	}
}