.slick-slider{
	position: relative;

	.slick-arrow{
		width: 58px;
		height: 58px;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: $colorBackground;
		border: 0;
		border-radius: 100%;
		font-size: 0;
		background-repeat: no-repeat;
		background-size: cover;
		outline: none !important;
		cursor: pointer;
		box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
		
		&.slick-prev{			
			left: -15px;

			&::after {
				@include peIcon($content: '\e686');
				font-size: 42px;
			}
		}

		&.slick-next{
			
			&::after {
				@include peIcon($content: '\e684');
				font-size: 42px;
			}
			right: -15px;
		}
	}

}