.contact-us-container{
	.address {
		margin-left: 30px;
		padding-left: 30px;
		margin-top: 30px;

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				margin-bottom: 35px;

				h3 {
					font-weight: 500;
					text-transform: uppercase;
					color: lighten($colorBase, 50%);
					font-size: 15px;
				}
				p{
					line-height: normal;
				}

				a {
					 color: $colorBase;
					 text-decoration: none;
				}

				ul.socil-media-link {
					margin: 0 -10px;

					li {
						display: inline-block;
						margin: 0px 10px;
						margin-top: 20px;

						a {
							display: inline-block;
							color: lighten($colorBase, 40%);
							font-size: 24px;
						}
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		@media(max-width: 768px) {
			margin-left: 0;
			padding-left: 0;
		}
	} 
}