.brief-container{
	@include shadowLite();
	border-radius: $radius;
	margin-top: -190px;
	background-color: $colorWhite;
	position: relative;
	z-index: 1;

	.content {
		padding: 30px;
	}

	h1.title{
		font-size: 32px;
		font-weight: 300;
		letter-spacing: -1px;
		margin: 0;
		color: $colorBlack;
	}

	address.address {
		display: block;
		padding: 4px 0;
		margin: 0;

		i  {
			font-size: 12px;
			font-weight: 900;
		}
	}
	
	ul.share {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: right;
		margin-bottom: 20px;

		li{
			display: inline-block;
			padding: 2px;

			a{
				display: inline-block;
				
				img {
					width: 24px;
					display: inline-block;
				}
			}
		}
	}

	@media(max-width: 768px) {
		margin-top: -100px;
		
		.content {
			padding: 20px;
		}

		h1.title {
			font-size: 28px;
		}
		
		ul.share{
			margin-top: 20px;
		}

		h1.title, address.address, ul.share, div.text-right, .badge-wrapper{
			text-align: center !important; 
		}
	}

}

.book-now-container{
	@include shadowLite();
	border-radius: $radius;
	background-color: $colorWhite;
	margin-top: 50px;
	overflow: hidden;

	.modile {
		display: none
	}

	.content {	
		hr {
			margin: 30px 0; 
		}	
	}

	.nav-sm{
		border-top: 1px solid $colorBorder;
		border-bottom: 1px solid $colorBorder;
		margin-bottom: 15px;
		color: $colorBase;
	}

	.title{
		font-size: 28px;
		font-weight: 300;
		margin: 10px 0;
		color: $colorSecondary;

		.badge{
			position: relative;
			top: -6px;

		}
	}

	.amount-wrapper{
		margin-top: 20px;

		label{
			display: block;
			font-size: 12px;
			letter-spacing: 2px;
			font-weight: 500;
			margin-bottom: 0;
		}

		var.rent, var.deposit{
			font-size: 24px;
			color: lighten( $colorBase, 50% );
			font-style: normal;
			font-weight: 500;

			small {
				font-size: 14px;
				margin-left: -8px;
			}
		}
	}

	.available-from-wrapper{
		border: 1px solid $colorTertiary;
		border-radius: $radiusLG;
		padding: 10px 20px;

		.availablity{
			position: relative;

			img, .content{
				display: inline-block;
				height: 50px;
				vertical-align: top;				
			}

			.content {
				height: auto;
				padding-left: 15px;
				padding-top: 8px;

				label, time {
					display: block;
					font-size: 11px;
					text-transform: uppercase;
					margin: 0;
					font-weight: 500;
				}

				label {
					color: $colorTertiary;
				}
			}

		}
	}

	.room-amenities-wrapper{
		margin-top: 25px;
		padding-bottom: 30px;

		ul {
			list-style-type: none;
			margin: 0 -12px;
			padding: 0;

			li {
				font-size: 0;
				display: inline-block;
				width: calc(98% / 3);
				padding: 5px 8px;

				label, img{
					vertical-align: middle;
					display: inline-block;
					font-size: 13px;
				}

				img {
					width: 40px;
					margin-right: 5px;
				}

				label{
					width: calc(100% - 45px);
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
			}
		}
	}

	.modal-book-now-aise{
		.modal-body{
			padding: 0 !important;
			
			.tab-content .container{
				padding: 0 15px;
			}
		}
	}

	@media(max-width: 1200px) {
		.room-amenities-wrapper{
			ul {
				li {
					width: 49%;
				}
			}
		}
		.available-from-wrapper{
			text-align: center;
		}
	}

	@media(max-width: 992px) {
		.desktop {
			display: none;
		}
		.mobile {
			display: block;
		}
	}

	@media(max-width: 768px) {
		.title {
			font-size: 24px;
		}
		.available-from-wrapper{
			text-align: left;
		}

		.amount-wrapper{
			margin-top: 20px;

			label{
				font-size: 11px;
			}

			var.rent, var.deposit{
				font-size: 22px;

				small {
					font-size: 12px;
				}
			}
		}
	}

	@media(max-width: 576px) {
		.title{
			font-size: 20px;
			margin-top: 5px;

			.badge {
				font-size: 10px;
				top: -5px;
			}
		}

		.available-from-wrapper{
			text-align: left;
			padding: 0;
			border: 0;
			border-radius: 0;
			margin-top: -10px;
			padding-bottom: 20px;
			border-bottom: 1px solid $colorBorder;

			.availablity{
				.content{
					padding: 0;
					padding-top: 5px;
				}
			}
		}
	}
}

.desctiption-container{
	margin-top: 70px;

	.into-section {
		margin-top: 30px;
	}

	.sub-section{
		@include shadowLite();
		border-radius: $radius;
		background-color: $colorWhite;
		margin-top: 50px;
		overflow: hidden;

		.nav.nav-custom-tabs.nav-md{ 
			border-bottom: 2px solid $colorBorder;
			
			.nav-item .nav-link.active{
				margin-bottom: -2px;
			}
		}

		.tab-content{
			padding: 25px;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				line-height: 28px;

				li {

					&::before {
						@include peIcon("\e684");
						font-weight: 900;
						font-size: 24px;
						margin-right: 5px;
						position: relative;
						top: 5px;
					}
				}
			}
		}
	}
	
	.room-gallery{
		a {
			display: block;
			width: 100%;
			height: 100%;
			max-height: 180px;
			padding: 10px 0;

			img {
				width: 100%;
				height: 100%;
				object-fit:cover;
				@include transitionAll();

				&:hover {
					@include shadowDefault();
				}
			}
		}

		@media(max-width: 992px) {			
    		.row {
    			overflow-x:auto;
    			white-space: nowrap;
    			display: block;
    			margin: 10px -20px;
    			@include scroll();

    			[class*="col-"]{
    			 	float: none;
    			 	display: inline-block;
    			 	width: 200px;
    			 	max-width: 200px;
    			 	height: 200px;
    			 	padding: 5px;
    			 }
    		}
		}
	}
	
}



