.listing-container{
	overflow: hidden;

	.property-node-container, .map-wrapper{
		min-height: inherit;
	}

	.property-node-container {		
		max-height: inherit;
		overflow: auto;
		@include scroll();
	}

	.map-wrapper{
		position: relative;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.container {
		.property-node-container{
			height: auto !important;
			//margin-top: 40px !important;
			max-width: 100%;
			flex: 100%;
			flex-flow: row wrap;
			
			.property-node {
				margin: 10px;
				width: calc( (100% - 80px) / 4) !important;

				@media(max-width: 992px) {
					width: calc( (100% - 60px) / 3) !important;
				}
				@media(max-width: 768px) {
					width: calc( (100% - 40px) / 2) !important;
				}
				@media(max-width: 576px) {
					width: 100% !important;
					margin: 10px 0;
				}
			}
		}
	}

	/* Only add margin when grid layout is enabled */
	&:not( .container ) {

		+ .primary-footer{
			margin-top: 5px;
		}
	}

}