.list-my-property-container{
	.post-property-container{
		min-height: 300px;
		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;

		.left, .right{
			height: 100%;
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
		}

		.left{
			background-color: $colorWhite;
			left: 0;
		}

		.right{
			background-color: $colorTertiary;
			right: 0;
		}

		.mobile {
			display: none;
		}

		.form-section{
			background-color: $colorWhite;
			padding: 70px 50px;
			box-shadow: 15px 20px 0px 0px #0c0a0b30;
		}
	}

	@media(max-width: 992px) {
        .post-property-container{
        	margin-top: 0px !important;
        	padding-top: 0;

        	.left, .right{
        		display: none;
        	}
        	.desktop {
				display: none;
			}
        	.mobile {
				display: block;
			}
        
    		.form-section{
    			padding: 0;
    			box-shadow: none;

    			.header {
    				display: none;
    			}
    		}
        		    	
        }

    	// .for-owners-container{
    	// 	margin-top: -50px !important;
    	// }
    	
    	.furnome-benifits-container{
    		margin-top: -50px !important;
    	}

    	.testimonial-container{
    		margin-top: 20px !important;

    		.testimonial-slider{
    			padding: 20px;
    		}
    	}
    }
}

